<div fix-sidebar> </div>
<section class="content-header">
	<h1>
		<!-- <translate>Enter Promo Code</translate> -->
		<!-- <small translate >Manage your tags</small> -->
	</h1>
</section>

<section class="content">
	<div ng-if="working" ng-include="'views/WorkingView.html'"></div>

	<div  ng-if="!working && user_email !='demo@demo.demo'" class="row" style="margin:5px">
		<div class="col-lg-12" >

		<center>
			<h3 translate>Please enter promo code </h3>
			<input 	placeholder="{{ 'Promo code' | translate }}"
					type="text"
					style="width:300px; padding:5px; margin-top:5px"
					ng-model="$parent.promo_code"
					ng-keypress="key_pressed($event)"
					required></input>

			<div>

			<!-- errors -->
			<div>
				<section class="text-center errorMesssages" ng-hide="validationErrors==''" style="color:red">
					{{ validationErrors }}
				</section>
			</div>

			<!-- ok button-->
			<button
					class="btn btn-success btn-flat btn-min-width"
					style="margin-top:5px;"
					ng-click="okClicked()">
							<translate>Use Promo Code</translate>
				</button>
				</div>
		</center>

		</div>
	</div>

	<div ng-if="user_email =='demo@demo.demo'" class="row">
		<div class="col-lg-12" >
			<center>
				<h3 translate> You are logged in demo account </h3>
			</center>
		</div>
	</div>
</section>

