<div class="modal-header">
	<h4 class="modal-title" ><translate>Password recovery</translate></h4>
</div>
<div class="modal-body">
	<div class="row" style="margin:5px" ng-show="working == false">
		<div class="row" style="margin:5px">
			<div class="col-lg-12" ng-hide="show_check_email" >
				<input placeholder="{{ 'Your email' | translate }}" type="email" style="width:100%; padding:5px" ng-model="inputFields.Email" ng-keypress="key_pressed_on_email($event)" required autofocus></input>

					<section class="text-center errorMesssages" ng-hide="validationErrors==''" style="color:red">
						<br>
						{{ validationErrors }}
					</section>
			</div>

			<div class="col-lg-12" ng-show="show_check_email" >
				<translate>Please check your email.</translate>
			</div>
		</div>
	</div>

	<div class="row" ng-show="working == true" style="padding:10px">
		<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
	</div>
</div>
<div class="modal-footer">
	<div class="row" style="margin:5px" ng-hide="show_check_email">
		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="cancelClicked()" ng-disabled="working"><translate>Cancel</translate></button>
		</div>
		<div class="col-lg-6" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="okClicked()" class="md-primary" ng-disabled="working">	<translate>Ok</translate> </button>
		</div>
	</div>

	<div class="row" style="margin:5px" ng-show="show_check_email">
		<div class="col-lg-12" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="cancelClicked()" class="md-primary" ng-disabled="working">	<translate>Ok</translate> </button>
		</div>
	</div>
</div>
