<div class="modal-header">
	<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
	<h4 class="modal-title" ><translate>Sign Up</translate></h4>
</div>
<div class="modal-body">
	<div class="row" style="margin:5px" ng-show="working == false">
		<div class="row" style="margin:5px">
			<div class="col-lg-12" >
				<input placeholder="{{ 'Name' | translate }}"   type="text" style="width:100%; padding:5px" ng-model="inputFields.Name" required autofocus></input>
				<input placeholder="{{ 'Email' | translate }}"  type="email" style="width:100%; padding:5px; margin-top:5px" ng-model="inputFields.Email" required></input>
				<input placeholder="{{ 'Password' | translate }}" type="password" style="width:100%; padding:5px; margin-top:5px" ng-model="inputFields.Password"  ng-keypress="key_pressed_on_password($event)" required></input>

				<input ng-show="is_promo_code_visible" placeholder="{{ 'Promo code' | translate }}" type="text" style="width:100%; padding:5px; margin-top:5px" ng-model="inputFields.promo_code" ng-keypress="key_pressed_on_promo_code($event)" required></input>

			</div>
		</div>
		<div class="row" style="margin:5px">
			<div class="col-lg-12">
				<section class="text-center errorMesssages" ng-hide="validationErrors==''" style="color:red">
					{{ validationErrors }}
				</section>
			</div>
		</div>
	</div>

	<div class="row" ng-show="working == true" style="padding:10px">
		<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
	</div>
</div>
<div class="modal-footer">
	<div class="row" style="margin:5px">
		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="cancelClicked()" ng-disabled="working"><translate>Cancel</translate></button>
		</div>
		<div class="col-lg-6" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="signUpClicked()" class="md-primary" ng-disabled="working">	<translate>Sign Up</translate> </button>
		</div>
	</div>
</div>
