<div   ng-controller="Report_ItemsActivityCtrl" class="container-fluid" style="height:100%; padding-top:15px;">

        <div class="col-md-12 sidebar2" >
            <h2 translate style="margin-top:0px"> Items Activity </h2>
        </div>

        <!-- Input -->
        <section class="sidebar"  >
        <div class="col-md-2" >
			<div class="input-group" style="background:#FBFBFB;margin-right:5px;">
				<translate> Date form:</translate>
			</div>
			<p class="input-group">
				<input  type="text"  ng-disabled="false"
				class="form-control"
				datepicker-popup="{{calendar_format}}"
				ng-model="date_from"
				is-open="is_opened_from_calendar"
				datepicker-options="calendar_dateOptions"
				ng-required="true"
				close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="calendar_open_from($event, 'calendar_opend_' +cfn.custom_field_name_id)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
			<div class="input-group" style=" margin-right:5px;">
				<translate> Date to:</translate>
			</div>
			<p class="input-group">
				<input  type="text"  ng-disabled="false"
				class="form-control"
				datepicker-popup="{{calendar_format}}"
				ng-model="date_to"
				is-open="is_opened_to_calendar"
				datepicker-options="calendar_dateOptions"
				ng-required="true"
				close-text="Close" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="calendar_open_to($event, 'calendar_opend_' +cfn.custom_field_name_id)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
			<div class="text-right pull-right" style="width:100%">
				<button
				class="btn btn-primary btn-flat btn-min-width "
				style="margin-top:5px; width:100%"
				ng-click="show_report_clicked()">
					<i class="fa fa-pie-chart"></i>&nbsp;<translate>Show report</translate>
				</button>
			</div>

			<p>
				<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
			</p>
		</div>
        </section>

        <!-- Report -->


        <div class="col-md-10 col-md-offset-3 content" >

            <div class="row" ng-show="generating_report">
                <div
                        class="text-center"
                        style="margin:20px">
                    <div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
                </div>
            </div>

            <div class="row" ng-show="report_created && !generating_report">

                <!-- Excel -->
                <button
                class="btn btn-success btn-flat btn-min-width"
                style="margin-top:5px;"
                ng-click="exportToXLSX()">
                    <i class="fa fa-file-excel-o"></i>&nbsp;<translate>XLSX</translate>
                </button>

                <!-- PDF -->
               <button
                class="btn btn-success btn-flat btn-min-width"
                style="margin-top:5px;"
                ng-click="exportToPDF()">
                    <i class="fa fa-file-pdf-o"></i>&nbsp;<translate>PDF</translate>
                </button>

                <!-- CSV -->
               <button
                class="btn btn-success btn-flat btn-min-width"
                style="margin-top:5px;"
                ng-click="exportToCSV()">
                    <i class="fa fa-file-excel-o"></i>&nbsp;<translate>CSV</translate>
                </button>

            </div>

            <div class="row" ng-show="report_created && !generating_report">
                <div

                    id="grid_report"
                    ui-grid="gridOptions"
                    ui-grid-exporter
                    ui-grid-move-columns
                    style="margin-top:5px">
                </div>
            <div class="row">
        </div>
</div>

