<div fix-sidebar> </div>
<section class="content-header">
	<h1>
		<translate>Admin - Users</translate>
		<small><translate>Manage users</translate></small>
	</h1>
</section>

<section class="content">

	<div ng-if="working" ng-include="'views/WorkingView.html'"></div>
	<div ng-if="working == false">

		<div class="row" >
			<div class="col-lg-12 button-menu-bar">
				<button class="btn btn-refresh btn-flat   "  ng-click="refreshClicked()"><i class="fa fa-refresh"></i></button>
				<button class="btn btn-success btn-flat   btn-min-width"  ng-click="addButtonClicked()"><i class="fa fa-user-plus"></i>&nbsp;<translate>Add</translate></button>
				<button class="btn btn-primary btn-flat   btn-min-width"  ng-click="editButtonClicked()" ng-disabled="!isEditButtonEnabled"><i class="fa fa-pencil"></i>&nbsp;<translate>Edit</translate></button>
				<button class="btn btn-warning btn-flat   btn-min-width"  ng-click="changePasswordButtonClicked()" ng-disabled="!isEditButtonEnabled"><i class="fa fa-lock"></i>&nbsp;<translate>Change Password</translate></button>
				<!-- <button class="btn btn-danger  btn-flat   btn-min-width"  ng-click="deleteButtonClicked()" ng-disabled="isDeleteButtonDisabled"><i class="fa fa-trash-o"></i>&nbsp;Delete selected</button>			 -->

			<!-- Delete / Undelete -->
				<div class="btn-group">
					<button type="button" class="btn btn-danger btn-flat btn-min-width dropdown-toggle" ng-disabled="!isEditButtonEnabled" data-toggle="dropdown" aria-expanded="false">
						<translate>Delete/Undelete</translate>
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a ng-click="deleteButtonClicked()"><translate>Delete</translate></a></li>
						<li><a ng-click="undeleteButtonClicked()"><translate>Undelete</translate></a></li>
					</ul>
				</div>


				<span style ="padding-left:10px; vertical-align:text-top">
					<label><input type="checkbox" name="selected" ng-model="$parent.is_show_deleted_checked" ng-click="show_deleted_checkbox_clicked($parent.is_show_deleted_checked)" ng-init= "$parent.is_show_deleted_checked = previous_is_show_deleted_checked">
						<translate>Show deleted users</translate>
					</input></label>
				</span>
			</div>

			<div class="col-lg-12">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
			</div>

			<div class="col-lg-12">
				<div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns  style="margin-top:5px"></div>
			</div>

		</div>
<!--
		<div  class="row" ng-if="noItems">
			<div class="text-center">
				<h4>You have no users. Please create some.</h4>

				<a class="btn btn-app" ng-click="addButtonClicked()">
					<i class="fa fa-plus"></i> Add
				</a>
			</div>
		</div> -->
	</div>
</section>