
<section class="content-header">
	<h1>
		<translate>Admin</translate>
		<small><translate>Admin panel</translate></small>
	</h1>
</section>

<section class="content">
	<div class="row">

	<!-- 	<div class="col-md-4 col-sm-6 col-xs-12" ng-click="redirect('/fieldnames')">
		<div class="info-box bg-green pointer-cursor">

				<span class="info-box-icon"><i class="fa fa-pencil"></i></span>
				<span class="info-box-icon-right" >{{ field_names_count}} </span>

				<div class="info-box-content">
					<span class="info-box-title">Field Names	</span>
					<span class="info-box-text">Name your fields</span>
				</div>
			</div>
		</div>	 -->

		<!-- Item's Fileds -->
		<div ng-if="user && user.perm_admin_fields==1" class="col-md-4 col-sm-6 col-xs-12pointer-cursor" ng-click="redirect('/fieldnames')">
			<div class="info-box bg-material-blue pointer-cursor" >
				<span class="info-box-icon"><i class="fa fa-pencil"></i></span>
				<span class=" info-box-icon-right" >{{ account_satistics.custom_field_names_count}} </span>

				<div class="info-box-content">
					<span class="info-box-title"><translate>Item's Fields	</translate></span>
					<span class="info-box-text"><translate>Set fields for items</translate></span>
				</div>
			</div>
		</div>

		<!-- Account -->
		<div ng-if="user && user.perm_admin_account==1" class="col-md-4 col-sm-6 col-xs-12pointer-cursor" ng-click="redirect('/my_account')">
			<div class="info-box bg-material-blue pointer-cursor" >
				<span class="info-box-icon"><i class="fa fa-bar-chart"></i></span>
				<!-- <span class=" info-box-icon-right" >{{ account_satistics.items_count}} </span> -->

				<div class="info-box-content">
					<span class="info-box-title"><translate>Account	</translate></span>
					<span class="info-box-text"><translate>Information about account</translate></span>
				</div>
			</div>
		</div>

		<!-- User Groups -->
		<div ng-if="user && user.perm_admin_user_groups==1" class="col-md-4 col-sm-6 col-xs-12pointer-cursor" ng-click="redirect('/admin_user_groups')">
			<div class="info-box bg-material-blue pointer-cursor" >
				<span class="info-box-icon"><i class="fa fa-cubes"></i></span>
				<span class=" info-box-icon-right" >{{ account_satistics.user_groups_count}} </span>

				<div class="info-box-content">
					<span class="info-box-title"><translate>User Groups</translate></span>
					<span class="info-box-text"><translate>Manage user groups</translate></span>
				</div>
			</div>
		</div>

		<!-- Invoices -->
		<div ng-if="user && user.perm_invoices_view==1 && AppSettings.AllowInvoices == true"  class="col-md-4 col-sm-6 col-xs-12pointer-cursor" ng-click="redirect('/invoices')">
			<div class="info-box bg-material-blue pointer-cursor" >
				<span class="info-box-icon"><i class="fa fa-book"></i></span>
				<!-- <span class=" info-box-icon-right" >{{ account_satistics.users_count}} </span> -->

				<div class="info-box-content">
					<span class="info-box-title"><translate>Invoices	</translate></span>
					<span class="info-box-text"><translate>Download your invoices</translate></span>
				<!-- 	<div class="progress">
						<div class="progress-bar" ng-style="{'width': account_satistics.items_left_percentage+'%'}" ></div>
					</div> -->
				</div>
			</div>
		</div>

		<!-- Users -->
		<div ng-if="user && user.perm_admin_users==1"  class="col-md-4 col-sm-6 col-xs-12pointer-cursor" ng-click="redirect('/admin_users')">
			<div class="info-box bg-material-blue pointer-cursor" >
				<span class="info-box-icon"><i class="fa fa-users"></i></span>
				<span class=" info-box-icon-right" >{{ account_satistics.users_count}} </span>

				<div class="info-box-content">
					<span class="info-box-title"><translate>Users	</translate></span>
					<span class="info-box-text"><translate>Add / Delete users</translate></span>
					<div class="progress">
						<div class="progress-bar" ng-style="{'width': account_satistics.items_left_percentage+'%'}" ></div>
					</div>
				</div>
			</div>
		</div>



		<!-- Permissions -->
		<div ng-if="user && user.perm_admin_permissons==1"  class="col-md-4 col-sm-6 col-xs-12pointer-cursor" ng-click="redirect('/admin_permissions')">
			<div class="info-box bg-material-blue pointer-cursor" >
				<span class="info-box-icon"><i class="fa fa-check-square "></i></span>
				<!-- <span class=" info-box-icon-right" >{{ account_satistics.items_count}} </span> -->

				<div class="info-box-content">
					<span class="info-box-title"><translate>Permissions	</translate></span>
					<span class="info-box-text"><translate>Add / Delete users</translate></span>
					<div class="progress">
						<div class="progress-bar" ng-style="{'width': account_satistics.items_left_percentage+'%'}" ></div>
					</div>
				</div>
			</div>
		</div>







	</div>

</div>


</section>
<!-- /.content -->
