<div fix-sidebar> </div>
<section class="content-header">
	<h1>
		<translate>Admin - Permissions</translate>
		<small><translate>Manage user groups permissions</translate></small>
	</h1>
</section>

<section class="content">

	<div ng-if="working" ng-include="'views/WorkingView.html'"></div>
	<div ng-if="working == false">

		<div class="row" >

			<!-- User Group -->

			<div class="col-lg-6" >

				<table style="width:100%;">
					<tr>
						<td style="width:100px;">
							<b><translate>User Group:</translate></b>
						</td>

						<td>
							<span style="width:50%;">
								<ui-select ng-model="$parent.$parent.selected_user_group"
								theme="bootstrap"
								ng-disabled="disabled"
								on-select="selection_changed($parent.$parent.selected_user_group)"
								reset-search-input="false"
								title="{{ 'User Group'|translate}}">
									<ui-select-match placeholder="{{ 'User Group'|translate}}">{{$select.selected.name}}</ui-select-match>
									<ui-select-choices repeat="item in user_groups  | propertiesFilter: {name: $select.search}">
										<div ng-bind-html="item.name | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
							</span>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- selected_user_group -->
		<div class="row" style="padding-top:15px;">
			<div class="col-lg-12" >
				<h3><translate>Permissions:</translate></h3>
			</div>
		</div>

		<div class="row" style="padding-top:15px;">
			<div class="col-lg-12" >
				<table  class="table">

					<!-- Items -->
					<tr>
						<th class="permission-header">
							<translate>Items:</translate>
						</th>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_items_view"> <translate>View</translate> </input>
							</label>
						</td>
						<td class="permission-data" colspan="4">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_items_edit"><translate>Edit</translate></input>
							</label>
						</td>
					</tr>

					<!-- In Out -->
					<tr>
						<th class="permission-header">
							<translate>In Out Entries:</translate>
						</th>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_inout_view"> <translate>View </translate></input>
							</label>
						</td>
						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_inout_add_check_in"> <translate>Add Check In </translate></input>
							</label>
						</td>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_inout_add_check_out"> <translate>Add Check Out </translate></input>
							</label>
						</td>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_inout_add_tranfer"> <translate>Add Transfer </translate></input>
							</label>
						</td>

						<td class="permission-data" colspan="4">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_inout_delete"> <translate>Delete</translate></input>
							</label>
						</td>
					</tr>

					<!--Locations -->
					<tr>
						<th class="permission-header">
							<translate>Locations:</translate>
						</th>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_locations_view"> <translate>View </translate></input>
							</label>
						</td>
						<td class="permission-data" colspan="4">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_locations_edit"> <translate>Edit </translate></input>
							</label>
						</td>
					</tr>


					<!--Categories -->
					<tr>
						<th class="permission-header">
							<translate>Categories:</translate>
						</th>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_categories_view"> <translate>View </translate></input>
							</label>
						</td>
						<td class="permission-data" colspan="4">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_categories_edit"> <translate>Edit </translate></input>
							</label>
						</td>
					</tr>

					<!--Tags -->
					<tr>
						<th class="permission-header">
							<translate>Tags:</translate>
						</th>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_tags_view"> <translate>View </translate></input>
							</label>
						</td>
						<td class="permission-data" colspan="4">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_tags_edit"> <translate>Edit </translate></input>
							</label>
						</td>
					</tr>

					<!--States -->
					<tr>
						<th class="permission-header">
							<translate>States:</translate>
						</th>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_states_view"> <translate>View </translate></input>
							</label>
						</td>
						<td class="permission-data" colspan="4">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_states_edit"> <translate>Edit </translate></input>
							</label>
						</td>
					</tr>

					<!--My Requests -->
					<tr>
						<th class="permission-header">
							<translate>My Requests:</translate>
						</th>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_my_requests_view"> <translate>View </translate></input>
							</label>
						</td>
						<td class="permission-data" colspan="4">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_my_requests_edit"> <translate>Edit </translate></input>
							</label>
						</td>
					</tr>

					<!-- All Requests -->
					<tr>
						<th class="permission-header">
							<translate>All Requests:</translate>
						</th>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_all_requests_view"><translate>View </translate></input>
							</label>
						</td>
						<td class="permission-data" colspan="4">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_all_requests_edit"> <translate>Edit </translate></input>
							</label>
						</td>
					</tr>

					<!-- Audit -->
					<tr>
						<th class="permission-header">
							<translate>Audit:</translate>
						</th>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_audit_view"> <translate>View </translate></input>
							</label>
						</td>
						<td class="permission-data" colspan="4">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_audit_edit"> <translate>Edit </translate></input>
							</label>
						</td>
					</tr>


					<!-- Reports -->
					<tr>
						<th class="permission-header">
							<translate>Reports:</translate>
						</th>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_reports_view"> <translate>View </translate></input>
							</label>
						</td>
					</tr>

					<!--Admin -->
					<tr>
						<th class="permission-header">
							<translate>Admin:</translate>
						</th>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_admin_fields"> <translate>Set Item Fields </translate></input>
							</label>
						</td>
						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_admin_account"> <translate>Account Settings </translate></input>
							</label>
						</td>
						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_admin_user_groups"> <translate>User Groups </translate></input>
							</label>
						</td>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_admin_users"> <translate>Users </translate></input>
							</label>
						</td>

						<td class="permission-data">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_admin_permissons"> <translate>Permissions </translate></input>
							</label>
						</td>

						<td class="permission-data" ng-show="AppSettings.AllowInvoices == true">
							<label>
								<input type="checkbox" ng-model="$parent.selected_user_group.perm_invoices_view"> <translate>Invoices </translate></input>
							</label>
						</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-12 text-right" >
				<div ng-if="saving" ng-include="'views/WorkingView.html'"></div>
				<div ng-if="!saving">
					<button class="btn btn-success btn-flat btn-min-width" ng-click="save_button_clicked()" ng-disabled="working"><translate>Save</translate></button>

				</div>
			</div>
		</div>
	</div>

</section>