<div class="modal-header">
	<h4 ng-show="!is_editing" class="modal-title"><i class="fa fa-plus"></i> &nbsp;<translate>Add state</translate></h4>
	<h4 ng-show="is_editing" class="modal-title"><i class="fa fa-pencil"></i> &nbsp;<translate>Edit state</translate></h4>
</div>
<div class="modal-body">
	<div class="row" style="margin:5px" ng-show="working == false">


		<!-- name -->
		<div class="row" style="margin:5px">
			<div class="col-lg-12" > <translate>Name</translate> </div>
			<div class="col-lg-12" >
				<input placeholder="{{ 'State name' |translate }}" type="text" style="width:100%; padding:5px" ng-model="inputFields.Name" required autofocus></input>
			</div>
		</div>

		<!-- color -->
		<div class="row" style="margin:5px">

			<div class="col-lg-12" > <translate>Color</translate> </div>
			<div class="col-lg-12" >
				<color-picker ng-model="selectedColor"
						color-picker-format="'hex'"
						color-picker-alpha="false"
						color-picker-on-change="onColorChange($event, color)"
				></color-picker>
			</div>
		</div>



		<div class="row" style="margin:5px">
			<div class="col-lg-12">
				<section class="text-center errorMesssages" ng-hide="validationErrors==''" style="color:red">
					{{ validationErrors }}
				</section>
			</div>
		</div>
	</div>

	<div class="row" ng-show="working == true" style="padding:10px">
		<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
	</div>
</div>
<div class="modal-footer">
	<div class="row" style="margin:5px">
		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="cancelClicked()" ng-disabled="working"><translate>Cancel</translate></button>
		</div>
		<div class="col-lg-6" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="saveClicked()" class="md-primary" ng-disabled="working"> <translate>Save</translate> </button>
		</div>
	</div>
</div>
