<div class="modal-header">
	<h4 ng-show="editing == true" class="modal-title"><i class="fa fa-bar-chart"></i> &nbsp;<translate>Edit Audit</translate></h4>
	<h4 ng-show="adding  == true"  class="modal-title"><i class="fa fa-bar-chart"></i> &nbsp;<translate>Create Audit</translate></h4>
</div>
<div class="modal-body">
	<div class="row" style="margin:5px" ng-show="working == false">

		<!-- Name -->
		<div class="row" style="margin:5px">
			<div class="col-lg-12">
				<translate>Name</translate>
				<input placeholder="{{'Name'|translate}}" type="text" style="width:100%; padding:5px" ng-model="name" required autofocus></input>
			</div>
		</div>

		<!-- Location -->
		<div ng-show="adding && is_location_audit" class="row" style="margin:5px">
			<div class="col-lg-12" >
				<translate>Location</translate>
				<div class="row"  style="margin-right:0px; margin-left:0px;">
					<div ng-class="col-lg-12"  style="padding-right:2px">
						<ui-select ng-model="$parent.selected_location"
						theme="bootstrap"
						ng-disabled="disabled"
						reset-search-input="false"
						title="{{'Choose location'|translate}}">
							<ui-select-match placeholder="{{'Choose location'|translate}}">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="loc in locations  | propertiesFilter: {name: $select.search}">
								<div ng-bind-html="loc.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>
		</div>

		<!-- Category -->
		<div ng-show="adding && is_category_audit" class="row" style="margin:5px">
			<div class="col-lg-12" >
				<translate>Category</translate>
				<div class="row" style="margin-right:0px; margin-left:0px;">
					<div ng-class="col-lg-12"  style="padding-right:2px">
						<ui-select ng-model="$parent.selected_category"
						theme="bootstrap"
						ng-disabled="disabled"
						reset-search-input="false"
						title="{{'Choose category'|translate}}">
							<ui-select-match placeholder="{{'Choose category'|translate}}">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="loc in categories  | propertiesFilter: {name: $select.search}">
								<div ng-bind-html="loc.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>
		</div>




		<!-- Description -->
		<div class="row" style="margin:5px">
			<div class="col-lg-12">
				<translate>Description</translate>
				<textarea placeholder="{{'Description'|translate}}" type="text" style="width:100%; padding:5px" ng-model="description"></textarea>
			</div>
		</div>


		<!-- errors -->
		<div class="row" style="margin:5px">
			<div class="col-lg-12">
				<section class="text-center errorMesssages" ng-hide="validationErrors==''" style="color:red">
					{{ validationErrors }}
				</section>
			</div>
		</div>
	</div>

	<div class="row" ng-show="working == true" style="padding:10px">
		<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
	</div>
</div>
<div class="modal-footer">
	<div class="row" style="margin:5px">
		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="cancelClicked()" ng-disabled="working"><translate>Cancel</translate></button>
		</div>
		<div class="col-lg-6" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="saveClicked()" class="md-primary" ng-disabled="working"> <translate>Save</translate> </button>
		</div>
	</div>
</div>
