<div class="modal-header">
	<h4 ng-hide="item.custom_field_name_id" class="modal-title"><i class="fa fa-plus"></i> &nbsp;<translate>Add Field</translate></h4>
	<h4 ng-show="item.custom_field_name_id" class="modal-title"><i class="fa fa-pencil"></i> &nbsp;<translate>Edit Field</translate></h4>
</div>
<div class="modal-body">

	<div class="row" style="margin:5px" ng-show="working == false">
		<div class="row" style="margin:5px">
			<!-- Name -->
			<div class="col-lg-12" >
				<translate>Name</translate>
			</div>
			<div class="col-lg-12" >
				<input placeholder="{{'Field name'|translate}}" type="text" style="width:100%; padding:5px" ng-model="item.name" required autofocus></input>
			</div>
		</div>

		<div ng-show="selected_type.value == 9" class="row" style="margin:5px" >
			<!-- Email -->
			<div class="col-lg-12" >
				<translate>Email to send alerts</translate>
			</div>
			<div class="col-lg-12" >
				<input placeholder="{{'email'|translate}}" type="text" style="width:100%; padding:5px" ng-model="item.alert_email" required autofocus></input>
			</div>
		</div>

		<!-- type -->
		<div class="row" style="margin:5px" ng-hide="item.custom_field_name_id">
			<div class="col-lg-12" >
				<translate>Type</translate>
			</div>
			<div class="col-lg-12" >
				<span style="width:50%;">
					<ui-select ng-model="$parent.selected_type"
					theme="bootstrap"
					ng-disabled="disabled"
					on-select="selection_changed($parent.selected_type)"
					reset-search-input="false"
					title="{{'Type'|translate}}">
						<ui-select-match placeholder="{{'Type'|translate}}">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="item in types  | propertiesFilter: {name: $select.search}">
							<div ng-bind-html="item.name | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
				</span>
			</div>
		</div>

		<!-- Is Unique -->
		<div class="row" style="margin:5px" >
			<div class="col-lg-12" >
				<label>
					<input type="checkbox" ng-model="item.is_identifier"> <translate>Is Identifier</translate> </input>
				</label>
			</div>
		</div>

		<!-- Is Unique -->
		<div class="row" style="margin:5px" >
			<div class="col-lg-12" >
				<label>
					<input type="checkbox" ng-model="item.is_unique"> <translate>Is Unique</translate> </input>
				</label>
			</div>
		</div>


	</div>
	<div class="row" style="margin:5px">
		<div class="col-lg-12">
			<section class="text-center errorMesssages" ng-hide="validationErrors==''" style="color:red">
				{{ validationErrors }}
			</section>
		</div>
	</div>
</div>

<div class="row" ng-show="working == true" style="padding:10px">
	<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
</div>
</div>
<div class="modal-footer">
	<div class="row" style="margin:5px">
		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="cancelClicked()" ng-disabled="working"><translate>Cancel</translate></button>
		</div>
		<div class="col-lg-6" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="saveClicked()" class="md-primary" ng-disabled="working"> <translate>Save</translate> </button>
		</div>
	</div>
	</div>