<div class="modal-header">
	<h4 class="modal-title"><i class="fa fa-sign-out fa-exchange"></i> &nbsp;<translate>Add Request</translate></h4>
</div>
<div class="modal-body">
	<div class="row" style="margin:5px" ng-show="working == false">

		<div class="row" style="margin:5px">
			<div class="col-lg-12">
				<translate>Name</translate>
				<input placeholder="{{ 'Name' | translate }}" style="width:100%; padding:5px"  type="text" name="input" ng-model="request.name"  required>
			</div>
		</div>

		<div class="row" style="margin:5px">
			<div class="col-lg-12">
				<translate>Note</translate>
				<textarea placeholder="{{ 'Note' | translate }}" type="text" style="width:100%; padding:5px" ng-model="request.description"></textarea>
			</div>
		</div>

		<div class="row" style="margin:5px">
			<div class="col-lg-12">
				<section class="text-center errorMesssages" ng-hide="validationErrors==''" style="color:red">
					{{ validationErrors }}
				</section>
			</div>
		</div>
	</div>

	<div class="row" ng-show="working == true" style="padding:10px">
		<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
	</div>
</div>
<div class="modal-footer">
	<div class="row" style="margin:5px">
		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="cancelClicked()" ng-disabled="working"><translate>Cancel</translate></button>
		</div>
		<div class="col-lg-6" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="saveClicked()" class="md-primary" ng-disabled="working"> <translate>Save</translate> </button>
		</div>
	</div>
</div>
