<div class="modal-header">
	<h4 ng-if="adding_item" class="modal-title"><i class="fa fa-pencil"></i>&nbsp;<translate>Add item</translate></h4>
	<h4 ng-if="editing_item_one" class="modal-title"><i class="fa fa-pencil"></i>&nbsp;<translate>Edit item</translate></h4>
	<h4 ng-if="editing_item_multiple" class="modal-title"><i class="fa fa-plus"></i>&nbsp;<translate>Edit items</translate></h4>
</div>

<div class="modal-body">

	<div class="row">
		<div class="col-lg-12">
			<table class="table table-bordered" style="word-wrap: break-word;">
				<!-- <colgroup>
					<col class="col-md-1">
					<col class="col-md-1">
					<col class="col-md-10">
				</colgroup> -->
				<tbody>
					<!-- TEXT VALUES -->
					<tr  ng-repeat="cfn in  get_custom_fields_by_type(1)" >
						<td class="table-header" ng-if="editing_item_multiple" width="15px">
							<input
							style="margin:5px"
							type="checkbox"
							ng-model="edit_field_enabled[cfn.custom_field_name_id]" />
						</td>

						<td class="table-header" ng-disabled="true" width="20%">
							<b>{{ cfn.name }}</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
							<textarea 	class="form-control"  ng-disabled="editing_item_multiple && !edit_field_enabled[cfn.custom_field_name_id]"
							rows="1"
							placeholder="{{ 'Enter ...' | translate }}"
							ng-model="item['custom_field_id_'+cfn.custom_field_name_id]" >
							</textarea>
						</td>
					</tr>

					<!-- BARCODE VALUES -->
					<tr  ng-repeat="cfn in  get_custom_fields_by_type(5)" >

						<td class="table-header" ng-if="editing_item_multiple">
							<input
							style="margin:5px"
							type="checkbox"
							ng-model="edit_field_enabled[cfn.custom_field_name_id]" />
						</td>

						<td class="table-header">
							<b>{{ cfn.name }}</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2">
							<textarea 	class="form-control"  ng-disabled="editing_item_multiple && !edit_field_enabled[cfn.custom_field_name_id]"
							rows="1"
							placeholder="{{ 'Enter ...' | translate }}"
							ng-model="item['custom_field_id_'+cfn.custom_field_name_id]" >
							</textarea>
						</td>
					</tr>

					<!-- NUMBER VALUES -->
					<tr  ng-repeat="cfn in  get_custom_fields_by_type(2)" >

						<td class="table-header" ng-if="editing_item_multiple">
							<input
							style="margin:5px"
							type="checkbox"
							ng-model="edit_field_enabled[cfn.custom_field_name_id]" />
						</td>

						<td class="table-header">
							<b>{{ cfn.name }}</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2">
							<input  placeholder="{{ cfn.name }}"  ng-disabled="editing_item_multiple && !edit_field_enabled[cfn.custom_field_name_id]"
							class="numbers-only-input-class"
							style="width:100%; padding:5px"
							numbers-only
							type="text"
							name="input"
							ng-model="item['custom_field_id_'+cfn.custom_field_name_id]" />
						</td>
					</tr>

					<!-- MINIMUM COUNT ALERT VALUES -->
					<tr  ng-repeat="cfn in  get_custom_fields_by_type(9)" >
						<td class="table-header" ng-if="editing_item_multiple">
							<input
							style="margin:5px"
							type="checkbox"
							ng-model="edit_field_enabled[cfn.custom_field_name_id]" />
						</td>

						<td class="table-header">
							<b>{{ cfn.name }}</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2">
							<input  placeholder="{{ cfn.name }}"  ng-disabled="editing_item_multiple && !edit_field_enabled[cfn.custom_field_name_id]"
							class="numbers-only-input-class"
							style="width:100%; padding:5px"
							numbers-only
							type="text"
							name="input"
							ng-model="item['custom_field_id_'+cfn.custom_field_name_id]" />
						</td>
					</tr>

					<!-- BIT VALUES -->
					<tr  ng-repeat="cfn in  get_custom_fields_by_type(3)" >

						<td class="table-header" ng-if="editing_item_multiple">
							<input
							style="margin:5px"
							type="checkbox"
							ng-model="edit_field_enabled[cfn.custom_field_name_id]" />
						</td>

						<td class="table-header">
							<b>{{ cfn.name }}</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
							<input  placeholder="{{ cfn.name }}"  ng-disabled="editing_item_multiple && !edit_field_enabled[cfn.custom_field_name_id]"
							class="numbers-only-input-class"
							style="margin:5px"
							type="checkbox"
							name="input"
							ng-true-value="1"
							ng-false-value="0"
							ng-model="item['custom_field_id_'+cfn.custom_field_name_id]" />
						</td>
					</tr>

					<!-- DATETIME VALUES -->
					<tr  ng-repeat="cfn in  get_custom_fields_by_type(4)" >

						<td class="table-header" ng-if="editing_item_multiple">
							<input
							style="margin:5px"
							type="checkbox"
							ng-model="edit_field_enabled[cfn.custom_field_name_id]" />
						</td>

						<td class="table-header">
							<b>{{ cfn.name }}</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;">
							<p class="input-group">
								<input 	type="text"  ng-disabled="editing_item_multiple && !edit_field_enabled[cfn.custom_field_name_id]"
								class="form-control"
								datepicker-popup="{{calendar_format}}"
								ng-model="item['custom_field_id_'+cfn.custom_field_name_id]"
								is-open="$parent['calendar_opend_' +cfn.custom_field_name_id]"
								datepicker-options="calendar_dateOptions"
								ng-required="true"
								close-text="Close" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="calendar_open($event, 'calendar_opend_' +cfn.custom_field_name_id)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
						</td>


						<td class="items_table_value" style="vertical-align:middle;">
							<timepicker ng-model="item['custom_field_id_'+cfn.custom_field_name_id]" ng-change="time_changed()" hour-step="time_hstep" minute-step="time_mstep" show-meridian="false" ></timepicker>
						</td>
					</tr>


					<!-- NFC VALUES -->
					<tr  ng-repeat="cfn in  get_custom_fields_by_type(6)" >

						<td class="table-header" ng-if="editing_item_multiple">
							<input
							style="margin:5px"
							type="checkbox"
							ng-model="edit_field_enabled[cfn.custom_field_name_id]" />
						</td>

						<td class="table-header">
							<b>{{ cfn.name }}</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2">
							<textarea 	class="form-control"  ng-disabled="editing_item_multiple && !edit_field_enabled[cfn.custom_field_name_id]"
							rows="1"
							placeholder="{{ 'Enter ...' | translate }}"
							ng-model="item['custom_field_id_'+cfn.custom_field_name_id]" >
							</textarea>
						</td>
					</tr>

					<!-- GPS VALUES -->
					<tr  ng-repeat="cfn in  get_custom_fields_by_type(7)" >

						<td class="table-header" ng-if="editing_item_multiple">
							<input
							style="margin:5px"
							type="checkbox"
							ng-model="edit_field_enabled[cfn.custom_field_name_id]" />
						</td>

						<td class="table-header">
							<b>{{ cfn.name }}</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2">
							<textarea 	class="form-control"  ng-disabled="editing_item_multiple && !edit_field_enabled[cfn.custom_field_name_id]"
							rows="1"
							placeholder="{{ 'Enter ...' | translate }}"
							ng-model="item['custom_field_id_'+cfn.custom_field_name_id]" >
							</textarea>
						</td>
					</tr>


					<!-- CATEGORIES  -->
					<tr>

						<td class="table-header" ng-if="editing_item_multiple">
							<input
							style="margin:5px"
							type="checkbox"
							ng-model="$parent.edit_categories_enabled" />
						</td>

						<td class="table-header">
							<b><translate>Categories</translate></b></b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;">
							<span

							multi-select
							input-model="categories"
							button-label="name"
							item-label="name"
							tick-property="ticked"
							is-disabled="editing_item_multiple && !edit_categories_enabled"
							style="width:100%"
							>
							</span>
						</td>

						<td class="items_table_value" style="vertical-align:middle; width:150px;">
							<button ng-disabled="editing_item_multiple && !edit_categories_enabled"
							class="btn btn-default btn-flat btn-min-width"
							style="padding:8px; width:100%;"
							ng-click="createNewCategoryClicked()"><i class="fa fa-plus "
								>
								</i> &nbsp;<translate>Create new</translate></button>
							</button>
						</td>
					</tr>

					<!-- TAGS  -->
					<tr>

						<td class="table-header" ng-if="editing_item_multiple">
							<input
							style="margin:5px"
							type="checkbox"
							ng-model="$parent.edit_tags_enabled" />
						</td>

						<td class="table-header">
							<b><translate>Tags</translate></b></b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;">
							<span multi-select
							input-model="tags"
							button-label="name"
							item-label="name"
							tick-property="ticked"
							is-disabled="editing_item_multiple && !edit_tags_enabled"
							>
							</span>
						</td>

						<td class="items_table_value" style="vertical-align:middle;">
							<button ng-disabled="editing_item_multiple && !edit_tags_enabled"
							class="btn btn-default btn-flat btn-min-width"
							style="padding:8px; width:100%;" ng-click="createNewTagClicked()">
								<i class="fa fa-plus "></i> &nbsp;<translate>Create new</translate></button>
							</button>
						</td>
					</tr>


					<!-- States  -->
					<tr>

						<td class="table-header" ng-if="editing_item_multiple">
							<input
							style="margin:5px"
							type="checkbox"
							ng-model="$parent.edit_states_enabled" />
						</td>

						<td class="table-header">
							<b><translate>States</translate></b></b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;">
							<span multi-select
							input-model="states"
							button-label="name"
							item-label="name"
							tick-property="ticked"
							is-disabled="editing_item_multiple && !edit_states_enabled"
							>
							</span>
						</td>

						<td class="items_table_value" style="vertical-align:middle;">
							<button ng-disabled="editing_item_multiple && !edit_states_enabled"
							class="btn btn-default btn-flat btn-min-width"
							style="padding:8px; width:100%;" ng-click="createNewStateClicked()">
								<i class="fa fa-plus "></i> &nbsp;<translate>Create new</translate></button>
							</button>
						</td>
					</tr>

					<!-- Images -->
					<tr  ng-repeat="cfn in  get_custom_fields_by_type(8)" >

						<td class="table-header" ng-if="editing_item_multiple">
							<input
							style="margin:5px"
							type="checkbox"
							ng-model="edit_field_enabled[cfn.custom_field_name_id]" />
						</td>

						<td class="table-header">
							<b>{{ cfn.name }}</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2">

							<div class=""  flow-init
										   flow-name="item['image_field_id_'+cfn.custom_field_name_id].flow"
										   flow-file-added="flowImageAddedEvent( $file, $event, $flow, images_object_url_and_id[cfn.custom_field_name_id].length + transfers.length )"
										   flow-files-added="flowImagesAddedEvent( $file, $event, $flow, images_object_url_and_id[cfn.custom_field_name_id].length + transfers.length )"
										   >
											<!-- flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" -->

								<div class="row" flow-transfers>

									<!-- existing images -->
									<div class="col-lg-3" ng-repeat="obj in images_object_url_and_id[cfn.custom_field_name_id]">
										<div class="image-preview" style="height:200px; background:#FAFAFA; margin:15px; border:1px solid #ccc;">

										<img ng-src="{{obj.url}}" style="max-width:100%; max-height:100%" />
											<a class="btn btn-mini btn-danger" style="top:0; right:15px; position:absolute; margin-left:-15px;"ng-click="remove_existing_image(cfn, obj.id)">
												X
											</a>
										</div>
									</div>

									<!-- new images -->
									<div class="col-lg-3" ng-repeat="file in transfers">
										<div class="image-preview" style="height:200px; background:#FAFAFA; margin:15px; border:1px solid #ccc;">
											<img style="max-width:100%; max-height:100%" flow-img="file" />
											<a class="btn btn-mini btn-danger" style="top:0; right:15px; position:absolute; margin-left:-15px;"ng-click="file.cancel()">
												X
											</a>
										</div>
									</div>

									<div class="col-lg-3" ng-show="images_object_url_and_id[cfn.custom_field_name_id].length + transfers.length < AppSettings.AllowedImagesPerImageField ">
										<div 	class="image-preview"
												style="height:200px; background:#FAFAFA; margin:15px; border:1px solid #ccc;padding-top:50px;"
												flow-drop
												flow-drag-enter="class='alert-success'"
												flow-drag-leave="class=''"
												ng-class="class"
												flow-btn
												flow-attrs="{accept:'image/*'}"
												>
											<div style="text-align:center;">
												<i class="fa fa-plus fa-2x"></i>

												<br>
												<translate>Add image</translate>
												<br>
												<translate>Drop image here.</translate>
												<br>
												<span ng-if="AppSettings.AllowedImagesPerImageField < 10">
													({{ AppSettings.AllowedImagesPerImageField - (images_object_url_and_id[cfn.custom_field_name_id].length + transfers.length) }} left)
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>





						</td>
					</tr>

				</tbody>
			</table>

		</div>
	</div>


</div ng-init="on_controller_init()">

<div class="modal-footer">
	<!-- alerts -->
	<div class="row" style="padding-right:15px; padding-left:15px">
		<div class="col-lg-12"  style="padding:5px;" >
			<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
		</div>
	</div>

	<!-- save and progress bar -->
	<div class="row" style="padding-right:15px; padding-left:15px">

		<div class="col-lg-12" ng-hide="working ">

			<button  ng-hide="working" 	class="btn btn-success btn-flat btn-min-width  pull-right"   style="margin:5px;" ng-click="saveItemButtonClicked()"><translate>Save</translate></button>
			<!-- <button  ng-hide="working || !editing_item_multiple || !editing_item_one " class="btn btn-success btn-flat btn-min-width  pull-right"   style="margin:5px;" ng-click="saveItemButtonClicked()">Save</button> -->

			<button class="btn btn-default btn-flat btn-min-width  pull-right" ng-click="cancelClicked()" ng-disabled="working" style="margin:5px;"><translate>Cancel</translate></button>
		</div>

		<div class="col-lg-12"  style="padding:5px;" ng-show="working">
			<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
		</div>
	</div>
</div>