<div class="modal-header">
	<h4 class="modal-title"><i class="fa fa-sign-out fa-exchange"></i> &nbsp;<translate>Add Request</translate></h4>
</div>
<div class="modal-body">
		<div class="row" style="margin:5px" ng-if="show_items_grid">
			<div class="col-lg-12">
				<translate>Items</translate>
				<!-- ui-grid-auto-resize -->
				<div id="grid_dont_resize" ui-grid="gridOptions" ui-grid-selection ui-grid-pinning ui-grid-resize-columns  ui-grid-move-columns  style="margin-top:5px; height:250px;"></div>
			</div>
		</div>

		<!-- Request -->
		<div class="row" style="margin:5px" ng-if="show_choose_request">
			<div class="col-lg-12" >
				<translate>Request</translate>
				<div class="row">
					<div ng-class="1 == 1 ? 'col-lg-10' : 'col-lg-12'"  style="padding-right:2px">
						<ui-select ng-model="$parent.$parent.selectedRequest"
						theme="bootstrap"
						ng-disabled="disabled"
						reset-search-input="false"
						title="{{ 'Choose request' |translate }}">
							<ui-select-match placeholder="{{ 'Choose request' |translate }}">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="loc in requests  | propertiesFilter: {name: $select.search}">
								<div ng-bind-html="loc.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
					<div class="col-lg-2"  style="padding-left:2px">
						<button class="btn btn-default btn-flat" style="width:100%" ng-click="create_request_button_clicked()" ng-disabled="working"><i class="fa fa-plus"> </i></button>
					</div>
				</div>
			</div>
		</div>


		<!-- Location -->
		<div class="row" style="margin:5px">
			<div class="col-lg-12" >
				<translate>Location</translate>
				<div class="row">
					<div ng-class="user && user.perm_locations_edit==1 ? 'col-lg-10' : 'col-lg-12'"  style="padding-right:2px">
						<ui-select ng-model="$parent.selectedLocation"
						theme="bootstrap"
						ng-disabled="disabled"
						reset-search-input="false"
						title="{{ 'Choose location' |translate }}">
							<ui-select-match placeholder="{{ 'Choose location' |translate }}">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="loc in locations  | propertiesFilter: {name: $select.search}">
								<div ng-bind-html="loc.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
					<div ng-if="user && user.perm_locations_edit==1" class="col-lg-2"  style="padding-left:2px">
						<button class="btn btn-default btn-flat" style="width:100%" ng-click="createLocationClicked()" ng-disabled="working"><i class="fa fa-plus"> </i></button>
					</div>
				</div>
			</div>
		</div>


		<div class="row" style="margin:5px">
			<div class="col-lg-12">
				<translate>Count</translate>
				<input placeholder="{{ 'Count' |translate }}" style="width:100%; padding:5px"  type="number" name="input" ng-model="count" min="1" required>
			</div>
		</div>

		<div class="row" style="margin:5px">
			<div class="col-lg-12">
				<translate>Note</translate>
				<textarea placeholder="{{ 'Note' |translate }}" type="text" style="width:100%; padding:5px" ng-model="note"></textarea>
			</div>
		</div>

		<div class="row" style="margin:5px">
			<div class="col-lg-12">
				<section class="text-center errorMesssages" ng-hide="validationErrors==''" style="color:red">
					{{ validationErrors }}
				</section>
			</div>
		</div>
	</div>

	<div class="row" ng-show="working == true" style="padding:10px;margin:20px">
		<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
	</div>
</div>
<div class="modal-footer">
	<div class="row" style="margin:5px">
		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="cancelClicked()" ng-disabled="working"><translate>Cancel</translate></button>
		</div>
		<div class="col-lg-6" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="saveClicked()" class="md-primary" ng-disabled="working"> <translate>Save</translate> </button>
		</div>
	</div>
</div>
