<div class="modal-header">
	<h4 class="modal-title" ng-show="multiple_moving"><i class="fa fa-sign-out fa-exchange"></i> &nbsp;<translate>Move items between locations</translate></h4>
	<h4 class="modal-title" ng-show="!multiple_moving"><i class="fa fa-sign-out fa-exchange"></i> &nbsp;<translate>Move item between locations</translate></h4>
</div>
<div class="modal-body">
	<div class="row" style="margin:5px" ng-show="working == false">
		<div class="row" style="margin:5px">
			<div class="col-lg-12" >

				<translate>Location from</translate>
				<div class="row">
					<div class="col-lg-12"  style="padding-right:2px">
						<ui-select ng-model="$parent.selectedLocationFrom"
						theme="bootstrap"
						ng-disabled="disabled"
						reset-search-input="false"
						title="{{ 'Choose location' |translate }}">
							<ui-select-match placeholder="{{ 'Choose location' |translate }}">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="loc in locations_from  | propertiesFilter: {name: $select.search}">
								<div ng-bind-html="loc.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				<!-- 	<div ng-if="user && user.perm_locations_edit==1" class="col-lg-2"  style="padding-left:2px">
						<button class="btn btn-default btn-flat" style="width:100%" ng-click="createLocationFromClicked()" ng-disabled="working"><i class="fa fa-plus"> </i></button>
					</div> -->
				</div>
			</div>

		<div class="col-lg-12" >

				<translate>Location to</translate>
				<div class="row">
					<div ng-class="user && user.perm_locations_edit==1 ? 'col-lg-10' : 'col-lg-12'"  style="padding-right:2px">
						<ui-select ng-model="$parent.selectedLocationTo"
						theme="bootstrap"
						ng-disabled="disabled"
						reset-search-input="false"
						title="{{ 'Choose location' |translate }}">
							<ui-select-match placeholder="{{ 'Choose location' |translate }}">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="loc in locations  | propertiesFilter: {name: $select.search}">
								<div ng-bind-html="loc.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
					<div ng-if="user && user.perm_locations_edit==1" class="col-lg-2"  style="padding-left:2px">
						<button class="btn btn-default btn-flat" style="width:100%" ng-click="createLocationToClicked()" ng-disabled="working"><i class="fa fa-plus"> </i></button>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin:5px">
			<div class="col-lg-12">
				<translate>Count</translate>
				<input placeholder="{{ 'Count' |translate }}" style="width:100%; padding:5px"  type="number" name="input" ng-model="count" min="1" required>
			</div>
		</div>

		<div class="row" style="margin:5px">
			<div class="col-lg-12">
			<translate>Note</translate>
			<textarea placeholder="{{ 'Note' |translate }}" type="text" style="width:100%; padding:5px" ng-model="note"></textarea>
			</div>
		</div>

		<div class="row" style="margin:5px">
			<div class="col-lg-12" ng-repeat="sm in successMessages">
				<section class="text-center errorMesssages" style="color:green">
					{{ sm.msg }}
				</section>
			</div>
		</div>

		<div class="row" style="margin:5px">
			<div class="col-lg-12" ng-repeat="ve in validationErrors">
				<section class="text-center errorMesssages" style="color:red">
					{{ ve.msg }}
				</section>
			</div>
		</div>
	</div>

	<div class="row" ng-show="working == true" style="padding:10px">
		<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
	</div>
</div>
<div class="modal-footer">
	<div class="row" style="margin:5px">
		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="cancelClicked()" ng-disabled="working"><translate>Cancel</translate></button>
		</div>
		<div class="col-lg-6" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="saveClicked()" class="md-primary" ng-disabled="working"> <translate>Save</translate> </button>
		</div>
	</div>
</div>
