<div class="modal-header">
	<h4 class="modal-title" ><i class="fa fa-qrcode"></i>&nbsp; <translate>Generate unique values</translate></h4>
</div>
<div class="modal-body">
	<div class="row" style="margin:5px" ng-show="working == false">

		<div class="col-lg-12" >
			<p>
				<translate>This will generate qr/bar code values for selected field.</translate>
			</p>
		</div>

		<div class="col-lg-12" >
		</div>

		<!-- For Field -->
		<div class="col-lg-12" >
			<translate>For Field:</translate>
			<ui-select ng-model="$parent.selectedCfn"
			theme="bootstrap"
			ng-disabled="disabled"
			reset-search-input="false"
			on-select="selectionChanged()"
			title="{{'For Field' | translate }}">
				<ui-select-match placeholder="{{'For Field' | translate }}">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="item in cfn  | propertiesFilter: {name: $select.search}">
					<div ng-bind-html="item.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>


		<div class="col-lg-12" >
			<section class="text-center errorMesssages" ng-hide="validationErrors==''" style="color:red">
						<br>
						{{ validationErrors }}
			</section>
		</div>




	</div>


</div>

<div class="row" ng-show="working == true" style="padding:10px;margin:10px;">
	<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
</div>
</div>
<div class="modal-footer">
	<div class="row" style="margin:5px">
		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="cancelClicked()" ng-disabled="working"><translate>Cancel</translate></button>
		</div>
		<div class="col-lg-6" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="saveClicked()" class="md-primary" > <translate>Generate</translate></button>
		</div>
	</div>
</div>

