<div class="modal-header">
	<h4 class="modal-title" ><i class="fa fa-cog"></i>&nbsp; <translate>Grid options</translate></h4>
</div>
<div class="modal-body">
	<div class="row" style="margin:5px" >

		<div class="col-lg-12" >
		</div>

		<!-- Columns -->
		<div class="col-lg-12" style="margin-top:10px">

			<div><translate>Grid columns:</translate></div>

			<!-- Show all -->
			<button
				class="btn  btn-default btn-flat    "
				style="margin-top:5px; min-width:100px;"
				ng-click="items_view_scope.showAllColumns()"
				>
					<i class=""></i>&nbsp;<translate>Show all</translate>
			</button>

			<!-- Hide all -->
			<button
				class="btn  btn-default btn-flat    "
				style="margin-top:5px; min-width:100px;"
				ng-click="items_view_scope.hideAllColumns()"
				>
					<i class=""></i>&nbsp;<translate>Hide all</translate>
			</button>
		</div>

		<div class="col-lg-12" style="margin-top:10px">

			<div><translate>Grid settings:</translate></div>



			<button
				class="btn  btn-default btn-flat    "
				style="margin-top:5px; min-width:100px;"
				ng-click="items_view_scope.resetGridState()"
				>
					<i class=""></i>&nbsp;<translate>Reset</translate>
			</button>


			<button
				class="btn  btn-default btn-flat    "
				style="margin-top:5px;  min-width:100px;"
				ng-click="items_view_scope.restoreState()"
				>
					<i class=""></i>&nbsp;<translate>Load</translate>
			</button>

		</div>


		<div class="col-lg-12" style="margin-top:10px">
			<div><translate>Grid row height:</translate></div>
			<input placeholder="{{ 'Count' |translate }}" style="width:100%; padding:5px"  type="number" name="input" ng-model="items_view_scope.gridOptions.rowHeight" min="1" required>
		</div>



	</div>

</div>


<div class="modal-footer">
	<div class="row" style="margin:5px">
<!-- 		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="cancelClicked()" ng-disabled="working"><translate>Cancel</translate></button>
		</div> -->
		<div class="col-lg-12" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="saveClicked()" class="md-primary" ng-disabled="is_barcode_invalid"> <translate>Ok </translate></button>
		</div>
	</div>
</div>

