<!-- <div class="modal-header">
	<h4 class="modal-title"><i class="fa fa-sign-out fa-exchange"></i> &nbsp;Add Transfer</h4>
</div> -->
<div class="modal-body">
	<div class="row" style="margin:5px">
		<div class="row" style="margin:5px">
			<div class="col-lg-12" >

				<img class="center-block" ng-src="{{image_url}}" ng-click="nextImage()" style="max-width:100%; max-height:100%" />

			</div>
		</div>
	</div>
</div>
<!-- <div class="modal-footer">
	<div class="row" style="margin:5px">
		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="cancelClicked()" ng-disabled="working">Cancel</button>
		</div>
		<div class="col-lg-6" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="saveClicked()" class="md-primary" ng-disabled="working"> Save </button>
		</div>
	</div>
</div> -->
