<div class="modal-header">
	<h4 class="modal-title" ><i class="fa fa-file-pdf-o "></i>&nbsp; <translate>Generate barcode pdf</translate></h4>
</div>
<div class="modal-body">
	<div class="row" style="margin:5px" ng-show="working == false">

		<div class="col-lg-12" >
			<p>
				<translate>This will generate pdf file full of barcodes so you can print them and stick them to the items.</translate>
			</p>
		</div>

		<div class="col-lg-12" >
		</div>

		<!-- Barcode Type -->
		<div class="col-lg-12" style="margin-top:10px">
			<translate>Barcode Type:</translate>
			<ui-select ng-model="$parent.selectedBarcodeType"
			theme="bootstrap"
			ng-disabled="disabled"
			on-select="selectionChanged()"
			reset-search-input="false"
			title="{{'Barcode Type' | translate }}">
				<ui-select-match placeholder="{{'Barcode Type' | translate }}">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="item in barcode_types  | propertiesFilter: {name: $select.search}">
					<div ng-bind-html="item.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>

		<!-- For Field -->
		<div class="col-lg-12" >
			<translate>For Field:</translate>
			<ui-select ng-model="$parent.selectedCfn"
			theme="bootstrap"
			ng-disabled="disabled"
			reset-search-input="false"
			on-select="selectionChanged()"
			title="{{'For Field' | translate }}">
				<ui-select-match placeholder="{{'For Field' | translate }}">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="item in cfn  | propertiesFilter: {name: $select.search}">
					<div ng-bind-html="item.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>

		<!-- Columns count -->
		<div class="col-lg-12" >
			<translate>Columns Count:</translate>
			<ui-select
			ng-model="$parent.selectedColumnsCount"
			theme="bootstrap"
			ng-disabled="disabled"
			reset-search-input="false"
			on-select=""
			title="{{'Columns Count' | translate }}">
				<ui-select-match placeholder="{{'Columns Count' | translate }}">{{$select.selected}}</ui-select-match>
				<ui-select-choices repeat="item in  [1,2,3,4,5,6] ">
					<div ng-bind-html="item "></div>
				</ui-select-choices>
			</ui-select>
		</div>

		<div class="col-lg-12" ng-if="selectedBarcodeType.name == 'QR Code'">
			<translate>Labels:</translate>
			<span
				multi-select
				input-model="cfn"
				button-label="name"
				item-label="name"
				tick-property="ticked"
			style="width:100%"
			>
			</span>
		</div>


		<!-- Value-->
		<div class="col-lg-12" style="margin-top:20px" >
			<section class="text-center" style="color:red" ng-show="is_barcode_invalid" >
				<translate>Could not generate</translate> <b>{{selectedBarcodeType.name}}</b> <translate>barcode  with value</translate> <b>{{barcode_value}}</b>
			</section>

			<section class="text-center" ng-hide="is_barcode_invalid" >
			<img id="barcode_img" style="max-width:420px"></img>
			</section>
		</div>
	</div>

</div>

<div class="row" ng-show="working == true" style="padding:10px">
	<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
</div>
<div class="row" style="margin:5px">
	<div class="col-lg-12">
		<section class="text-center errorMesssages" ng-hide="validationErrors==''" style="color:red">
			{{ validationErrors }}
		</section>
	</div>
</div>

</div>
<div class="modal-footer">
	<div class="row" style="margin:5px">
		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="cancelClicked()" ng-disabled="working"><translate>Cancel</translate></button>
		</div>
		<div class="col-lg-6" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="saveClicked()" ng-disabled="working" class="md-primary" ng-disabled="is_barcode_invalid"> <translate>Create pdf </translate></button>
		</div>
	</div>
</div>
