<div class="modal-header">
	<h4 class="modal-title">{{ content.title}}</h4>
</div>
<div class="modal-body">
	<div class="row" style="margin:5px">	
		<div class="row" style="margin:5px">	
		</div>
		<div class="row" style="margin:5px">	
			<div class="col-lg-12">
				{{ content.text }}
			</div>
		</div>
	</div>
	
<!-- 	<div class="row" ng-show="working == true" style="padding:10px">			
		<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
	</div>	 -->
</div>
<div class="modal-footer">
	<div class="row" style="margin:5px">	
		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="noClicked()" ng-disabled="working">No</button>
		</div>
		<div class="col-lg-6" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="yesClicked()" class="md-primary" ng-disabled="working"> Yes </button>
		</div>		
	</div>
</div>
