<div fix-sidebar> </div>
<section class="content-header">
	<h1>
		<translate>Connections</translate>
		<!-- <small><translate>Manage your categories</translate></small> -->
	</h1>
</section>

<section class="content">

	<div ng-if="working" ng-include="'views/WorkingView.html'"></div>
	<div ng-if="working == false">



		<div class="row" >
			<div class="col-lg-12 button-menu-bar">

				<button class="btn btn-refresh btn-flat   "  ng-click="refreshClicked()"><i class="fa fa-refresh"></i></button>


				<!-- Add btn group-->
				<div 	class="btn-group"
						style="margin-top:5px;" >

					<!-- Add -->
					<button type="button"
							class="btn btn-success btn-flat btn-min-width dropdown-toggle"
							data-toggle="dropdown"
							aria-expanded="false"
							>
								<i class="fa fa-plus"></i>&nbsp;<translate>Add</translate>
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">

						<!-- MySQL -->
						<button
								class="btn btn-success btn-flat"
								style="text-align:left; min-width:230px;margin-left:5px; margin-right:5px; margin-top:0px"
								ng-click="addMysql_clicked()"
								>
									<i class="icon-mysql"></i> &nbsp;<translate>Add MySQL</translate>
						</button>

						<button
								class="btn btn-success btn-flat"
								style="text-align:left; min-width:230px;margin-left:5px; margin-right:5px; margin-top:0px"
								ng-click="addMssql_clicked()"
								>
									<i class="icon-mssql"></i> &nbsp;<translate>Add MS SQL Server</translate>
						</button>

						<button
								class="btn btn-success btn-flat"
								style="text-align:left; min-width:230px;margin-left:5px; margin-right:5px; margin-top:0px"
								ng-click="addPostgresql_clicked()"
								>
									<i class="icon-postgres-alt"></i>&nbsp;<translate>Postgre SQL</translate>
						</button>
					</ul>
				</div>


				<button class="btn btn-primary btn-flat   btn-min-width"  ng-click="editButtonClicked()" ng-disabled="!isEditButtonEnabled"><i class="fa fa-pencil"></i>&nbsp;<translate>Edit</translate></button>
				<button class="btn btn-danger  btn-flat   btn-min-width"  ng-click="deleteButtonClicked()" ng-disabled="isDeleteButtonDisabled"><i class="fa fa-trash-o"></i>&nbsp;<translate>Delete selected</translate></button>
			</div>

			<div class="col-lg-12">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
			</div>

			<div class="col-lg-12">
				<!-- ui-grid-auto-resize -->
				<div ng-if="!refresh_grid" id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns  style="margin-top:5px"></div>
			</div>

		</div>
	</div>
</section>