
<section class="content-header">
	<h1 >
		<translate>Dashboard</translate>
		<small translate>Control panel</small>
	</h1>
	<!-- 	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Dashboard</li>
	</ol> -->
</section>

<section class="content">


	<div ng-if="user && user.perm_items_view==1 && items_with_minimum_count_alert.length > 0"  class="box box-danger dashboard-alert-box">
		<div class="box-header with-border" style="background:#dd4b39; color:#fff; cursor: pointer;" ng-click="GlobalVariablesService.is_alert_box_opened = !GlobalVariablesService.is_alert_box_opened">
			<h3 class="box-title"><translate>Alerts</translate></h3>

			<div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" ng-show=" GlobalVariablesService.is_alert_box_opened" ng-click="GlobalVariablesService.is_alert_box_opened = false;"><i class="fa fa-minus"></i>
					<button type="button" class="btn btn-box-tool" ng-show="!GlobalVariablesService.is_alert_box_opened" ng-click="GlobalVariablesService.is_alert_box_opened = true; "><i class="fa fa-plus"></i>
					</button>
					<!-- <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> -->
				</div>
			</div>
            <!-- /.box-header -->
            <div class="box-body"
			ng-show="GlobalVariablesService.is_alert_box_opened"
			style="border-bottom:1px solid #ccc; border-left:1px solid #ccc; border-right:1px solid #ccc;">

				<div class="table-responsive">
					<table class="table no-margin">
						<thead>
							<tr>
								<th><translate>Name</translate></th>
								<th><translate>Value</translate></th>
								<!--  <th>status</th>
								<th>popularity</th> -->
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><translate>Items with low count </translate></td>
								<td><span class="label label-danger">{{items_with_minimum_count_alert.length }}</span></td>

							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
			</div>

		</div>


		<div class="row">

			<!-- Items -->
			<div ng-if="user && user.perm_items_view==1" class="col-md-4 col-sm-6 col-xs-12pointer-cursor" ng-click="redirect('/items')">
				<div class="info-box bg-material-blue pointer-cursor dashboard-box-items" >
					<span class="info-box-icon"><i class="fa fa-barcode"></i></span>
					<span class=" info-box-icon-right" >{{ account_satistics.items_count}} </span>

					<div class="info-box-content">
						<span class="info-box-title" translate>Items	</span>
						<span class="info-box-text"  translate>Manage items</span>
						<div class="progress">
							<div class="progress-bar" ng-style="{'width': account_satistics.items_left_percentage+'%'}" ></div>
						</div>
					</div>
				</div>
			</div>

			<!-- Requests -->
			<div ng-if="user && (user.perm_all_requests_view==1 || perm_my_requests_view ==1)" class="col-md-4 col-sm-6 col-xs-12pointer-cursor" ng-click="redirect('/requests')">
				<div class="info-box bg-material-blue color-palette pointer-cursor dashboard-box-requests" >
					<span class="info-box-icon"><i class="fa fa-envelope"></i></span>
					<span class=" info-box-icon-right" >{{ user.perm_all_requests_view==1 ? account_satistics.all_requests_count : account_satistics.my_requests_count}} </span>

					<div class="info-box-content">
						<span class="info-box-title" translate>Requests	</span>
						<span class="info-box-text"  translate>Manage requests</span>
						<!-- 		<div class="progress">
							<div class="progress-bar" ng-style="{'width': '100%'}" ></div>
						</div> -->
					</div>
				</div>
			</div>

			<!-- My Requests -->
			<!-- 		<div ng-if="user && user.perm_my_requests_view==1" class="col-md-4 col-sm-6 col-xs-12pointer-cursor" ng-click="redirect('/requests')">
				<div class="info-box bg-material-blue pointer-cursor" >
				<span class="info-box-icon"><i class="fa fa-envelope-o"></i></span>
				<span class=" info-box-icon-right" >{{ account_satistics.my_requests_count}} </span>

				<div class="info-box-content">
				<span class="info-box-title" translate>My Requests	</span>
				<span class="info-box-text"  translate>Manage my requests</span>

				</div>
				</div>
			</div> -->

			<!-- Audit -->
			<div ng-if="user && user.perm_audit_view==1" class="col-md-4 col-sm-6 col-xs-12pointer-cursor" ng-click="redirect('/audits')">
				<div class="info-box bg-material-blue pointer-cursor dashboard-box-audit" >
					<span class="info-box-icon"><i class="fa fa-bar-chart"></i></span>
					<span class=" info-box-icon-right" >{{ account_satistics.audits_count}} </span>

					<div class="info-box-content">
						<span class="info-box-title" translate>Audits	</span>
						<span class="info-box-text"  translate>Create or view audits</span>
						<!-- <div class="progress">
							<div class="progress-bar" ng-style="{'width': '100%'}" ></div>
						</div> -->
					</div>
				</div>
			</div>

			<!-- Locations -->
			<div ng-if="user && user.perm_locations_view==1" class="col-md-4 col-sm-6 col-xs-12" ng-click="redirect('/locations')">
				<div class="info-box bg-material-blue pointer-cursor dashboard-box-location" >
					<span class="info-box-icon"><i class="fa fa-map-marker"></i></span>
					<span class="info-box-icon-right" >{{ account_satistics.locations_count}} </span>

					<div class="info-box-content">
						<span class="info-box-title" translate>Locations	</span>
						<span class="info-box-text"  translate>Manage locations</span>
					</div>
				</div>
			</div>

			<!-- Categories -->
			<div ng-if="user && user.perm_categories_view==1" class="col-md-4 col-sm-6 col-xs-12" ng-click="redirect('/categories')">
				<div class="info-box bg-material-blue pointer-cursor dashboard-box-categories">
					<span class="info-box-icon"><i class="fa fa-folder-open"></i></span>
					<span class="info-box-icon-right" >{{ account_satistics.categories_count}} </span>

					<div class="info-box-content">
						<span class="info-box-title" translate>Categories	</span>
						<span class="info-box-text"  translate>Manage categories</span>
					</div>
				</div>
			</div>

			<!-- Tags -->
			<div ng-if="user && user.perm_tags_view==1" class="col-md-4 col-sm-6 col-xs-12" ng-click="redirect('/tags')">
				<div class="info-box bg-material-blue pointer-cursor dashboard-box-tags"  >
					<span class="info-box-icon"><i class="fa fa-tags"></i></span>
					<span class="info-box-icon-right" >{{ account_satistics.tags_count}} </span>

					<div class="info-box-content">
						<span class="info-box-title" translate>Tags	</span>
						<span class="info-box-text"  translate>Manage tags</span>
					</div>
				</div>
			</div>

			<!-- States -->
			<div ng-if="user && user.perm_states_view==1" class="col-md-4 col-sm-6 col-xs-12" ng-click="redirect('/states')">
				<div class="info-box bg-material-blue pointer-cursor dashboard-box-states"  >
					<span class="info-box-icon"><i class="fa fa-check-circle-o"></i></span>
					<span class="info-box-icon-right" >{{ account_satistics.states_count}} </span>

					<div class="info-box-content">
						<span class="info-box-title" translate>States	</span>
						<span class="info-box-text"  translate>Manage states</span>
					</div>
				</div>
			</div>
		</div>




	</div>




	<div class="row" ng-show="user.email == 'demo@demo.demo'">
		<hr style="border-top:1px solid #CCC; margin:15px;">

		<div class="col-md-4 col-sm-6 col-xs-12pointer-cursor" ng-click="generate_sample_data(1)">
			<div ng-if="generating1" ng-include="'views/WorkingView.html'"></div>
			<div ng-if="generating1 == false" class="info-box bg-purple pointer-cursor" >
				<span class="info-box-icon"><i class="fa fa-cubes"></i></span>

				<div class="info-box-content">
					<span class="info-box-title" translate>Generate Sample Data #1	</span>
				</div>
			</div>
		</div>

		<!-- <div class="col-md-4 col-sm-6 col-xs-12pointer-cursor" ng-click="generate_sample_data(2)">
			<div ng-if="generating2" ng-include="'views/WorkingView.html'"></div>
			<div ng-if="generating2 == false" class="info-box bg-material-blue pointer-cursor" style="background:#1E515F  !important;">
			<span class="info-box-icon"><i class="fa fa-cubes"></i></span>

			<div class="info-box-content">
			<span class="info-box-title" translate>Generate Sample Data #2	</span>
			</div>
			</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12pointer-cursor" ng-click="generate_sample_data(3)">
			<div ng-if="generating3" ng-include="'views/WorkingView.html'"></div>
			<div ng-if="generating3 == false" class="info-box bg-material-blue pointer-cursor" style="background:#1E515F  !important;">
			<span class="info-box-icon"><i class="fa fa-cubes"></i></span>

			<div class="info-box-content">
			<span class="info-box-title" translate>Generate Sample Data #3	</span>
			</div>
			</div>
		</div> -->

	</div>



</section>
<!-- /.content -->
