<header class="main-header" ng-controller="HeaderCtrl">
	<nav class="navbar navbar-static-top" role="navigation" >
		<!-- Sidebar toggle button-->
		<a  class="navbar-btn sidebar-toggle" style="cursor:pointer;z-index=120;" data-toggle="offcanvas" role="button" ng-click="showHideSidebar($event)">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>

		<span class="logo">
			PQR
		<!-- 	<small ng-if="user">
				- {{ user.account_name}}
			</small> -->
		</span>


		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav" >

				<!-- Notifications: style can be found in dropdown.less -->
				<li class="dropdown notifications-menu"  ng-show="showNotification" >
					<a class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-warning"></i>
						<span class="label label-warning">1</span>
					</a>
					<ul class="dropdown-menu">
						<!-- <li class="header">You have 10 notifications</li> -->
						<li class="">
							<!-- inner menu: contains the actual data -->
							<ul class="menu">
								<!-- 	<li>
									<a href="#">
									<i class="ion ion-ios7-people info"></i> 5 new members joined today
									</a>
								</li> -->
								<li>
									<a>
										<i class="fa fa-warning danger"></i>
										<span style="padding:5px;"> {{ notification.text }} </span>
									</a>

									<button class="btn btn-primary btn-flat pull-right" style="margin:5px" ng-click="hideNotification()">OK, got it</button>

								</li>
							</ul>
						</li>
					</ul>
				</li>

			</ul>

		</div>
	</nav>

</header>