
<div class="landing" style="background:#FFF;">
	
	<div class="row centered" >
		<div class="col-lg-12">
			<div class="cd-background-wrapper">							
				<figure class="cd-floating-background">
					<img src="components/parallax-hero-image/img/cd-img-1.jpg" alt="image-1">
					<img src="components/parallax-hero-image/img/cd-img-2.png" alt="image-2">
					<img src="components/parallax-hero-image/img/cd-img-3.png" alt="image-3">
				</figure>
			</div>
		</div>
	</div>
	
	
	<!-- <section id="home" name="home"></section> -->
	<div id="headerwrap">
		<div class="container" style="max-width:950px">
			<div class="row centered">
				<div class="col-lg-12"  >
					<h1 >Welcome To Barcodery</h1>
					<h2>Cloud based inventory solution in your phone and on the web.</h2>
				</div>
				
				<div class="col-lg-6">
					<div class="box-group" id="accordion">
						
						<div class="accordion-panel ">
							<div >
								<h4 >
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed" aria-expanded="false">
										<i class="fa fa-users  "></i> Multiple Users Support
									</a>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
								<div class="box-body">
									Multiple users can work with your inventory
								</div>
							</div>
						</div>
						
						
						<div class="accordion-panel ">
							<div >
								<h4 >
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
										<i class="fa fa-pencil "></i>Perfectly Customizable
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
								<div class="box-body">
									You can define all your fields
								</div>
							</div>
						</div>
						
						<div class="accordion-panel ">
							<div >
								<h4 >
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
										<i class="fa fa-barcode  "></i> Mobile scanner
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
								<div class="box-body">
									Our mobile app includes barcode scanner which can recognize your products and append to inventory.
								</div>
							</div>
						</div>
						
						<div class="accordion-panel ">
							<div >
								<h4 >
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed" aria-expanded="false">
										<i class="fa fa-truck  "></i> Transactions
									</a>
								</h4>
							</div>
							<div id="collapse4" class="panel-collapse collapse" aria-expanded="false">
								<div class="box-body">
									You can track your products using IN/OUT transactions.
								</div>
							</div>
						</div>					
						
						
						<div class="accordion-panel ">
							<div >
								<h4 >
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="collapsed" aria-expanded="false">
										<i class="fa fa-cloud-download  "></i> Import/Export data
									</a>
								</h4>
							</div>
							<div id="collapse5" class="panel-collapse collapse" aria-expanded="false">
								<div class="box-body">
									All your data can be easily exported in way that is most comfortable for you.
								</div>
							</div>
						</div>					
						
						
						<div class="accordion-panel ">
							<div >
								<h4 >
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="collapsed" aria-expanded="false">
										<i class="fa fa-bell-o   "></i> Awesome Support
									</a>
								</h4>
							</div>
							<div id="collapse6" class="panel-collapse collapse" aria-expanded="false">
								<div class="box-body">
									You can ask us any time if you need to help or anything is unclear. We are all ears!
								</div>
							</div>
						</div>									
						
						
					</div>
				</div>
				
				<div class="col-lg-6">
					<img class="img-responsive" src="img/landing/laptop-mockup2.png" alt="" style="margin:auto; max-width:700px !important; width:700px; padding-top:25px;">
				</div>
				<!-- 		<div class="col-lg-2">
					<br>
					<img class="hidden-xs hidden-sm hidden-md" src="img/landing/arrow2.png">
					<h5>Scan barcodes and append to your inventory automatically</h5>
					<p>Your mobile can scan barcodes and append to your inventory. It saves you a lot of time instead of doing it manually.</p>
				</div> -->
			</div>
		</div> <!--/ .container -->
	</div><!--/ #headerwrap -->
	
	
	
	
	<!-- Buttons -->
	<div class="container" style="padding-top:40px;">
		<div class="row centered">
			<div class="col-lg-12"  >
				<h1 >Why not to try ?</h1>
			</div>
		</div>	
		<div class="row centered">
			<div class="col-lg-3" > </div>
			
			<div class="col-lg-3" >
				<button class="btn btn-danger btn-flat   btn-min-width" style="margin:15px; padding:15px; font-size:20px; min-width:250px; height:80px;"   ng-click="openSignUpDialog($event)" >Sign Up For Free</button>
			</div>
			
			<div class="col-lg-3">
				<button class="btn btn-warning btn-flat   btn-min-width"   style="margin:15px; padding:15px; font-size:20px; min-width:250px; height:80px;" ng-click="tryDemoClicked($event)">Try Demo</button>
			</div>		
			
			<div class="col-lg-3" > </div>
		</div>
	</div>	
	
	<!-- Buttons -->
	<div class="container" style="padding-top:10px;">
		<div class="row centered">
			
			<div class="col-lg-12" >
				<a href="https://play.google.com/store/apps/details?id=com.blowingnose.marduk" target="_blank" title="Get Barcodery on Google Play">
					<img src="img/google_play.png" width="250px" height="80px" alt="Get Barodery on Google Play">
				</a>
			</div>
			
		</div>
	</div>	
	
	
	
	<!-- <div id="intro">
		<div class="container">
		<div class="row centered">
		<h1>Why Barcodery ?</h1>
		</div>
		
		<div class="row centered">
		
		<div class="col-md-6">
		
		<div class="feature">
		<div class="feature-icon">
		<i class="fa fa-users  fa-4x"></i>
		</div>
		<h3>Multiple Users Support</h3>
		<p>
		Multiple users can work with your inventory
		</p>
		</div>
		</div>
		
		<div class="col-md-6">	
		<div class="feature">
		<div class="feature-icon">
		<i class="fa fa-pencil  fa-4x"></i>
		</div>
		<h3>Perfectly Customizable</h3>
		<p>
		You can define all your fields
		</p>
		</div>				
		</div>
		
		</div>			
		
		<div class="row centered">
		
		<div class="col-md-6">
		<div class="feature">
		<div class="feature-icon">
		<i class="fa fa-barcode  fa-4x"></i>
		</div>
		<h3>Mobile scanner</h3>
		<p>
		Our mobile app includes barcode scanner which can recognize your products and append to inventory.
		</p>
		</div>
		</div>		
		
		<div class="col-md-6">
		<div class="feature">
		<div class="feature-icon">
		<i class="fa fa-truck fa-4x"></i>
		</div>
		<h3>Transactions</h3>
		<p>
		You can track your products using IN/OUT transactions.
		</p>
		</div>
		</div>	
		
		</div>			
		
		<div class="row centered">
		
		<div class="col-md-6">
		<div class="feature">
		<div class="feature-icon">
		<i class="fa fa-cloud-download fa-4x"></i>
		</div>
		<h3>Import/Export data</h3>
		<p>
		All your data can be easily exported in way that is most comfortable for you.
		</p>
		</div>
		</div>	
		
		<div class="col-md-6">
		<div class="feature">
		<div class="feature-icon">
		<i class="fa fa-bell-o fa-4x"></i>
		</div>
		<h3>Awesome Support</h3>
		<p>
		You can ask us anytime if you need to help or anything is unclear. We are all ears!
		</p>
		</div>
		</div>
		
		</div>			
		
		</div>
	</div> -->
	
	
	<div class=" showcase-even wow-disabled zoomIn" data-wow-disabled-duration="2s" data-wow-disabled-delay="0s" style="-webkit-backface-visibility: hidden;  ">
		<div class="showcase-section row">
		<!-- 	<div class="col-md-12" style="text-align:center">
				<h1 style=" margin-top:50px">Not Enough ?</h1>
			</div> -->
			<div class="col-md-12" style="text-align:center">
				<h1 style="margin-top:50px; margin-bottom:15px">Check out what others say</h1>
			</div>
		</div>
	</div>	
	
	<!-- tweets-->
	
	<div class="tweets" >
		<div class="showcase-section row">
			<div class="col-md-6">
				
				<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Barcodery: Scan and sync codes: Run a small business? Then Barcodery could help you! Barcodery is a service,... <a href="http://t.co/vn5I6R1u25">http://t.co/vn5I6R1u25</a></p>&mdash; DroidMill (@droidmill) <a href="https://twitter.com/droidmill/status/384361637206978560">September 29, 2013</a></blockquote>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			
			<div class="col-md-6">
				
				<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">[Moblogging] http://vipersniper.dnsalias.com/moblog/post.php/1042 - the goddess of Barcodery</p>&mdash; Engrish Smitelli (@engrishsmitelli) <a href="https://twitter.com/engrishsmitelli/status/3925762657">September 12, 2009</a></blockquote>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				
			</div>		
			
			<div class="col-md-6">
				
				<blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr">Just installed Barcodery. Scan and organize all the things!</p>&mdash; r.reeves (@idogcow) <a href="https://twitter.com/idogcow/status/382892819460784128">September 25, 2013</a></blockquote>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				
			</div>	
			
			<div class="col-md-6">
				
				<blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr">Vote for Barcodery on <a href="http://t.co/VtJCtdBt6M">http://t.co/VtJCtdBt6M</a> <a href="https://t.co/NXZtJ4lNeV">https://t.co/NXZtJ4lNeV</a> <a href="https://twitter.com/sideprojectors">@sideprojectors</a> <a href="https://twitter.com/barcodery">@barcodery</a></p>&mdash; Marek Sivak (@letoslaf) <a href="https://twitter.com/letoslaf/status/399527961574928384">November 10, 2013</a></blockquote>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				
			</div>			
		</div>
	</div>		
	
	
	
	<!-- FEATURES WRAP -->
	<div id="features" style="background:#FFF;">
		<div class="container">
			<div class="row">
				<h1 class="centered">What's New?</h1>
				<br>
				<br>
				<div class="col-lg-6 centered">
					<img class="centered" src="img/landing/mobile.png" width="350px" alt="">
				</div>
				
				<div class="col-lg-6">
					<!-- <h3>Some Features</h3> -->
					<!-- <br> -->
					<!-- ACCORDION -->
					<div class="accordion ac" id="accordion2">
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_1">
									Multiple users
								</a>
							</div><!-- /accordion-heading -->
							<div id="collapse_1" class="accordion-body collapse in">
								<div class="accordion-inner">
									<p>
										We had added multiple users support. You can add user to your account a he can work with all your invenotry items.
									</p>
								</div><!-- /accordion-inner -->
							</div><!-- /collapse -->
						</div><!-- /accordion-group -->
						<br>
						
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2">
									Custom fields
								</a>
							</div>
							<div id="collapse_2" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>You can now fully customize item. You can define all item's fields.</p>
								</div><!-- /accordion-inner -->
							</div><!-- /collapse -->
						</div><!-- /accordion-group -->
						<br>
						
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_3">
									Redesigned
								</a>
							</div>
							<div id="collapse_3" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>We have improved design of web app also of android app.</p>
								</div><!-- /accordion-inner -->
							</div><!-- /collapse -->
						</div><!-- /accordion-group -->
						<br>
						
						<div class="accordion-group">
							<div class="accordion-heading">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_4">
									Custom modifications and installations
								</a>
							</div>
							<div id="collapse_4" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>We are able to modify barcodery to your needs and also install it to your servers. Just get touch with us on <a href="mailto:support@barcodery.com">support@barcodery.com</a> or anywhere else.</p>
								</div><!-- /accordion-inner -->
							</div><!-- /collapse -->
						</div><!-- /accordion-group -->
						<br>			
					</div><!-- Accordion -->
				</div>
			</div>
		</div><!--/ .container -->
	</div><!--/ #features -->
	
	
	<!-- <section id="showcase" name="showcase"></section>
		<div id="showcase">
		<div class="container">
		<div class="row">
		<h1 class="centered">Some Screenshots</h1>
		<br>
		<div class="col-lg-8 col-lg-offset-2">
		<div id="carousel-example-generic" class="carousel slide">
		<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		</ol>
		
		<div class="carousel-inner">
		<div class="item active">
		<img src="img/landing/item-01.png" alt="">
		</div>
		<div class="item">
		<img src="img/landing/item-02.png" alt="">
		</div>
		</div>
		</div>
		</div>
		</div>
		<br>
		<br>
		<br>	
		</div>
	</div>	 -->
	
	
	<section id="contact" name="contact"></section>
	<div id="footerwrap">
		<div class="container">
			<div class="col-lg-12">
				<h3>Address</h3>
			</div>
			<div class="col-lg-7">
				<table class="contact-table">								
					<tbody>
						<tr>
							<td class="header-cell" style="width:150px">
								Contact Person:
							</td>
							<td class="data-cell">
								Jan Pivarcek
							</td>					
						</tr>
						
						<tr>
							<td class="header-cell">
								Address:
							</td>
							<td class="data-cell">
								Pobocna 600/11,
								<br>Prague,
								<br>14100,
								<br>Czech Republic
							</td>					
						</tr>		
						
						<tr>
							<td class="header-cell">
								Phone:
							</td>
							<td class="data-cell">
								+421 730 630 791
							</td>					
						</tr>
						
						<tr>
							<td class="header-cell">
								Emails:
							</td>
							<td class="data-cell">
								<a href="mailto:info@barcodery.com">info@barcodery.com</a>
								<br><a href="mailto:support@barcodery.com">support@barcodery.com</a>
							</td>					
						</tr>					
						
					</tbody></table>
			</div>
			
		
		</div>
	</div>
</div>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>
	$('.carousel').carousel({
		interval: 3500
	});
	
	startParallaxBackgroun();
</script>

