<div fix-sidebar> </div>
<section class="content-header  header-info">
	<h1>
		<translate>Queries</translate>
		<!-- <small><translate>Manage your categories</translate></small> -->
	</h1>
</section>

<section class="content">

	<div ng-if="working" ng-include="'views/WorkingView.html'"></div>
	<div ng-if="working == false">



		<div class="row" >
			<div class="col-lg-12 button-menu-bar">
				<button class="btn btn-refresh btn-flat   "  ng-click="refreshClicked()"><i class="fa fa-refresh"></i></button>
				<button class="btn btn-success btn-flat   btn-min-width"  ng-click="addButtonClicked()"><i class="fa fa-plus"></i>&nbsp;<translate>Add</translate></button>
				<button class="btn btn-primary btn-flat   btn-min-width"  ng-click="editButtonClicked()" ng-disabled="!isEditButtonEnabled"><i class="fa fa-pencil"></i>&nbsp;<translate>Edit</translate></button>
				<button class="btn btn-danger  btn-flat   btn-min-width"  ng-click="deleteButtonClicked()" ng-disabled="isDeleteButtonDisabled"><i class="fa fa-trash-o"></i>&nbsp;<translate>Delete selected</translate></button>

				<!-- export -->
				<div class="btn-group">
					<button type="button" class="btn btn-info btn-flat btn-min-width dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<translate>Export to csv</translate>
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a ng-click="exportToCsv('all')" translate>All</a></li>
						<li><a ng-click="exportToCsv('visible')" translate>Visible</a></li>
						<li><a ng-click="exportToCsv('selected')" translate>Selected</a></li>
					</ul>
				</div>

				<!-- import -->
				<div class="btn-group">
					<button type="button" class="btn btn-info btn-flat btn-min-width dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<translate>Import from csv	</translate>
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><form><input type="file" class="import-file-chooser" id="files" name="files[]" ng-init="initFileChooser()"/></form></li>
					</ul>
				</div>



			</div>

			<div class="col-lg-12">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
			</div>

			<div class="col-lg-12">
				<!-- ui-grid-auto-resize -->
				<div ng-if="!refresh_grid" id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns  style="margin-top:5px"></div>
			</div>

		</div>
	</div>
</section>