<div fix-sidebar> </div>

<section class="content-header header-info">
	<h1 >
		{{query.name}}
	</h1>
	<p>
		{{query.description}}
	</p>


	<!-- <h1 >
		{{query}}
	</h1> -->
	<!-- 	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Dashboard</li>
	</ol> -->
</section>


<section class="content">

	<div ng-if="working" ng-include="'views/WorkingView.html'"></div>
	<div ng-if="working == false">

		<div class="row" >
			<div class="col-lg-12 parameters">
				<table class="table table-bordered" style="word-wrap: break-word;">
					<tbody>
					<tr >
							<!-- name -->
							<td ng-repeat-start="param in query.parameters" class="table-header" ng-disabled="true" ng-hide="param.type == 'DateTime' && param.interval.type =='end'">
								<b>{{param.name}}</b>
							</td >

							<!-- text -->
							<td ng-if="param.type == 'Text'" class="items_table_value" style="vertical-align:middle;">
								<input
								class="form-control"
								type="text"
								ng-model="param.value" />
							</td >

							<!-- check box -->
							<td ng-if="param.type == 'Checkbox'" class="items_table_value" style="vertical-align:middle;">
								<input
								class="form-control"
								type="checkbox"
								ng-model="param.value" />
							</td >

							<!-- combo box -->
							<td ng-if="param.type == 'Combobox'" class="items_table_value" style="vertical-align:middle;">
								<ui-select
								ng-model="param.value"
								theme="bootstrap"
								ng-disabled="disabled"
								reset-search-input="false"
								title="Parameter type">
								<ui-select-match placeholder="{{ param.name }}">{{$select.selected.text}}</ui-select-match>
									<ui-select-choices repeat="item in param.data_source_array  | propertiesFilter: {text: $select.search}">
										<div ng-bind-html="item.text | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
							</td>

							<!-- date time interval-->
							<td  ng-if="param.type == 'DateTime' && param.interval.type =='start'" class="items_table_value" style="vertical-align:middle;">

								<input  date-range-picker
										class="form-control date-picker"
										type="text"
										ng-model="param.interval.date"
										options="datePicker.options"/>
							</td>


							<!-- date time single-->
							<td  ng-if="param.type == 'DateTime' && param.interval.type =='no'" class="items_table_value" style="vertical-align:middle;">

								<input  date-range-picker
										class="form-control date-picker"
										type="text"
										singleDatePicker="true"
										ng-model="param.single_date.date"
										options="single_options.options"/>
							</td>

							<td ng-repeat-end ng-hide="true" > </td>


						</tr >

					</tbody>
				</table>

			</div>

			<div class="col-lg-12 button-menu-bar">
				<!-- run -->
				<button class="btn btn-success btn-flat btn-min-width"
						style="margin-top:5px;"
						ng-click="runQuery()">
							<i class="fa fa-play"></i>&nbsp;Run
				</button>

			  	<!-- Excel -->
                <button
                class="btn btn-info btn-flat btn-min-width"
                style="margin-top:5px;max-width:80px; min-width: 70px;"
                ng-click="exportToXLSX()">
                    <i class="fa fa-file-excel-o"></i>&nbsp;<translate>XLSX</translate>
                </button>

                <!-- PDF -->
               <button
                class="btn btn-info btn-flat btn-min-width"
                style="margin-top:5px;max-width:80px; min-width: 70px;"
                ng-click="exportToPDF()">
                    <i class="fa fa-file-pdf-o"></i>&nbsp;<translate>PDF</translate>
                </button>

                <!-- CSV -->
               <button
                class="btn btn-info btn-flat btn-min-width"
                style="margin-top:5px;max-width:80px; min-width: 70px;"
                ng-click="exportToCSV()">
                    <i class="fa fa-file-excel-o"></i>&nbsp;<translate>CSV</translate>
                </button>
			</div>

			<div class="col-lg-12">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
			</div>

			<div class="col-lg-12">
				<!-- ui-grid-auto-resize -->
				<div id="grid1"
				ui-grid="gridOptions"
				ui-grid-exporter
				ui-grid-pinning
				ui-grid-resize-columns
				ui-grid-move-columns

				style="margin-top:5px"></div>
			</div>

		</div>
	</div>
</section>
