<aside class="main-sidebar" ng-controller="SidebarCtrl"  style="height:100%">
	<!-- sidebar: style can be found in sidebar.less -->

	<section class="sidebar" >

		<ul class="sidebar-menu" style="cursor:pointer">
		<!-- <li class="header">Main menu</li> -->

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel" ng-click="ConnectionDetailsClicked()">

			<!-- Online -->
			<div ng-if="DatabaseService.database.state == 'connected'" class="pull-left image">
               <img src="img/db/db-online.png"  alt="User Image">
			</div>
         	<div ng-if="DatabaseService.database.state == 'connected'" class="pull-left info">

				{{SettingsService.active_connection.name}}
				<br>
				<span class="info-role">{{SettingsService.active_connection.type}} </span>
				<br>
				<a href="#"> <i class="fa fa-circle text-success"></i> Online</a>
        	</div>


			<!-- Offline -->
			<div ng-if="DatabaseService.database.state == 'connection_failed'" class="pull-left image" title="{{DatabaseService.database.error}}">
               <img src="img/db/db-offline.png"  alt="User Image" title="{{DatabaseService.database.error}}">
			</div>
         	<div ng-if="DatabaseService.database.state == 'connection_failed'" class="pull-left info" title="{{DatabaseService.database.error}}">

				{{SettingsService.active_connection.name}}
				<br>
				<span class="info-role">{{SettingsService.active_connection.type}} </span>
				<br>
				<a href="#"><i class="fa fa-circle text-danger"></i> Offline</a>

        	</div>

			<!-- Connecting -->
			<div ng-if="DatabaseService.database.state == 'connecting'" class="pull-left image">
               <img src="img/db/connecting.png"  alt="User Image">
			</div>
         	<div ng-if="DatabaseService.database.state == 'connecting'" class="pull-left info">

				{{SettingsService.active_connection.name}}
				<br>
				<span class="info-role">{{SettingsService.active_connection.type}} </span>
				<br>
				<a href="#"><i class="fa fa-circle text-warning"></i> Connecting</a>
        	</div>
   			<div ng-if="DatabaseService.database.state == 'connecting'"
   				 ng-include="'views/WorkingView.html'"
   				 style="padding-top: 30px;"
   				 >
   			</div>


<!--
            <div class="pull-left image"  >
               <img src="img/db/db-online.png"  alt="User Image">
            </div>

            <div class="pull-left info">
             {{SettingsService.active_connection.name}}
             <br>
             <span class="info-role">{{SettingsService.active_connection.type}} </span>
              <br>


              <a ng-if="DatabaseService.database.state == 'connected'" href="#"><i class="fa fa-circle text-success"></i> Online</a>
              <a ng-if="DatabaseService.database.state == 'connecting'" href="#"><i class="fa fa-circle text-success"></i> Connecting</a>
              <a ng-if="DatabaseService.database.state == 'connection_failed'" href="#"><i class="fa fa-circle text-success"></i> Error</a>


            </div> -->
          </div>

			<li class="treeview"  class="not-active">
				<a  ng-click="redirect('/connections', $event)">
					<i class="fa fa-database" style="color:#ccc;"></i> <span>Connections</span>
				</a>
			</li>

			<!-- Queries -->
			<li class="treeview"  ng-class="isActive('queries') ? 'active' : 'not-active'">
				<a  ng-click="redirect('/queries', $event)">
					<i class="fa fa-cog"></i> <span translate>Queries</span>
				</a>
			</li>

           	<!-- <i class="fa fa-database fa-2x  fa-inverse " style="color:green;"></i>
            	<i class="fa fa-spinner  fa-pulse fa-inverse"></i>
            	<!-- <i class="fa fa-database fa-2x fa-pulse fa-inverse img-circle"></i> --> -->

			<!-- <li class="header" translate>QUERIES</li> -->

			<li ng-repeat="q in SettingsService.GetQueriesSync()" class="treeview"  ng-class="isActiveExactly('/query/'+q.name) ? 'active' : 'not-active'">
				<a  ng-click="redirect('/query/'+q.name, $event)">
					<i class="fa fa-circle"></i> <span translate>{{q.name}}</span>
				</a>
			</li>


			<!-- <li class="header" translate>SETTINGS</li> -->

			<!-- dashboard -->
			<li class="treeview"  ng-class="isActive('dashboard') ? 'active' : 'not-active'">
				<a  ng-click="redirect('/dashboard', $event)">
					<i class="fa fa-dashboard"></i> <span translate>Dashboard</span>
				</a>
			</li>



			<!-- items -->
			<li  ng-if="user && user.perm_items_view==1" class="treeview" ng-class="isActive('items') ? 'active' : 'not-active'">
				<a ng-click="redirect('/items', $event)">
					<i class="fa fa-barcode"></i>
					<span translate>Items</span>
					<!-- <i ng-if="user && user.perm_items_edit==1"  class="fa fa-angle-left pull-right"></i> -->
				</a>
				<!-- <ul ng-if="user && user.perm_items_edit==1" class="treeview-menu" >
					<li class="treeview" ng-class="isActive('new_item') ? 'active' : 'not-active'">
						<a ng-click="redirect('/new_item', $event)"><i class="fa fa-plus"></i> New Item </a>
					</li>
				</ul> -->
			</li>



			<!-- all requests -->
			<li  ng-if="user && (user.perm_all_requests_view==1 || user.perm_my_requests_view==1)" class="treeview" ng-class="isActiveExactly('/requests') ? 'active' : 'not-active'">
				<a ng-click="redirect('/requests', $event)">
					<i class="fa fa-envelope "></i>
					<span translate>Requests</span>
				</a>
			</li>

			<!-- audits -->
			<li  ng-if="user && user.perm_audit_view==1" class="treeview" ng-class="isActiveExactly('/audits') ? 'active' : 'not-active'">
				<a ng-click="redirect('/audits', $event)">
					<i class="fa fa-bar-chart"></i>
					<span translate>Audits</span>
				</a>
			</li>


			<!-- locations -->
			<li ng-if="user && user.perm_locations_view==1" lass="treeview" ng-class="isActive('locations') ? 'active' : 'not-active'">
				<a  ng-click="redirect('/locations', $event)">
					<i class="fa fa-map-marker"></i> <span translate>Locations</span>
				</a>
			</li>


			<!-- categories -->
			<li ng-if="user && user.perm_categories_view==1" class="treeview" ng-class="isActive('categories') ? 'active' : 'not-active'">
				<a  ng-click="redirect('/categories', $event)">
					<i class="fa fa-folder-open"></i> <span translate>Categories</span>
				</a>
			</li>

			<!-- tags -->
			<li ng-if="user && user.perm_tags_view==1" class="treeview" ng-class="isActive('tags') ? 'active' : 'not-active'">
				<a  ng-click="redirect('/tags', $event)">
					<i class="fa fa-tags"></i> <span translate>Tags</span>
				</a>
			</li>

			<!-- states -->
			<li ng-if="user && user.perm_states_view==1" class="treeview" ng-class="isActive('states') ? 'active' : 'not-active'">
				<a  ng-click="redirect('/states', $event)">
					<i class="fa fa-check-circle-o"></i> <span translate>States</span>
				</a>
			</li>

			<!-- Reports -->
			<li ng-if="user && user.perm_reports_view==1" class="treeview" ng-class="isActive('reports') ? 'active' : 'not-active'">
				<a  ng-click="redirect('/reports', $event)">
					<i class="fa fa-pie-chart"></i> <span translate>Reports</span>
				</a>
			</li>

			<!-- admin -->
			<li class="treeview" ng-class="isActive('admin') ? 'active' : 'not-active'"
				ng-if="user && (user.perm_admin_fields==1 || user.perm_admin_account==1 || user.perm_admin_user_groups==1
				|| user.perm_admin_users==1 || user.perm_admin_permissons==1)"
				>
				<a ng-click="redirect('/admin', $event)">
					<i class="fa fa-cogs"></i>
					<span translate>Admin</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu" >

					<!-- filed names -->
					<li ng-if="user && user.perm_admin_fields==1" class="treeview" ng-class="isActive('fieldnames') ? 'active' : 'not-active'">
						<a  ng-click="redirect('/fieldnames', $event)">
							<i class="fa fa-pencil"></i> <span><translate>Item's Fields</translate></span>
						</a>
					</li>

					<li ng-if="user && user.perm_admin_account==1" class="treeview"  ng-class="isActive('my_account') ? 'active' : 'not-active'">
						<a ng-click="redirect('/my_account', $event)"><i class="fa fa-user"></i> <translate>Account</translate></a>
					</li>

					<li ng-if="user && user.perm_admin_user_groups==1" class="treeview"  ng-class="isActive('admin_user_groups') ? 'active' : 'not-active'">
						<a ng-click="redirect('/admin_user_groups', $event)"><i class="fa fa-cubes"></i> <translate>User Groups</translate></a>
					</li>

					<li ng-if="user && user.perm_admin_users==1" class="treeview"  ng-class="isActive('admin_users') ? 'active' : 'not-active'">
						<a ng-click="redirect('/admin_users', $event)"><i class="fa fa-users"></i> <translate>Users</translate></a>
					</li>

					<li ng-if="user && user.perm_admin_permissons==1" class="treeview"  ng-class="isActive('admin_permissions') ? 'active' : 'not-active'">
						<a ng-click="redirect('/admin_permissions', $event)"><i class="fa fa-check-square"></i><translate>Permissions</translate></a>
					</li>

					<li ng-if="user && user.perm_invoices_view==1 " class="treeview"  ng-class="isActive('invoices') ? 'active' : 'not-active'">
						<a ng-click="redirect('/invoices', $event)"><i class="fa fa-book"></i><translate>Invoices</translate></a>
					</li>

				</ul>
			</li>











			<!--
			<li>
				<a href="pages/widgets.html">
					<i class="fa fa-th"></i> <span>Widgets</span> <small class="badge pull-right bg-green">new</small>
				</a>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-bar-chart-o"></i>
					<span>Charts</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a href="pages/charts/morris.html"><i class="fa fa-angle-double-right"></i> Morris</a></li>
					<li><a href="pages/charts/flot.html"><i class="fa fa-angle-double-right"></i> Flot</a></li>
					<li><a href="pages/charts/inline.html"><i class="fa fa-angle-double-right"></i> Inline charts</a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-laptop"></i>
					<span>UI Elements</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a href="pages/UI/general.html"><i class="fa fa-angle-double-right"></i> General</a></li>
					<li><a href="pages/UI/icons.html"><i class="fa fa-angle-double-right"></i> Icons</a></li>
					<li><a href="pages/UI/buttons.html"><i class="fa fa-angle-double-right"></i> Buttons</a></li>
					<li><a href="pages/UI/sliders.html"><i class="fa fa-angle-double-right"></i> Sliders</a></li>
					<li><a href="pages/UI/timeline.html"><i class="fa fa-angle-double-right"></i> Timeline</a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-edit"></i> <span>Forms</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a href="pages/forms/general.html"><i class="fa fa-angle-double-right"></i> General Elements</a></li>
					<li><a href="pages/forms/advanced.html"><i class="fa fa-angle-double-right"></i> Advanced Elements</a></li>
					<li><a href="pages/forms/editors.html"><i class="fa fa-angle-double-right"></i> Editors</a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-table"></i> <span>Tables</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a href="pages/tables/simple.html"><i class="fa fa-angle-double-right"></i> Simple tables</a></li>
					<li><a href="pages/tables/data.html"><i class="fa fa-angle-double-right"></i> Data tables</a></li>
				</ul>
			</li>
			<li>
				<a href="pages/calendar.html">
					<i class="fa fa-calendar"></i> <span>Calendar</span>
					<small class="badge pull-right bg-red">3</small>
				</a>
			</li>
			<li>
				<a href="pages/mailbox.html">
					<i class="fa fa-envelope"></i> <span>Mailbox</span>
					<small class="badge pull-right bg-yellow">12</small>
				</a>
			</li>
			<li class="treeview">
				<a href="#">
					<i class="fa fa-folder"></i> <span>Examples</span>
					<i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a href="pages/examples/invoice.html"><i class="fa fa-angle-double-right"></i> Invoice</a></li>
					<li><a href="pages/examples/login.html"><i class="fa fa-angle-double-right"></i> Login</a></li>
					<li><a href="pages/examples/register.html"><i class="fa fa-angle-double-right"></i> Register</a></li>
					<li><a href="pages/examples/lockscreen.html"><i class="fa fa-angle-double-right"></i> Lockscreen</a></li>
					<li><a href="pages/examples/404.html"><i class="fa fa-angle-double-right"></i> 404 Error</a></li>
					<li><a href="pages/examples/500.html"><i class="fa fa-angle-double-right"></i> 500 Error</a></li>
					<li><a href="pages/examples/blank.html"><i class="fa fa-angle-double-right"></i> Blank Page</a></li>
				</ul>
			</li>
			-->
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>