<div>
<!-- 	<div  class="row">
		<div class="text-center">
			<h4 translate>Please wait loading data.</h4>
		</div>
	</div> -->
	<div  class="row">
		<div class="text-center" style="margin:20px">
			<div class="spinner" ><div class="bar bar1"></div><div class="bar bar2"></div></div>
		</div>
	</div>
</div>