<div class="modal-header">
	<h4  class="modal-title"><i class="fa fa-pencil"></i>&nbsp;<translate>Add Query</translate></h4>
	<h4 ng-if="editing_item_one" class="modal-title"><i class="fa fa-pencil"></i>&nbsp;<translate>Edit Query</translate></h4>
</div>

<div class="modal-body">

	<div class="row">
		<div class="col-lg-12">

			{{query.parameters}}

			<table class="table table-bordered" style="word-wrap: break-word;">
				<!-- <colgroup>
					<col class="col-md-1">
					<col class="col-md-1">
					<col class="col-md-10">
				</colgroup> -->
				<tbody>

					<tr>
						<td class="table-header" ng-disabled="true" width="20%">
							<b>Name</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
							<input
							class="form-control"
							type="text"
							placeholder="Name"
							ng-model="query.name" >
							</input>
						</td>
					</tr>

					<tr>
						<td class="table-header" ng-disabled="true" width="20%">
							<b>Description</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
							<input
							class="form-control"
							type="text"
							placeholder="Description"
							ng-model="query.description" >
							</input>
						</td>
					</tr>

					<tr>
						<td class="table-header" ng-disabled="true" width="20%">
							<b>SQL Query</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
							<div style="height:250px; width:100%;" ui-ace="{
								  useWrapMode : true,
								  showGutter: true,
								  mode: 'sql',
								  onLoad: aceLoaded,
								  onChange: aceChanged
								}" ng-model="query.sql">
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<div   >
		<div class="row">

				<div class="col-lg-12">
			<table class="table table-bordered" style="word-wrap: break-word;">
				<tbody>
					<tr ng-repeat="param in  query.parameters">
						<!-- Id -->
						<td class="table-header" ng-disabled="true">
							<b>ID</b>
						</td>
						<td class="items_table_value" style="vertical-align:middle;">
							<b>{{param.id}}</b>
						</td>

						<!-- Name -->
						<td class="table-header" ng-disabled="true">
							<b>Name</b>
						</td>
						<td class="items_table_value" style="vertical-align:middle;">
							<input
							class="form-control"
							type="text"
							ng-model="param.name" />
						</td>

						<!-- Typ -->
						<td class="table-header" ng-disabled="true">
							<b>Type</b>
						</td>
						<td class="items_table_value" style="vertical-align:middle;">
							<ui-select
							ng-model="param.type"
							theme="bootstrap"
							ng-disabled="disabled"
							reset-search-input="false"
							on-select="generateIsIntervalEnum()"
							title="Parameter type">
								<ui-select-match placeholder="Parameter type">{{$select.selected}}</ui-select-match>
								<ui-select-choices repeat="item in parameterTypesEnum  ">
									<div ng-bind-html="item | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</td>


						<!-- Text Default Value -->
						<td ng-if="param.type == 'Text' || param.type=='Combobox'" class="table-header" ng-disabled="true">
							<b>Default Value</b>
						</td>
						<td ng-if="param.type == 'Text' || param.type=='Combobox'" class="items_table_value" style="vertical-align:middle;">
							<input
							class="form-control"
							type="text"
							ng-model="param.default_value" />
						</td>

						<!-- Checkbox Default Value -->
						<td ng-if="param.type == 'Checkbox'" class="table-header" ng-disabled="true">
							<b>Default Value</b>
						</td>
						<td ng-if="param.type == 'Checkbox'" class="items_table_value" style="vertical-align:middle;">
							<input
							class="form-control"
							type="checkbox"
							ng-model="param.default_value" />
						</td>


						<!-- Data source -->
						<td ng-if="param.type == 'Combobox'" class="table-header" ng-disabled="true">
							<b>Data source</b>
						</td>
						<td ng-if="param.type == 'Combobox'" class="items_table_value" style="vertical-align:middle;">
							<input
							class="form-control"
							type="text"
							ng-model="param.data_source" />
						</td>


				<!-- 		<td class="table-header" ng-disabled="true">
							<b></b>
						</td> -->
						<td ng-if="param.type=='DateTime'" class="items_table_value" style="vertical-align:middle;">
							<ui-select
							ng-model="param.interval"
							theme="bootstrap"
							ng-disabled="disabled"
							reset-search-input="false"
							on-select="generateIsIntervalEnum()"
							title="Is interval">
								<ui-select-match placeholder="Is interval">{{$select.selected.text}}</ui-select-match>
								<ui-select-choices repeat="item in isIntervalEnum  " >
									<div ng-bind-html="item.text | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
						</td>

					</tr>

				</tbody>
			</table>

			</div>
		</div>
	</div>




</div ng-init="on_controller_init()">

<div class="modal-footer">
	<!-- alerts -->
	<div class="row" style="padding-right:15px; padding-left:15px">
		<div class="col-lg-12"  style="padding:5px;" >
			<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
		</div>
	</div>

	<!-- save and progress bar -->
	<div class="row" style="padding-right:15px; padding-left:15px">

		<div class="col-lg-12" ng-hide="working ">

			<button  ng-hide="working" 	class="btn btn-success btn-flat btn-min-width  pull-right"   style="margin:5px;" ng-click="saveClicked()"><translate>Save</translate></button>
			<!-- <button  ng-hide="working || !editing_item_multiple || !editing_item_one " class="btn btn-success btn-flat btn-min-width  pull-right"   style="margin:5px;" ng-click="saveItemButtonClicked()">Save</button> -->

			<button class="btn btn-default btn-flat btn-min-width  pull-right" ng-click="cancelClicked()" ng-disabled="working" style="margin:5px;"><translate>Cancel</translate></button>
		</div>

		<div class="col-lg-12"  style="padding:5px;" ng-show="working">
			<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
		</div>
	</div>
</div>