<div class="modal-header">
	<h4 ng-if="!is_editing" class="modal-title"><i class="fa fa-pencil"></i>&nbsp;<translate>Add Connection</translate></h4>
	<h4 ng-if="is_editing"  class="modal-title"><i class="fa fa-pencil"></i>&nbsp;<translate>Edit Connection</translate></h4>
</div>

<div class="modal-body">

	<div class="row">
		<div class="col-lg-12">

			<table class="table table-bordered" style="word-wrap: break-word;">

				<tbody>

					<!-- Type -->
					<tr>
						<td class="table-header" ng-disabled="true" width="20%">
							<b>Type</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
							{{type}}
							<span ng-if="connection.type == 'mysql' 	 "> <i class="icon-mysql"></i> &nbsp;MySQL</span>
							<span ng-if="connection.type == 'mssql' 	 "> <i class="icon-mssql"></i> &nbsp;MS SQL Server</span>
							<span ng-if="connection.type == 'postgresql' "> <i class="icon-postgres-alt"></i> &nbsp;Postgre SQL</span>
						</td>
					</tr>


					<!-- Name -->
					<tr>
						<td class="table-header" ng-disabled="true" width="20%">
							<b>Name</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
							<input
							class="form-control"
							type="text"
							placeholder="Name"
							ng-model="connection.name" >
							</input>
						</td>
					</tr>

					<!-- Description -->
					<tr>
						<td class="table-header" ng-disabled="true" width="20%">
							<b>Description</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
							<input
							class="form-control"
							type="text"
							placeholder="Description"
							ng-model="connection.description" >
							</input>
						</td>
					</tr>

					<!-- Hostname -->
					<tr>
						<td class="table-header" ng-disabled="true" width="20%">
							<b>Hostname/IP</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
							<input
							class="form-control"
							type="text"
							placeholder="Hostname"
							ng-model="connection.host" >
							</input>
						</td>
					</tr>

					<!-- User -->
					<tr>
						<td class="table-header" ng-disabled="true" width="20%">
							<b>User</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
							<input
							class="form-control"
							type="text"
							placeholder="User"
							ng-model="connection.user" >
							</input>
						</td>
					</tr>


					<!-- Password -->
					<tr>
						<td class="table-header" ng-disabled="true" width="20%">
							<b>Password</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
							<input
							class="form-control"
							type="password"
							placeholder="Password"
							ng-model="connection.password" >
							</input>
						</td>
					</tr>

					<!-- Port -->
					<tr>
						<td class="table-header" ng-disabled="true" width="20%">
							<b>Port</b>
						</td>

						<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
							<input
							class="form-control"
							type="text"
							placeholder="Port"
							ng-model="connection.port" >
							</input>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div ng-init="on_controller_init()">

<div class="modal-footer">

	<!-- progress bar -->
	<div ng-if="connection_testing" class="row" style="padding-right:15px; padding-left:15px">
		<div class="col-lg-12"  style="padding:5px;" >
			<div ng-include="'views/WorkingView.html'"></div>
		</div>
	</div>

	<!-- alerts -->
	<div class="row" style="padding-right:15px; padding-left:15px">
		<div class="col-lg-12"  style="padding:5px;" >
			<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
		</div>
	</div>

	<!-- save and progress bar -->
	<div class="row" style="padding-right:15px; padding-left:15px">

		<div class="col-lg-12" ng-hide="working ">

			<!-- Save -->
			<button ng-hide="working"
					class="btn btn-success btn-flat btn-min-width  pull-right"
					style="margin:5px;"
					ng-disabled="working || !connection_test_passed || connection_testing"
					ng-click="saveClicked()">
					<translate>Save</translate>
			</button>

			<!-- Test -->
			<button class="btn btn-primary btn-flat btn-min-width  pull-right"
					ng-click="testClicked()"
					ng-disabled="connection_testing"
					style="margin:5px;">
					<translate>Test</translate>
			</button>


			<!-- Cancel -->
			<button class="btn btn-default btn-flat btn-min-width  pull-right"
					ng-click="cancelClicked()"
					ng-disabled="connection_testing"
					style="margin:5px;">
					<translate>Cancel</translate>
			</button>
		</div>

		<div class="col-lg-12"  style="padding:5px;" ng-show="working">
			<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
		</div>
	</div>
</div>