<div class="modal-header">
	<h4 class="modal-title"><i class="fa fa-pencil"></i>&nbsp;<translate>Connection details</translate></h4>
</div>

<div class="modal-body">

	<div class="row">
		<div class="col-lg-12">

				<!-- <h2> Connection </h2> -->

				<table class="table table-bordered" style="word-wrap: break-word;">
					<tbody>

						<!-- Type -->
						<tr>
							<td class="table-header" ng-disabled="true" width="20%">
								<b>Type</b>
							</td>

							<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
								{{type}}
								<span ng-if="DatabaseService.database.data.type == 'mysql' 	 "> <i class="icon-mysql"></i> &nbsp;MySQL</span>
								<span ng-if="DatabaseService.database.data.type == 'mssql' 	 "> <i class="icon-mssql"></i> &nbsp;MS SQL Server</span>
								<span ng-if="DatabaseService.database.data.type == 'postgresql' "> <i class="icon-postgres-alt"></i> &nbsp;Postgre SQL</span>
							</td>
						</tr>


						<!-- Name -->
						<tr>
							<td class="table-header" ng-disabled="true" width="20%">
								<b>Name</b>
							</td>

							<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
								{{DatabaseService.database.data.name}}
							</td>
						</tr>

						<!-- Description -->
						<tr>
							<td class="table-header" ng-disabled="true" width="20%">
								<b>Description</b>
							</td>

							<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
								{{DatabaseService.database.data.description}}
							</td>
						</tr>

						<!-- Hostname -->
						<tr>
							<td class="table-header" ng-disabled="true" width="20%">
								<b>Hostname/IP</b>
							</td>

							<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
								{{DatabaseService.database.data.host}}
							</td>
						</tr>

						<!-- User -->
						<tr>
							<td class="table-header" ng-disabled="true" width="20%">
								<b>User</b>
							</td>

							<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
								{{DatabaseService.database.data.user}}
							</td>
						</tr>


						<!-- Password -->
						<tr>
							<td class="table-header" ng-disabled="true" width="20%">
								<b>Password</b>
							</td>

							<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
								<input
								class="form-control"
								type="password"
								placeholder="Password"
								ng-model="connection.password"
								ng-disabled="true">
								</input>
							</td>
						</tr>

						<!-- Port -->
						<tr>
							<td class="table-header" ng-disabled="true" width="20%">
								<b>Port</b>
							</td>

							<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
								{{DatabaseService.database.data.port}}
							</td>
						</tr>

						<tr>
							<td class="table-header" ng-disabled="true" width="20%">
								<b>State</b>
							</td>

							<td class="items_table_value" style="vertical-align:middle;" colspan="2" >

								<!-- Offline -->
								<div ng-if="DatabaseService.database.state =='connection_failed'">
									<i class="fa fa-circle text-danger"></i> Offline
								</div>

								<!-- Online -->
								<div ng-if="DatabaseService.database.state =='connected'">
									<i class="fa fa-circle text-success"></i> Online
								</div>

								<!-- Online -->
								<div ng-if="DatabaseService.database.state =='connecting'">
									<i class="fa fa-circle text-warning"></i> Connecting
									<div
						   				 ng-include="'views/WorkingView.html'"
						   				 >
						   			</div>
								</div>

							</td>
						</tr>

						<tr ng-if="DatabaseService.database.state =='connection_failed'">
							<td class="table-header" ng-disabled="true" width="20%">
								<b>Error</b>
							</td>

							<td class="items_table_value" style="vertical-align:middle;" colspan="2" >
								{{DatabaseService.database.error}}
							</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>

</div ng-init="on_controller_init()">

<div class="modal-footer">

	<!-- progress bar -->
<!-- 	<div ng-if="connection_testing" class="row" style="padding-right:15px; padding-left:15px">
		<div class="col-lg-12"  style="padding:5px;" >
			<div ng-include="'views/WorkingView.html'"></div>
		</div>
	</div> -->

	<!-- alerts -->
<!-- 	<div class="row" style="padding-right:15px; padding-left:15px">
		<div class="col-lg-12"  style="padding:5px;" >
			<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
		</div>
	</div>
 -->
	<!-- save and progress bar -->
<!-- 	<div class="row" style="padding-right:15px; padding-left:15px">

		<div class="col-lg-12" ng-hide="working ">


		</div>

		<div class="col-lg-12"  style="padding:5px;" ng-show="working">
			<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
		</div>
	</div>
 -->
</div>