<div class="modal-header" style="background-color: #bd362f;">
	<h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i>&nbsp;{{title}}</h4>
</div>

<div class="modal-body">

	<div class="row">
		<div class="col-lg-12">

		<!-- <h3>{{title}}</h3> -->

		<p>
			<h4>Query:</h4>
			<pre>{{sql}}</pre>
		</p>

		<p>
			<h4>Error:</h4>
			<pre>{{err}}</pre>
		</p>

		</div>
	</div>

</div ng-init="on_controller_init()">

<div class="modal-footer">

</div>