<!-- header logo: style can be found in header.less -->
<div ng-include="'views/HeaderPartial.html'"> </div>

<div ng-controller="LandingCtrl" ng-init="redirectToDashboardIfLogged()">

    <div ng-if="isLoggedIn == true" >
        <section ng-include="'views/SidebarPartial.html'"> </section>
        <div class="content-wrapper" class="right-side"  ng-view>
        </div>
    </div>



    <div ng-if="isLoggedIn == false">

        <!-- #################################################################################################################################### -->
        <!-- #                                                          LANDING VIEW START                                                      # -->
        <!-- #################################################################################################################################### -->

        <section >
            <div class="landing" style="background:#FFF; ">

                <div class="row centered" style="height:500px; background:#0A60A6;" >


                    <div class="col-lg-1" > </div>
                    <div class="col-lg-4" >
                        <div style="color:#FFF; text-align:left;">
                            <h1 style="font-weight:normal;">Barcodery</h1>
                            <h2>Cloud based inventory and asset management solution</h2>
                            <div style="margin-top:40px;">
                                <h3>Scan and track your assets across several locations</h3>
                            </div>
                        </div>


                        <div class="row" style="margin-top:25px;">

                            <div class="col-lg-12" >


                                <button class="btn btn-danger btn-raised   btn-min-width"   style="font-size:18px;  height:50px; margin:10px; min-width:250px;" ng-click="tryDemoClicked($event)">
                                    <i class="fa fa-car"></i>
                                    Try Demo
                                </button>


                                <button class="btn btn-success btn-raised   btn-min-width"   style="font-size:18px;  height:50px; margin:10px; min-width:250px;" ng-click="openSignInDialog($event)">
                                    <i class="fa fa-sign-in"></i>
                                    Sign in
                                </button>



                                <button  class="btn btn-black btn-raised   btn-min-width"   style="font-size:18px;  height:50px; margin:10px; min-width:250px;"   onclick="location.href='https://play.google.com/store/apps/details?id=com.blowingnose.marduk'">
                                    <i class="fa fa-android"></i>
                                    Download Android App
                                </button>

                            </div>

                        </div>


                    </div>

                    <div class="col-lg-6 col-xs-12">
                        <!-- <br><br><br><br><br> -->
                        <img  src="img/landing/laptop-mobile.png" alt="landign-image" style="width:750px;float:left; position:relative;top:86px;">
                    </div>

                    <div class="col-lg-1" > </div>

                </div>

                <!-- <section id="home" name="home"></section> -->
                <div id="headerwrap">

                    <section class="features-intro" style="padding-top:50px">
                        <div class="container">
                            <div class="row">

                                <div class="col-md-4 col-sm-4 margin-btm-30" style="text-align:center">
                                    <h1 class="foreground-blue"><i class="fa fa-qrcode"></i></h1>
                                    <h2>Generate and print your own qr code stickers</h2>
                                </div>

                                <div class="col-md-4 col-sm-4 margin-btm-30" style="text-align:center">
                                    <h1 class="foreground-blue"><i class="fa fa-tag"></i></h1>
                                    <h2>Label the equipment you want to track</h2>
                                </div>

                                <div class="col-md-4 col-sm-4 margin-btm-30" style="text-align:center">
                                    <h1 class="foreground-blue"><i class="fa fa-mobile fa-10"></i></h1>
                                    <h2>Scan stickers and manage your inventory</h2>
                                </div>

                            </div>
                        </div>
                    </section>

                </div><!--/ #headerwrap -->


                <div class="container" style=" padding-top:30px">
                    <div class="row">
                        <h1 class="centered">Features</h1>
                    </div>
                </div>


                <!-- <section id="home" name="home"></section> -->
                <div id="headerwrap">

                    <section class="features-intro" style="padding-top:10px">
                        <div class="container">

                            <div class="row">

                                <div class="col-md-3 col-sm-6 margin-btm-30">
                                    <div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                                        <i class="fa fa-users blue"></i>
                                        <h3>Multiple Users</h3>
                                        <p>
                                            Barcodery supports multiple users. You can add users to your account and give them <b>permissions</b> to parts of the system.
                                        </p>
                                    </div><!--features box intro end-->
                                </div><!--col end-->
                                <div class="col-md-3 col-sm-6 margin-btm-30">
                                    <div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                        <i class="fa fa-pencil blue"></i>
                                        <h3>Custom Fields</h3>
                                        <p>
                                            You define your items. Your items can contain text, barcode, <b>NFC</b>, date, bit, number or <b>GPS</b> fields. You don't have to make any compromises.
                                        </p>
                                    </div><!--features box intro end-->
                                </div><!--col end-->
                                <div class="col-md-3 col-sm-6 margin-btm-30">
                                    <div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                                        <i class="fa fa-barcode blue"></i>
                                        <h3>Bar/QR codes/NFC </h3>
                                        <p>
                                            Android app consists of built in barcode, qr-code and NFC scanner. Web app contains also <b>barcodes generator</b>. Just generate barcodes, print them on A4 and stick on items you want to track.
                                        </p>
                                    </div><!--features box intro end-->
                                </div><!--col end-->
                                <div class="col-md-3 col-sm-6 margin-btm-30">
                                    <div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                        <i class="fa fa-picture-o blue"></i>
                                        <h3>Image Support</h3>
                                        <p>
                                            In Barcodery you can create custom field type image and save also your images.
                                        </p>
                                    </div><!--features box intro end-->
                                </div><!--col end-->
                            </div>

                            <div class="row" style="padding-top:15px;">
                                <div class="col-md-3 col-sm-6 margin-btm-30">
                                    <div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                                        <i class="fa fa-shopping-cart blue"></i>
                                        <h3>Requests</h3>
                                        <p>
                                            Barcodery can track also user requests for particular items. If items arrive to the selected location, request is automatically covered.
                                        </p>
                                    </div><!--features box intro end-->
                                </div><!--col end-->
                                <div class="col-md-3 col-sm-6 margin-btm-30">
                                    <div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                        <i class="fa fa-exchange blue"></i>
                                        <h3>Transactions In/Out</h3>
                                        <p>
                                            Barcodery helps you to track your items using transactions in and out with your locations.
                                        </p>
                                    </div><!--features box intro end-->
                                </div><!--col end-->
                                <div class="col-md-3 col-sm-6 margin-btm-30">
                                    <div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                        <!-- <i class="ion-ios-chatboxes-outline blue"></i> -->
                                        <i class="fa fa-bell blue"></i>
                                        <h3>Minimum Count Alerts</h3>
                                        <p>
                                            You can set up an email alert when you are have low count of items.
                                        </p>
                                    </div><!--features box intro end-->
                                </div><!--col end-->

                                <div class="col-md-3 col-sm-6 margin-btm-30">
                                    <div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                                        <i class="fa fa-ellipsis-h blue"></i>
                                        <h3>And Much More</h3>
                                        <p>
                                            Feel free to try demo app, to see if it suits your needs. Email is checked a dozen times a day. Feel free to write.
                                        </p>
                                    </div><!--features box intro end-->
                                </div><!--col end-->

                            </div>
                        </div>
                    </section>



                </div><!--/ #headerwrap -->








                <!-- Tweets -->
                <!--                    <div style="background:#FFF;">
                    <div class="container" style="padding-bottom:30px; padding-top:30px">
                    <div class="row">
                    <h1 class="centered">Check out what others say</h1>
                    <br>
                    <br>
                    <div class="col-md-6">
                    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Barcodery: Scan and sync codes: Run a small business? Then Barcodery could help you! Barcodery is a service,... <a href="http://t.co/vn5I6R1u25">http://t.co/vn5I6R1u25</a></p>&mdash; DroidMill (@droidmill) <a href="https://twitter.com/droidmill/status/384361637206978560">November 29, 2014</a></blockquote>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>

                    <div class="col-md-6">
                    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">[Moblogging] http://vipersniper.dnsalias.com/moblog/post.php/1042 - the goddess of Barcodery</p>&mdash; Engrish Smitelli (@engrishsmitelli) <a href="https://twitter.com/engrishsmitelli/status/3925762657">August 12, 20014</a></blockquote>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>

                    <div class="col-md-6">
                    <blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr">Just installed Barcodery. Scan and organize all the things!</p>&mdash; r.reeves (@idogcow) <a href="https://twitter.com/idogcow/status/382892819460784128">May 18, 2015</a></blockquote>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>

                    <div class="col-md-6">

                    <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Tried almost every inventory app in play store. Sticked with <a href="https://twitter.com/barcodery">@barcodery</a>, support is fast and helpful</p>&mdash; H (@Harlsten) <a href="https://twitter.com/Harlsten/status/647724063104835584">September 20, 2015</a></blockquote>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                    </div>
                    </div>
                </div> -->



                <div style="background:#FFF;">
                    <div class="container" style="padding-bottom:30px; padding-top:30px">

                        <!-- pricing -->

                        <h1 class="centered">Pricing table</h1>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-lg-12">


                                <div class="row">

                                    <!-- pricing 1 -->
                                    <div class="col-lg-12">
                                        <ul class="pricing-table dark" id="light">
                                            <li class="col-lg-3">
                                                <h3>Personal</h3>
                                                <div class="price-body">
                                                    <div class="price">
                                                        Free
                                                        <span class="price-figure"><sup></sup><small></small> </span>
                                                        <span class="price-term">total</span>

                                                    </div>
                                                </div>
                                                <div class="features">
                                                    <ul>
                                                        <li>20 Products</li>
                                                        <li>20 In/Out Entries</li>
                                                        <li>5 Audits</li>
                                                        <li>5 Requests</li>
                                                        <li>5 Locations</li>
                                                        <li>1 User</li>
                                                    </ul>
                                                </div>
                                                <div class="footer">
                                                </div>
                                            </li>

                                            <!-- Active/Hover styles -->
                                            <li class="col-lg-3" >
                                                <h3>Starter</h3>
                                                <div class="price-body">
                                                    <div class="price">
                                                        <span class="price-figure"><sup>$</sup>5<small>.00</small> </span>
                                                        <span class="price-term">per month</span>
                                                    </div>
                                                </div>
                                                <div class="features">
                                                    <ul>
                                                        <li>100 Products</li>
                                                        <li>150 In/Out Entries</li>
                                                        <li>10 Audits</li>
                                                        <li>10 Requests</li>
                                                        <li>10 Locations</li>
                                                        <li>2 User</li>
                                                    </ul>
                                                </div>
                                                <div class="footer">
                                                </div>
                                            </li>

                                            <li class="col-lg-3 active primary" >
                                                <h3>Small biz</h3>
                                                <div class="price-body">
                                                    <div class="price">
                                                        <span class="price-figure"><sup>$</sup>15<small>.00</small> </span>
                                                        <span class="price-term">per month</span>
                                                    </div>
                                                </div>
                                                <div class="features">
                                                    <ul>
                                                        <li>200 Products</li>
                                                        <li>500 In/Out Entries</li>
                                                        <li>30 Audits</li>
                                                        <li>30 Requests</li>
                                                        <li>30 Locations</li>
                                                        <li>5 User</li>
                                                    </ul>
                                                </div>
                                                <div class="footer">
                                                </div>
                                            </li>

                                            <li class="col-lg-3" >
                                                <h3>Warehouse</h3>
                                                <div class="price-body">
                                                    <div class="price">
                                                        <span class="price-figure"><sup>$</sup>35<small>.00</small> </span>
                                                        <span class="price-term">per month</span>
                                                    </div>
                                                </div>
                                                <div class="features">
                                                    <ul>
                                                        <li>Unlimited Products</li>
                                                        <li>Unlimited In/Out Entries</li>
                                                        <li>Unlimited Audits</li>
                                                        <li>Unlimited Requests</li>
                                                        <li>Unlimited Locations</li>
                                                        <li>15 User</li>
                                                    </ul>
                                                </div>
                                                <div class="footer">
                                                </div>
                                            </li>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>

                                    <!-- pricing 2 -->
                                    <div class="col-lg-12"> <h3 class="text-center">Purchasing for a year gives you 1 month free </h3></div>

                                    <div class="col-lg-12">

                                        <ul class="pricing-table dark">
                                            <li class="col-lg-4">
                                                <h3>Starter</h3>
                                                <div class="price-body">
                                                    <div class="price">
                                                        <span class="price-figure"><sup>$</sup>55<small>.00</small> </span>
                                                        <span class="price-term">per year</span>
                                                    </div>
                                                </div>
                                                <div class="features">
                                                    <ul>
                                                        <li>100 Products</li>
                                                        <li>150 In/Out Entries</li>
                                                        <li>10 Audits</li>
                                                        <li>10 Requests</li>
                                                        <li>10 Locations</li>
                                                        <li>2 User</li>
                                                    </ul>
                                                </div>
                                                <div class="footer">
                                                </div>
                                            </li>

                                            <!-- Active/Hover styles -->
                                            <li class="active primary col-lg-4">
                                                <h3>Small biz</h3>
                                                <div class="price-body">
                                                    <div class="price">
                                                        <span class="price-figure"><sup>$</sup>165<small>.00</small> </span>
                                                        <span class="price-term">per year</span>
                                                    </div>
                                                </div>
                                                <div class="features">
                                                    <ul>
                                                        <li>200 Products</li>
                                                        <li>500 In/Out Entries</li>
                                                        <li>30 Audits</li>
                                                        <li>30 Requests</li>
                                                        <li>30 Locations</li>
                                                        <li>5 User</li>
                                                    </ul>
                                                </div>
                                                <div class="footer">
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <h3>Warehouse</h3>
                                                <div class="price-body">
                                                    <div class="price">
                                                        <span class="price-figure"><sup>$</sup>385<small>.00</small> </span>
                                                        <span class="price-term">per year</span>
                                                    </div>
                                                </div>
                                                <div class="features">
                                                    <ul>

                                                        <li>Unlimited Products</li>
                                                        <li>Unlimited In/Out Entries</li>
                                                        <li>Unlimited Audits</li>
                                                        <li>Unlimited Requests</li>
                                                        <li>Unlimited Locations</li>
                                                        <li>15 User</li>
                                                    </ul>
                                                </div>
                                                <div class="footer">
                                                </div>
                                            </li>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>

                                    <div class="col-lg-12">
                                        <!-- <span style="font-size:18px"> If you need custom plan, please contact me and I set up what you need.</span> -->
                                        <h3 class="text-center">If you need custom plan (different counts), please contact me and I set up what you need.</h3>
                                        <h4 class="text-center"> Also there is possible custom solution running on your own server.</h4>
                                    </div>

                                    <!-- Custom Solution -->
                                    <div class="col-lg-12">
                                        <ul class="pricing-table dark">
                                            <div class="col-lg-4">

                                            </div>

                                            <li class="active primary col-lg-4">
                                                <h3>Custom Solution</h3>
                                                <!-- <div class="" style="height:125px; text-align:center">

                                                    <h4 translate>Running on your server </h4>
                                                    <h4 translate>Features modification possible </h4>
                                                    <h4 translate>Image support possible</h4>
                                                    <h4 translate>Everything Unlimited </h4>
                                                </div> -->

                                                <div class="features">
                                                    <ul>
                                                        <li translate>Running on your server </li>
                                                        <li translate>Features modification possible </li>
                                                        <li translate>Image support possible</li>
                                                        <li translate>Everything Unlimited </li>
                                                    </ul>
                                                </div>

                                                <div class="footer">
                                                    <div  style="color:white; padding-bottom:5px;">
                                                        <strong><a href="mailto:support@barcodery.com" style="color:#FFF;">Contact me </a></strong>
                                                        <br>
                                                    </div>
                                                </div>
                                            </li>

                                            <div class="col-lg-4">
                                            </div>

                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <section id="contact" name="contact"></section>
                <div id="footerwrap">
                    <div class="container">
                        <div class="col-lg-12">
                            <h3>Address</h3>
                        </div>
                        <div class="col-lg-7">
                            <table class="contact-table">
                                <tbody>
                                    <tr>
                                        <td class="header-cell" style="width:150px">
                                            Contact Person:
                                        </td>
                                        <td class="data-cell">
                                            Jan Pivarcek
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="header-cell">
                                            Address:
                                        </td>
                                        <td class="data-cell">
                                            Pobocna 600/11,
                                            <br>Prague,
                                            <br>14100,
                                            <br>Czech Republic
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="header-cell">
                                            Phone:
                                        </td>
                                        <td class="data-cell">
                                            +421 730 630 791
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="header-cell">
                                            Emails:
                                        </td>
                                        <td class="data-cell">
                                            <a href="mailto:info@barcodery.com">info@barcodery.com</a>
                                            <br><a href="mailto:support@barcodery.com">support@barcodery.com</a>
                                        </td>
                                    </tr>

                                </tbody></table>
                        </div>


                    </div>
                </div>
            </div>



            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->




        </section>

        <!-- #################################################################################################################################### -->
        <!-- #                                                          LANDING VIEW END                                                        # -->
        <!-- #################################################################################################################################### -->

    </div>

</div>
