<!-- header logo: style can be found in header.less -->


<div ng-controller="LandingCtrl" ng-init="redirectToDashboardIfLogged()">

    <div ng-if="isLoggedIn == true" >

        <div ng-include="'views/HeaderPartial.html'" > </div>
        <section ng-include="'views/SidebarPartial.html'"> </section>
        <div class="content-wrapper" class="right-side"   ng-view>
		</div>
	</div>

    <div ng-if="isLoggedIn == false">
        <section style="background:#FFF;" >

			<div class="login-box" style=" margin:0 auto; padding-top:150px;" ng-controller="SignInFormCtrl">
				<div class="login-logo">


                    <img src="http://cdn.bostonind.com/image/data/logo.png" style=" padding-bottom:15px;" />

                    <!-- <img src="img/icon.png" style="width:60px; padding-bottom:15px;" /> -->

				</div>

                <!-- <div style="width:350px; margin:0 auto;" ng-include="'views/Auth/SignInDialog.html'"> </div> -->

				<div class="login-box-body" style="background:#ECECEC; padding:50px 30px 100px 30px; ">
					<center>
                        <img src="img/icon.png" style="width:60px; padding-bottom:15px; " />
					</center>
					<p class="login-box-msg">Sign in to start your session</p>
					<div class="form-group has-feedback">
						<input type="email" ng-model="inputFields.Email" class="form-control" placeholder="Email">
						<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback">
						<input type="password" ng-model="inputFields.Password" class="form-control" placeholder="Password" ng-keypress="key_pressed_on_password($event)">
						<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					</div>
					<section class="text-center errorMesssages" ng-hide="validationErrors==''" style="color:red; margin-bottom:10px;">
						{{ validationErrors }}
					</section>
					<div class="row">

						<div class="col-xs-12 center-block" style="margin-bottom:10px" ng-show="show_forgotten_password_link">
							<button class="btn btn-default btn-flat width-full-percentage" ng-click="forgotPasswordClicked()" ng-disabled="working">Forgot your password ?</button>
						</div>

						<div class="col-xs-12 center-block" >
							<button ng-click="signInClicked()" class="btn btn-primary btn-raised btn-block btn-flat">Sign In</button>
						</div>


					</div>
				</div>
			</div>






		</section>

	</div>

</div>
