<!--  -->
<div >
	<!-- header logo: style can be found in header.less -->
	<div ng-include="'views/HeaderPartial.html'"> </div>

	<div ng-controller="LandingCtrl" ng-init="redirectToDashboardIfLogged()">

		<div ng-if="isLoggedIn == false  && is_promo_in_url">

			<div style="background-color: #FFF;">
				<section class="content">

					<div class="row" style="margin:5px">
						<div class="col-lg-12" >
							<center>
								<h2 translate> Please sign up or sign in</h2>
							</center>
						</div>
					</div>

					<div class="row" style="margin:5px">
						<div class="col-lg-12" >
							<center>
								<button class="btn btn-primary btn-flat width-full-percentage"
								ng-click="openSignUpDialog()"
								style="width:200px; text-align: center;"
								ng-disabled="working">	<translate>Sign Up</translate>
								</button>

								<button class="btn btn-primary btn-flat width-full-percentage"
								ng-click="openSignInDialog()"
								style="width:200px; text-align: center;"
								ng-disabled="working">	<translate>Sign In</translate>
								</button>

							</center>
						</div>
					</div>

				</section>
			</div>

		</div>


		<div ng-if="isLoggedIn == true" >
			<section ng-include="'views/SidebarPartial.html'"> </section>
			<div class="content-wrapper" class="right-side"  ng-view>
			</div>
		</div>

		<div ng-if="isLoggedIn == false && !is_promo_in_url">

			<!-- #################################################################################################################################### -->
			<!-- #                                                          LANDING VIEW START                                                      # -->
			<!-- #################################################################################################################################### -->

			<section >
				<div class="landing" style="background:#FFF; ">

					<div class="row centered" style=" background:#0A60A6; color:white;" >
						<div class="col-lg-12 " >
							<div style=" text-align:left;">
								<center>
									<h1 style="font-weight:normal;"> Evidence majetku</h1>
									<h2>Zjednodušte si evidenciu Vašeho pohyblivého majetku</h2>
									<h3>Pomocí cloudoveho řešení a android aplikace</h3>
								</center>
							</div>
						</div>

						<div class="col-lg-12 " >
							<button class="btn btn-danger btn-raised   btn-min-width"   style="font-size:18px;  height:50px; margin:10px; min-width:250px;" ng-click="tryDemoClicked($event)">
								<i class="fa fa-car"></i>
								Vyzkoušet demo
							</button>


							<button class="btn btn-success btn-raised   btn-min-width"   style="font-size:18px;  height:50px; margin:10px; min-width:250px;" ng-click="openSignInDialog($event)">
								<i class="fa fa-sign-in"></i>
								Přihlásit se
							</button>



							<button  class="btn btn-black btn-raised   btn-min-width"   style="font-size:18px;  height:50px; margin:10px; min-width:250px;"   onclick="location.href='https://play.google.com/store/apps/details?id=com.blowingnose.qrko'">
								<i class="fa fa-android"></i>
								Stáhnout Android Aplikaci
							</button>
						</div>

					</div>

					<div class="row centered" style=" background:#0A60A6; color:black;" >
						<div class="col-lg-12 " >
							<div style=" text-align:left;">
								<center>
									<img  src="img/landing/qrko-laptop-mobile.png" alt="landign-image" style="width:800px; position:relative;top:53px;">
								</center>
							</div>
						</div>
					</div>

					<!-- <section id="home" name="home"></section> -->
					<div id="headerwrap" style="background: #F5F5F5;">

						<div class="container" style=" padding-top:30px">
							<div class="row">
								<h2 class="centered">Jak to funguje ?</h2>
							</div>
						</div>

						<section class="features-intro" style="padding-top:50px; background:#F5F5F5;">
							<div class="container">
								<div class="row">

									<div class="col-md-4 col-sm-4 margin-btm-30" style="text-align:center">
										<h1 class="foreground-blue"><i class="fa fa-qrcode"></i></h1>
										<h2>1. Vygenerujte a vytiskněte QR kódy</h2>
									</div>

									<div class="col-md-4 col-sm-4 margin-btm-30" style="text-align:center">
										<h1 class="foreground-blue"><i class="fa fa-tag"></i></h1>
										<h2>2. Nalepte jej na pohyblivý majetek</h2>
									</div>

									<div class="col-md-4 col-sm-4 margin-btm-30" style="text-align:center">
										<h1 class="foreground-blue"><i class="fa fa-mobile fa-10"></i></h1>
										<h2>3. Při pohybu majetku naskenujte QR kód</h2>
									</div>

								</div>
							</div>
						</section>

					</div><!--/ #headerwrap -->


					<div class="container" style=" padding-top:30px">
						<div class="row">
							<h1 class="centered">Vlastnosti</h1>
						</div>
					</div>


					<!-- <section id="home" name="home"></section> -->
					<div id="headerwrap">

						<section class="features-intro" style="padding-top:10px">
							<div class="container">

								<div class="row">

									<div class="col-md-3 col-sm-6 margin-btm-30">
										<div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
											<i class="fa fa-users blue"></i>
											<h3>Víc uživatelů k účtu</h3>
											<!--  <p>
												Je možne priradiť viacerých uživateľov k jednému účtu a nadefinovať im různé oprávnenia.
											</p> -->
										</div><!--features box intro end-->
									</div><!--col end-->

									<div class="col-md-3 col-sm-6 margin-btm-30">
										<div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
											<i class="fa fa-pencil blue"></i>
											<h3>Vlastní pole k položkám</h3>
											<!--  <p>
												You define your items. Your items can contain text, barcode, <b>NFC</b>, date, bit, number or <b>GPS</b> fields. You don't have to make any compromises.
											</p> -->
										</div><!--features box intro end-->
									</div><!--col end-->

									<div class="col-md-3 col-sm-6 margin-btm-30">
										<div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
											<i class="fa fa-barcode blue"></i>
											<h3>Čárové kódy/QR/NFC/GPS</h3>
											<!--   <p>
												Android app consists of built in barcode, qr-code and NFC scanner. Web app contains also <b>barcodes generator</b>. Just generate barcodes, print them on A4 and stick on items you want to track.
											</p> -->
										</div><!--features box intro end-->
									</div><!--col end-->

									<div class="col-md-3 col-sm-6 margin-btm-30">
										<div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
											<i class="fa fa-check blue"></i>
											<h3>Audity</h3>
											<!--  <p>
												In barcodery you can create audits, and check if you have all items, in choosen location or category.
											</p> -->
										</div><!--features box intro end-->
									</div><!--col end-->
								</div>

								<div class="row" style="padding-top:15px;">
									<div class="col-md-3 col-sm-6 margin-btm-30">
										<div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
											<i class="fa fa-shopping-cart blue"></i>
											<h3>Žádosti</h3>
											<!--   <p>
												Barcodery can track also user requests for particular items. If items arrive to the selected location, request is automatically covered.
											</p> -->
										</div><!--features box intro end-->
									</div><!--col end-->
									<div class="col-md-3 col-sm-6 margin-btm-30">
										<div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
											<i class="fa fa-exchange blue"></i>
											<h3>Pohyb položek</h3>
											<!--   <p>
												Barcodery helps you to track your items using transactions in and out with your locations.
											</p> -->
										</div><!--features box intro end-->
									</div><!--col end-->
									<div class="col-md-3 col-sm-6 margin-btm-30">
										<div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
											<i class="ion-ios-chatboxes-outline blue"></i>
											<h3>Skvělá podpora</h3>
											<!--   <p>
												Email is checked a dozen times a day. Feel free to write.
											</p> -->
										</div><!--features box intro end-->
									</div><!--col end-->

									<div class="col-md-3 col-sm-6 margin-btm-30">
										<div class="features-intro-box wow animated fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
											<i class="fa fa-ellipsis-h blue"></i>
											<h3>A mnohem víc</h3>
											<!--      <p>
												Feel free to try demo app, to see if it suits your needs.
											</p> -->
										</div><!--features box intro end-->
									</div><!--col end-->

								</div>
							</div>
						</section>



					</div><!--/ #headerwrap -->








					<!-- Tweets -->
					<!--                    <div style="background:#FFF;">
						<div class="container" style="padding-bottom:30px; padding-top:30px">
						<div class="row">
						<h1 class="centered">Check out what others say</h1>
						<br>
						<br>
						<div class="col-md-6">
						<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Barcodery: Scan and sync codes: Run a small business? Then Barcodery could help you! Barcodery is a service,... <a href="http://t.co/vn5I6R1u25">http://t.co/vn5I6R1u25</a></p>&mdash; DroidMill (@droidmill) <a href="https://twitter.com/droidmill/status/384361637206978560">November 29, 2014</a></blockquote>
						<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>

						<div class="col-md-6">
						<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">[Moblogging] http://vipersniper.dnsalias.com/moblog/post.php/1042 - the goddess of Barcodery</p>&mdash; Engrish Smitelli (@engrishsmitelli) <a href="https://twitter.com/engrishsmitelli/status/3925762657">August 12, 20014</a></blockquote>
						<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>

						<div class="col-md-6">
						<blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr">Just installed Barcodery. Scan and organize all the things!</p>&mdash; r.reeves (@idogcow) <a href="https://twitter.com/idogcow/status/382892819460784128">May 18, 2015</a></blockquote>
						<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>

						<div class="col-md-6">

						<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Tried almost every inventory app in play store. Sticked with <a href="https://twitter.com/barcodery">@barcodery</a>, support is fast and helpful</p>&mdash; H (@Harlsten) <a href="https://twitter.com/Harlsten/status/647724063104835584">September 20, 2015</a></blockquote>
						<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>
						</div>
						</div>
					</div> -->





					<section id="contact" name="contact"></section>
					<div id="footerwrap">
						<div class="container">
							<div class="col-lg-12">
								<h3>Kontakt</h3>
							</div>
							<div class="col-lg-7">
								<table class="contact-table">
									<tbody>
										<tr>
											<td class="header-cell" style="width:150px">
												Kontakní osoba:
											</td>
											<td class="data-cell">
												Jan Pivarcek
											</td>
										</tr>

										<tr>
											<td class="header-cell">
												Adresa:
											</td>
											<td class="data-cell">
												Pobocna 600/11,
												<br>Prague,
												<br>14100,
												<br>Czech Republic
											</td>
										</tr>

										<tr>
											<td class="header-cell">
												Telefon:
											</td>
											<td class="data-cell">
												+421 730 630 791
											</td>
										</tr>

										<tr>
											<td class="header-cell">
												Email:
											</td>
											<td class="data-cell">
												<a href="mailto:info@barcodery.com">info@barcodery.com</a>
												<br><a href="mailto:support@barcodery.com">support@barcodery.com</a>
											</td>
										</tr>

									</tbody></table>
							</div>


						</div>
					</div>
				</div>



				<!-- Bootstrap core JavaScript
				================================================== -->
				<!-- Placed at the end of the document so the pages load faster -->




			</section>

			<!-- #################################################################################################################################### -->
			<!-- #                                                          LANDING VIEW END                                                        # -->
			<!-- #################################################################################################################################### -->

		</div>

	</div>

</div>