<div fix-sidebar> </div>
<section class="content-header">
	<h1>
		<translate>Audits</translate>
		<small><translate>Create or review audits</translate></small>
	</h1>
</section>

<section class="content">

	<div class="row" >

		<div class="col-lg-12">


			<tabset>
				<!-- Audits -->
				<tab heading="{{ 'Audits' | translate }}"  select="audits_tab_clicked()" active="$parent.$parent.audits_tab_active" >
					<div ng-include="'views/Manage/partials/Audit/AuditsTabView.html'" ng-controller="AuditsTabCtrl" ng-init=""  style="padding-top:5px;"> </div>
				</tab>

				<!-- Audit Items -->
				<tab heading="{{ 'Audit items' | translate }}" select="audit_items_tab_clicked()" active="$parent.$parent.audit_items_tab_active" >
					<div ng-include="'views/Manage/partials/Audit/AuditItemsTabView.html'" ng-controller="AuditItemsTabCtrl" ng-init=""  style="padding-top:5px;"> </div>
				</tab>

				<!-- Scanned Audit Items -->
				<!-- <tab heading="Scanned audit items" select="scanned_audit_items_tab_clicked()" active="$parent.$parent.scanned_audit_items_tab_active">
					<div ng-include="'views/Manage/partials/Audit/ScannedAuditItemsTabView.html'" ng-controller="ScannedAuditItemsTabCtrl" ng-init=""  style="padding-top:5px;"> </div>
				</tab> -->




			</tabset>

		</div>

	</div>
</div>
</section>