<div fix-sidebar> </div>
<section class="content-header">
	<h1>
		<translate>Item's Fields</translate>
		<small><translate>Set item's field names</translate></small>
	</h1>
</section>

<section class="content">

	<div ng-if="working" ng-include="'views/WorkingView.html'"></div>
	<div ng-if="working == false">

		<div class="row" >
			<div class="col-lg-12 button-menu-bar">
				<button class="btn btn-refresh btn-flat" ng-click="refreshClicked()"><i class="fa fa-refresh"></i></button>
				<button  class="btn btn-success btn-flat   btn-min-width"  ng-click="addButtonClicked()"><i class="fa fa-plus"></i>&nbsp;<translate>Add</translate></button>
				<button  class="btn btn-primary btn-flat   btn-min-width"  ng-click="editButtonClicked()"   ng-disabled="!isEditButtonEnabled"><i class="fa fa-pencil"></i>&nbsp;<translate>Edit</translate></button>
				<button  class="btn btn-danger  btn-flat   btn-min-width"  ng-click="deleteButtonClicked()" ng-disabled="isDeleteButtonDisabled"><i class="fa fa-trash-o"></i>&nbsp;<translate>Delete selected</translate></button>
			</div>

			<div class="col-lg-12">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
			</div>

			<div class="col-lg-12">
				<!-- ui-grid-auto-resize -->
				<div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns  style="margin-top:5px"></div>
			</div>

		</div>
	</div>
</section>
