<div fix-sidebar> </div>
<section class="content-header">
	<h1>
		<translate>Invoices</translate>
		<small translate >Download invoice</small>
	</h1>
</section>

<section class="content">
	<div ng-if="working" ng-include="'views/WorkingView.html'"></div>
	<div ng-if="working == false">
		<div class="row" >
			<div class="col-lg-12 button-menu-bar">
				<button class="btn btn-refresh btn-flat   "  ng-click="refreshClicked()"><i class="fa fa-refresh"></i></button>
				<button ng-if="user && user.perm_admin_account == 1" class="btn btn-primary btn-flat   btn-min-width"   ng-click="setAddressButtonClicked()"><i class="fa fa-pencil"></i>&nbsp;<translate>Invoice address</translate></button>


				<!-- <button ng-if="user && user.perm_tags_edit == 1" class="btn btn-primary btn-flat   btn-min-width"   ng-click="editButtonClicked()" ng-disabled="!isEditButtonEnabled"><i class="fa fa-pencil"></i>&nbsp;<translate>Edit</translate></button> -->
				<!-- <button ng-if="user && user.perm_tags_edit == 1" class="btn btn-danger  btn-flat   btn-min-width"   ng-click="deleteButtonClicked()" ng-disabled="isDeleteButtonDisabled"><i class="fa fa-trash-o"></i>&nbsp;<translate>Delete selected</translate></button> -->

				<!-- export -->
	<!-- 			<div class="btn-group">
					<button type="button" class="btn btn-info btn-flat btn-min-width dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						Export to csv
						<span class="caret"></span>
						<span class="sr-only" translate>Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a ng-click="exportToCsv('all')" translate>All</a></li>
						<li><a ng-click="exportToCsv('visible')" translate>Visible</a></li>
						<li><a ng-click="exportToCsv('selected')" translate>Selected</a></li>
					</ul>
				</div> -->

				<!-- import -->
<!-- 				<div class="btn-group">
					<button type="button" class="btn btn-info btn-flat btn-min-width dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<translate>Import from csv	</translate>
						<span class="caret"></span>
						<span class="sr-only" translate>Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><form><input type="file" class="import-file-chooser" id="files" name="files[]" ng-init="initFileChooser()"/></form></li>
					</ul>
				</div> -->
			</div>

			<div class="col-lg-12">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
			</div>

			<div class="col-lg-12">
				<div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns  style="margin-top:5px"></div>
			</div>
		</div>

<!-- 		<div  class="row" ng-if="noItems">
			<div class="text-center">
				<h4>You have no tags. Please create some.</h4>

				<a class="btn btn-app" ng-click="addButtonClicked()">
					<i class="fa fa-plus"></i> Add
				</a>
			</div>
		</div> -->
	</div>
</section>

