<div fix-sidebar> </div>
<section class="content-header">
	<h1>
		{{ page_header }}
		<!-- <small>Manage your items</small> -->
	</h1>
</section>

<section class="content">

	<div class="row item-detail">

		<div class="col-lg-12">
			<tabset>
				<!-- Details -->
				<tab heading="{{ 'Item details' | translate }}"  select="detailsTabClicked()" active="$parent.$parent.isDetailTabActive" >
					<div style="padding-top:10px"></div>

					<!-- refresh -->
					<button ng-hide="working" class="btn btn-refresh btn-flat   "
							ng-click="refreshClicked()"
							style="margin-bottom:5px;">
								<i class="fa fa-refresh"></i>
					</button>

					<!-- edit -->
					<button ng-hide="working"
							ng-if="user && user.perm_items_edit==1"
							class="btn btn-primary btn-flat   btn-min-width"
							style="margin-bottom:5px;"
							ng-click="editItemButtonClicked()" >
								<i class="fa fa-pencil"></i>&nbsp;<translate>Edit</translate>
					</button>

					<!-- generate pdf -->
					<button ng-hide="working"
							class="btn btn-primary btn-flat   btn-min-width"
							style="margin-bottom:5px;"
							ng-click="showSaveBarcodesPDFDialog()" >
								<i class="fa fa-file-pdf-o "></i>&nbsp;<translate> Generate barcodes pdf</translate>
					</button>

					<!-- <button ng-hide="working" ng-if="user && (user.perm_my_requests_edit==1 || user.perm_all_requests_edit==1 )" 		class="btn btn-warning btn-flat btn-min-width"    	ng-click="requestButtonClicked()" ><i class="fa fa-cart-arrow-down "></i>&nbsp;Request</button> -->

					<div ng-show="working" ng-include="'views/WorkingView.html'"></div>

					<table ng-hide="working" class="table table-bordered" style="word-wrap: break-word;" >
						<colgroup>
							<col class="col-md-2">
							<col class="col-md-10">
						</colgroup>
						<tbody>
							<!-- custom field all-->
							<tr ng-repeat ="custom_field_name in get_custom_fields_by_types(['1','2','3','5','6'])">
								<td  class="table-header" ><b>{{ custom_field_name.name  }}</b></td>
								<td linkify>{{ item['custom_field_id_' + custom_field_name.custom_field_name_id]}}</td>
							</tr>

							<!-- minimum alert count -->
							<tr ng-repeat ="custom_field_name in get_custom_fields_by_types(['9'])"
								ng-class="{ 'min-alert-active-text': item.count <= item['custom_field_id_' + custom_field_name.custom_field_name_id]}">
								<td  class="table-header" ><b>{{ custom_field_name.name  }}</b></td>
								<td linkify>{{ item['custom_field_id_' + custom_field_name.custom_field_name_id]}}</td>
							</tr>

							<!-- custom field gps-->
							<tr ng-repeat ="custom_field_name in get_custom_fields_by_types(['7'])">
								<td  class="table-header" ><b>{{ custom_field_name.name  }}</b></td>
								<td> <a target="_blank" ng-href="{{generate_google_map_url(item['custom_field_id_' + custom_field_name.custom_field_name_id])}}"> {{ item['custom_field_id_' + custom_field_name.custom_field_name_id]}} </a> </td>
							</tr>

							<!-- date fields -->
							<tr ng-repeat ="custom_field_name in get_custom_fields_by_types(['4'])" >
								<td  class="table-header" ><b>{{ custom_field_name.name  }}</b></td>
								<td linkify>{{ item['formatted_date_field_id_' + custom_field_name.custom_field_name_id]}}</td>
							</tr>

							<tr><td class="table-header" ><b><translate>Categories</translate></b></td>	<td>{{ item.categories}}</td></tr>
							<tr><td class="table-header" ><b><translate>Tags</translate></b></td>			<td>{{ item.tags}}</td></tr>

							<tr>
								<td class="table-header" ><b><translate>States</translate></b></td>
								<td>
									<div>
										<div ng-repeat="color in state_colors" style="float:left; margin-left:5px; margin:2px; width:25px; max-width:25px; height:25px; background:{{color}}">
										</div>
									</div>
									<span style="position:relative; top:4px;">{{ item.states}}</span>
								</td>
							</tr>

							<tr><td class="table-header" ><b><translate>Locations</translate></b></td>			<td>{{ item.locations }}</td></tr>
							<tr><td class="table-header" ><b><translate>Count</translate></b></td>			<td>{{ item.count }}</td></tr>


							<!-- images -->
							<tr ng-repeat ="custom_field_name in get_custom_fields_by_types(['8'])">
								<td  class="table-header" ><b>{{ custom_field_name.name  }}</b></td>
								<td>
									<div class="row">
										<div class="col-lg-3" ng-repeat="obj in images_object_url_and_id[custom_field_name.custom_field_name_id]">
											<div class="image-preview" style="height:200px; background:#FAFAFA; margin:15px; border:1px solid #ccc; cursor:pointer;">
												<!-- <a ng-href="{{obj.url}}" target="_blank"><img ng-src="{{obj.url}}" style="max-width:100%; max-height:100%; padding:5px;" /> </a> -->
												<img ng-src="{{obj.url}}"  ng-click="imageClicked(images_object_url_and_id[custom_field_name.custom_field_name_id], obj)" style="max-width:100%; max-height:100%; padding:5px;" />
											</div>
										</div>
									</div>
								</td>
							</tr>

							<!-- 							<tr><td><b>Price 1</b></td>		<td>{{ item.price_1}}</td></tr>
							<tr><td><b>Price 2</b></td>		<td>{{ item.price_2}}</td></tr>					 -->

						</tbody>
					</table>

				</tab>

				<!-- Locations -->
				<tab heading="{{ 'Locations' | translate }}" select="locationsTabClicked()" active="$parent.$parent.isLocationTabActive" >
					<div ng-include="'views/Manage/partials/Item/ItemLocationsView.html'" ng-controller="ItemLocationsCtrl" ng-init="init(item_id)" > </div>
				</tab>

				<!-- IN / OUT -->
				<tab heading="{{ 'In Out Entries' | translate }}" ng-show="user && user.perm_inout_view==1" select="inOutTabClicked()" active="$parent.$parent.isInOutEntriesTabActive">
					<div ng-include="'views/Manage/partials/Item/ItemInOutEntriesView.html'" ng-controller="ItemInOutEntriesCtrl" ng-init="init(item_id)" > </div>
				</tab>




			</tabset>
		</div>
	</div>


</section>



