<div fix-sidebar> </div>
<section class="content-header">
	<h1>
		<translate>Items</translate>
		<small><translate>Manage your items</translate></small>
	</h1>
</section>

<section class="content">

	<!-- 	<pre>
		{{ user }}
	</pre> -->

	<!-- When loading data  -->
	<div ng-show="loadingData" ng-include="'views/WorkingView.html'"></div>

	<!-- When loading data finished -->
	<div ng-if="!loadingData">

		<div class="row" ng-if="!noItems">

			<div class="col-lg-12 button-menu-bar" ng-show="show_loading_data_in_grid">
				<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
			</div>

			<div class="col-lg-12 button-menu-bar" ng-hide="show_loading_data_in_grid">

				<!-- refrech -->
				<button
					class="btn btn-refresh btn-flat"
					style="margin-top:5px;"
					ng-click="refreshClicked()">
						<i class="fa fa-refresh"></i>
				</button>

				<!-- add -->
				<button ng-if="user && user.perm_items_edit==1"
						class="btn btn-success btn-flat btn-min-width"
						style="margin-top:5px;"
						ng-click="addNewItemClicked()">
							<i class="fa fa-plus"></i>&nbsp;<translate>Add item</translate>
				</button>

				<!-- edit -->
				<button ng-if="user && user.perm_items_edit==1"
					class="btn btn-primary btn-flat   btn-min-width"
					style="margin-top:5px;"
					ng-click="editButtonClicked()"
					ng-disabled="isEditButtonDisabled">
						<i class="fa fa-pencil"></i>&nbsp;<translate>Edit</translate>
				</button>

				<!-- actions btn group-->
				<div 	class="btn-group"
						ng-if="user && (user.perm_inout_add_check_in==1 || user.perm_inout_add_check_out == 1 || user.perm_inout_add_tranfer == 1)"
						style="margin-top:5px;" >

						<!-- Actions -->
					<button type="button"
							class="btn btn-primary btn-flat btn-min-width dropdown-toggle"
							data-toggle="dropdown"
							aria-expanded="false"

							>
								<translate>Actions</translate>
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">

						<!-- add to location -->
						<button ng-if="user && user.perm_inout_add_check_in  == 1"
								class="btn btn-primary btn-flat"
								style="text-align:left; min-width:230px;margin-left:5px; margin-right:5px; margin-top:0px"
								ng-click="addCheckInClicked()"
								ng-disabled="isDeleteButtonDisabled">
									<i class="fa fa-sign-out"></i>&nbsp;<translate>Add to location</translate>
						</button>

						<!-- remove from location -->
						<button ng-if="user && user.perm_inout_add_check_out == 1"
								class="btn btn-primary btn-flat"
								style="text-align:left; min-width:230px;margin-left:5px; margin-right:5px; margin-top:5px"
								ng-click="addCheckOutClicked()"
								ng-disabled="isDeleteButtonDisabled">
									<i class="fa fa-sign-out fa-rotate-180"></i>&nbsp;<translate>Remove from location</translate>
						</button>

						<!-- move between locations -->
						<button ng-if="user && user.perm_inout_add_tranfer   == 1"
								class="btn btn-primary btn-flat"
								style="text-align:left; min-width:230px;margin-left:5px; margin-right:5px; margin-top:5px"
								ng-click="moveButtonClicked()"
								ng-disabled="isDeleteButtonDisabled">
									<i class="fa fa-exchange"></i>&nbsp;<translate>Move between locations</translate>
						</button>



						<li ng-if="user && user.perm_items_edit==1" class="divider"></li>

						<!-- create multile items -->
						<button ng-if="user && user.perm_items_edit==1"
								class="btn btn-primary btn-flat btn-min-width"
								style="text-align:left; min-width:230px;margin-left:5px; margin-right:5px; margin-top:5px"
								ng-click="createMultipleItemsClicked()">
									<i class="fa fa-plus"></i>&nbsp;<translate>Create multiple items</translate>
						</button>

						<!-- set unique values -->
						<button ng-if="user && user.perm_items_edit==1"
								class="btn btn-primary btn-flat btn-min-width"
								style="text-align:left; min-width:230px;margin-left:5px; margin-right:5px; margin-top:5px"
								ng-click="generateQrButtonClicked()"
								ng-disabled="isDeleteButtonDisabled">
									<i class="fa fa-qrcode"></i>&nbsp;<translate>Set unique values</translate>
						</button>

						<!-- generate pdf with barcodes -->
						<button
								class="btn btn-primary btn-flat btn-min-width"
								style="text-align:left; min-width:230px;margin-left:5px; margin-right:5px; margin-top:5px"
								ng-click="showSaveBarcodesPDFDialog()"
								ng-disabled="isDeleteButtonDisabled">
									<i class="fa fa-qrcode"></i>&nbsp;<translate>Generate pdf with barcodes</translate>
						</button>

						<!-- request -->
						<li ng-if="user && (user.perm_my_requests_edit==1 || user.perm_all_requests_edit==1 )" class="divider"></li>
						<button ng-if="user && (user.perm_my_requests_edit==1 || user.perm_all_requests_edit==1 )"
							class="btn btn-warning btn-flat btn-min-width"
							style="text-align:left; min-width:230px;margin-left:5px; margin-right:5px; margin-top:5px"
							ng-click="requestButtonClicked()"
							ng-disabled="isDeleteButtonDisabled">
								<i class="fa fa-cart-arrow-down "></i>&nbsp;<translate>Request selcted</translate>
						</button>

						<!-- delete -->
						<li ng-if="user && user.perm_items_edit==1" class="divider"></li>
						<button ng-if="user && user.perm_items_edit==1"
								class="btn btn-danger btn-flat btn-min-width"
								style="text-align:left; min-width:230px;margin-left:5px; margin-right:5px; margin-top:5px"
								ng-click="deleteButtonClicked()"
								ng-disabled="isDeleteButtonDisabled">
									<i class="fa fa-trash-o"></i>&nbsp;<translate>Delete selcted</translate>
						</button>

					</ul>
				</div>

				<!-- export -->
				<div class="btn-group">
					<button type="button" class="btn btn-info btn-flat btn-min-width dropdown-toggle" data-toggle="dropdown" style="margin-top:5px;"  aria-expanded="false">
						<translate>Export to csv</translate>
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a ng-click="exportToCsv('all')" translate> All</a></li>
						<li><a ng-click="exportToCsv('visible')" translate> Visible</a></li>
						<li><a ng-click="exportToCsv('selected')" translate> Selected</a></li>
					</ul>
				</div>


				<button
					class="btn  btn-default btn-flat   btn-min-width pull-right"
					style="margin-top:5px;"
					ng-click="optionButtonClicked()"
					>
						<i class="fa fa-cog"></i>&nbsp;<translate>Options</translate>
				</button>

<!--
				<div class="btn-group text-right pull-right" >
					<button type="button" class="btn btn-no-background btn-flat btn-min-width dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<translate>Grid options</translate>
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a ng-click="hideAllColumns()" translate> Hide all columns</a></li>
						<li><a ng-click="showAllColumns()" translate> Show all columns</a></li>
						<li><a ng-click="saveGridState()" translate> Save columns</a></li>
						<li><a ng-click="restoreState()" translate> Load saved columns</a></li>
					</ul>
				</div> -->

				<!-- <button class="btn btn-default btn-flat btn-min-width"   ng-click="showAllColumns()">Show all columns</button>
				<button class="btn btn-default btn-flat btn-min-width"   ng-click="export()">export</button>
				<button class="btn btn-default btn-flat btn-min-width"   ng-click="saveGridState()">Save colums</button>
				<button class="btn btn-default btn-flat btn-min-width"   ng-click="restoreState()">Restore state</button>
				<button class="btn btn-default btn-flat btn-min-width"   ng-click="applyFil()">Apply fil</button> -->
			</div>

			<div class="col-lg-12">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
			</div>

		<div class="col-lg-12">
		<div id="items_grid"
		ui-grid="gridOptions"
		ui-grid-save-state
		ui-grid-selection
		ui-grid-exporter
		ui-grid-pinning
		ui-grid-resize-columns
		ui-grid-move-columns
		ui-grid-edit

		style="margin-top:5px">
		</div>
		<!-- ui.grid.autoResize -->
		</div>

		</div>
	</div>

	<div  class="row" ng-show="noItems">
	<div class="text-center">
	<h4><translate>You have no items. Please create some.</translate></h4>

	<a class="btn btn-app" ng-click="redirect('/new_item')">
	<i class="fa fa-plus"></i> <translate>Add</translate>
	</a>
	</div>
	</div>
	</div>
	</section>



