<div fix-sidebar> </div>
<section class="content-header">
    <h1>
        <translate>Account - </translate>{{ account.account_name }}
        <small translate>Manage my account</small>
    </h1>
</section>



<section class="content">

    <!-- Account name -->
    <div class="row">
        <div class="col-lg-12">

            <div class="box box-primary">
                <div class= "body" style="padding:10px">

                    <table class="table table-bordered">
                        <tbody>

                            <!-- Account Name -->
                            <tr>
                                <td class="table-header">
                                    <b><translate>Account name</translate></b>
                                </td>
                                <td colspan="2">
                                    <input type="text" class="form-control" id="account_name_input_id"  ng-model="account_name" style="width:100%">
                                </td>
                            </tr>

                            <!-- Time Zone -->
                    <!--        <tr>
                                <td class="table-header">
                                    <b>Time zone</b>
                                </td>
                                <td colspan="2">

                                    <ui-select ng-model="$parent.selected_time_zone"
                                    theme="bootstrap"
                                    ng-disabled="disabled"
                                    on-select="selection_changed($parent.selected_time_zone)"
                                    reset-search-input="false"
                                    title="Time Zone">
                                        <ui-select-match placeholder="Time Zone">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in timezones  | propertiesFilter: {name: $select.search}">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </td>
                            </tr> -->

                            <!-- Date Format -->
                            <tr>
                                <td class="table-header">
                                    <b><translate>Date format</translate></b>
                                </td>
                                <td colspan="2">

                                    <ui-select ng-model="$parent.selected_date_format"
                                    theme="bootstrap"
                                    ng-disabled="disabled"
                                    on-select="selection_changed($parent.selected_date_format)"
                                    reset-search-input="false"
                                    title="Date Format">
                                        <ui-select-match placeholder="Date Format">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in date_formats  | propertiesFilter: {name: $select.search}">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>

                                </td>
                            </tr>


                            <!-- Time Format -->
                            <!--                    <tr>
                                <td class="table-header">
                                <b>Time format</b>
                                </td>
                                <td colspan="2">

                                <ui-select ng-model="$parent.$parent.selected_time_zone"
                                theme="bootstrap"
                                ng-disabled="disabled"
                                on-select="selection_changed($parent.$parent.selected_time_zone)"
                                reset-search-input="false"
                                title="Time Zone">
                                <ui-select-match placeholder="Time Zone">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in timezones  | propertiesFilter: {name: $select.search}">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                                </ui-select>

                                </td>
                            </tr> -->

                            <!-- Save Button -->
                            <tr>
                                <td class="table-header">
                                </td>
                                <td colspan="2">

                                    <div class="col-lg-12 text-right"  style="padding:5px;"  ng-hide="saving_settings ">
                                        <button class="btn btn-primary btn-flat  btn-min-width" style="margin-top:5px" ng-click="save_account_settings()" translate>Save</button>
                                    </div>

                                    <div class="col-lg-12"  style="padding:5px;" ng-show="saving_settings">
                                        <div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
                                    </div>


                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered" ng-if="AppSettings.ShowAccountsLimit">
                        <tbody>
                            <tr>
                                <td class="table-header">
                                    <b> <translate>Account type </translate></b>
                                </td>
                                <td colspan="2">
                                    <span ng-show="computed_statistics.account_type == 0"> PERSONAL </span>
                                    <span ng-show="computed_statistics.account_type == 1"> STARTER </span>
                                    <span ng-show="computed_statistics.account_type == 2"> SMALL BIZ </span>
                                    <span ng-show="computed_statistics.account_type == 3"> WAREHOUSE </span>

                                    <span ng-show="computed_statistics.account_type == 4"> STARTER </span>
                                    <span ng-show="computed_statistics.account_type == 5"> SMALL BIZ </span>
                                    <span ng-show="computed_statistics.account_type == 6"> WAREHOUSE </span>

                                    <span ng-show="computed_statistics.account_type == 100"> CUSTOM </span>
                                </td>
                            </tr>

                            <!-- Valid To  -->
                            <tr>
                                <td style="width: 20%" class="table-header">
                                    <b> <translate>Valid to </translate></b>
                                </td>
                                <td  style="width: 60%">
                                    {{ computed_statistics.valid_to }}

                                    <div class="progress progress-xs account_type">

                                        <div class="progress-bar "
                                        ng-class="{ 'progress-bar-success': (computed_statistics.days_left_percentage>50)
                                        ,'progress-bar-yellow': (computed_statistics.days_left_percentage<=50)
                                        ,'progress-bar-danger':(computed_statistics.days_left_percentage<=25)
                                        }"

                                        ng-style="{'width': computed_statistics.days_left_percentage+'%'}"


                                        ></div>
                                    </div>
                                </td>
                                <td style="width: 20%" >
                                    <b> <translate>Days Left: </translate></b> {{computed_statistics.days_left }}
                                    <br>
                                    <span class="badge"
                                    ng-class="{ 'bg-green': (computed_statistics.days_left_percentage>50)
                                    ,'bg-yellow': (computed_statistics.days_left_percentage<=50 && computed_statistics.days_left_percentage>25)
                                    ,'bg-red':(computed_statistics.days_left_percentage<=25)
                                    }">
                                        {{computed_statistics.days_left_percentage}} %
                                    </span>
                                </td>
                            </tr>

                            <!-- Items -->
                            <tr>
                                <td style="width: 20%" class="table-header">
                                    <b><translate>Items count</translate></b>
                                    <br><span ng-show="computed_statistics.is_per_month"><translate>(this month)</translate></span>
                                </td>

                                <!-- Is not warehouse -->
                                <td  style="width: 60%" ng-if="!(computed_statistics.is_warehouse)">
                                    {{ computed_statistics.items_count +' / ' + computed_statistics.max_items_count}}

                                    <div class="progress progress-xs account_type">

                                        <div class="progress-bar "
                                        ng-class="{ 'progress-bar-success': (computed_statistics.items_left_percentage>50)
                                        ,'progress-bar-yellow': (computed_statistics.items_left_percentage<=50)
                                        ,'progress-bar-danger':(computed_statistics.items_left_percentage<=25)
                                        }"

                                        ng-style="{'width': computed_statistics.items_left_percentage+'%'}"


                                        ></div>
                                    </div>
                                </td>
                                <td style="width: 20%" ng-if="!(computed_statistics.is_warehouse)">
                                    <b> <translate>Items Left: </translate></b> {{computed_statistics.items_left }}
                                    <br>
                                    <span class="badge"
                                    ng-class="{ 'bg-green': (computed_statistics.items_left_percentage>50)
                                    ,'bg-yellow': (computed_statistics.items_left_percentage<=50 && computed_statistics.items_left_percentage>25)
                                    ,'bg-red':(computed_statistics.items_left_percentage<=25)


                                    }">
                                        {{computed_statistics.items_left_percentage}} %
                                    </span>
                                </td>


                                <!-- is warehouse -->
                                <td ng-if="(computed_statistics.is_warehouse)" style="width: 60%" >
                                    {{ computed_statistics.items_count }}
                                </td>
                                <td ng-if="(computed_statistics.is_warehouse)" style="width: 20%">
                                    <translate>Unlimited</translate>
                                </td>
                            </tr>



                            <!-- In Out Entries -->
                            <tr>

                                <!-- is not warehouse -->
                                <td style="width: 20%" class="table-header">
                                    <b><translate>In/Out entries</translate></b>
                                    <br><span ng-show="computed_statistics.is_per_month"><translate>(this month)</translate></span>
                                </td>
                                <td  ng-if="!(computed_statistics.is_warehouse)" style="width: 60%">
                                    {{ computed_statistics.entries_count+' / ' +computed_statistics.max_transactions_count }}

                                    <div class="progress progress-xs account_type">

                                        <div class="progress-bar "
                                        ng-class="{ 'progress-bar-success': (computed_statistics.entries_left_percentage>50)
                                        ,'progress-bar-yellow': (computed_statistics.entries_left_percentage<=50)
                                        ,'progress-bar-danger':(computed_statistics.entries_left_percentage<=25)
                                        }"

                                        ng-style="{'width': computed_statistics.entries_left_percentage+'%'}"


                                        ></div>
                                    </div>
                                </td>
                                <td ng-if="!(computed_statistics.is_warehouse)"style="width: 20%" >
                                    <b><translate>In/Out Entries Left:</translate></b> {{computed_statistics.entries_left }}
                                    <br>
                                    <span class="badge"
                                    ng-class="{ 'bg-green': (computed_statistics.entries_left_percentage>50)
                                    ,'bg-yellow': (computed_statistics.entries_left_percentage<=50 && computed_statistics.entries_left_percentage>25)
                                    ,'bg-red':(computed_statistics.entries_left_percentage<=25)



                                    }">
                                        {{computed_statistics.entries_left_percentage}} %
                                    </span>
                                </td>

                                <!-- is warehouse -->
                                <td ng-if="(computed_statistics.is_warehouse)" style="width: 60%" >
                                    {{ computed_statistics.entries_count }}
                                </td>
                                <td ng-if="(computed_statistics.is_warehouse)" style="width: 20%">
                                    <translate>Unlimited</translate>
                                </td>
                            </tr>





                            <!-- Audits -->
                            <tr>
                                <td style="width: 20%" class="table-header">
                                    <b><translate>Audits</translate></b>
                                    <br><span ng-show="computed_statistics.is_per_month"><translate>(this month)</translate></span>
                                </td>

                                <!-- is not warehouse -->
                                <td ng-if="!(computed_statistics.is_warehouse)" style="width: 60%">
                                    {{ computed_statistics.audits_count+' / ' +computed_statistics.max_audits_count }}

                                    <div class="progress progress-xs account_type">

                                        <div class="progress-bar "
                                        ng-class="{ 'progress-bar-success': (computed_statistics.audits_left_percentage>50)
                                        ,'progress-bar-yellow': (computed_statistics.audits_left_percentage<=50)
                                        ,'progress-bar-danger':(computed_statistics.audits_left_percentage<=25)
                                        }"

                                        ng-style="{'width': computed_statistics.audits_left_percentage+'%'}"


                                        ></div>
                                    </div>
                                </td>
                                <td ng-if="!(computed_statistics.is_warehouse)"style="width: 20%" >
                                    <b><translate>Audits Left:</translate></b> {{computed_statistics.audits_left }}
                                    <br>
                                    <span class="badge"
                                    ng-class="{ 'bg-green': (computed_statistics.audits_left_percentage>50)
                                    ,'bg-yellow': (computed_statistics.audits_left_percentage<=50 && computed_statistics.audits_left_percentage>25)
                                    ,'bg-red':(computed_statistics.audits_left_percentage<=25)

                                    }">
                                        {{computed_statistics.audits_left_percentage}} %
                                    </span>
                                </td>

                                <!-- is warehouse -->
                                <td ng-if="(computed_statistics.is_warehouse)" style="width: 60%" >
                                    {{ computed_statistics.audits_count }}
                                </td>
                                <td ng-if="(computed_statistics.is_warehouse)" style="width: 20%">
                                    <translate>Unlimited</translate>
                                </td>
                            </tr>

                            <!-- Requests -->
                            <tr>

                                <!-- is warehouse -->
                                <td  style="width: 20%" class="table-header">
                                    <b><translate>Requests</translate></b>
                                    <br><span ng-show="computed_statistics.is_per_month"><translate>(this month)</translate></span>
                                </td>
                                <td ng-if="!(computed_statistics.is_warehouse)" style="width: 60%">
                                    {{ computed_statistics.requests_count+' / ' +computed_statistics.max_requests_count }}

                                    <div class="progress progress-xs account_type">

                                        <div class="progress-bar "
                                        ng-class="{ 'progress-bar-success': (computed_statistics.requests_left_percentage>50)
                                        ,'progress-bar-yellow': (computed_statistics.requests_left_percentage<=50)
                                        ,'progress-bar-danger':(computed_statistics.requests_left_percentage<=25)
                                        }"

                                        ng-style="{'width': computed_statistics.requests_left_percentage+'%'}"


                                        ></div>
                                    </div>
                                </td>
                                <td ng-if="!(computed_statistics.is_warehouse)" style="width: 20%" >
                                    <b><translate>Requests Left:</translate></b> {{computed_statistics.requests_count_left }}
                                    <br>
                                    <span class="badge"
                                    ng-class="{ 'bg-green': (computed_statistics.requests_left_percentage>50)
                                    ,'bg-yellow': (computed_statistics.requests_left_percentage<=50 && computed_statistics.requests_left_percentage>25)
                                    ,'bg-red':(computed_statistics.requests_left_percentage<=25)

                                    }">
                                        {{computed_statistics.requests_left_percentage}} %
                                    </span>
                                </td>

                                <!-- is warehouse -->
                                <td ng-if="(computed_statistics.is_warehouse)" style="width: 60%" >
                                    {{ computed_statistics.requests_count }}
                                </td>
                                <td ng-if="(computed_statistics.is_warehouse)" style="width: 20%">
                                    <translate>Unlimited</translate>
                                </td>
                            </tr>

                            <!-- Locations -->
                            <tr>
                                <td style="width: 20%" class="table-header">
                                    <b><translate>Locations</translate></b>
                                </td>

                                <!-- is warehouse -->
                                <td ng-if="!(computed_statistics.is_warehouse)" style="width: 60%">
                                    {{ computed_statistics.locations_count+' / ' +computed_statistics.max_locations }}

                                    <div class="progress progress-xs account_type">

                                        <div class="progress-bar "
                                        ng-class="{ 'progress-bar-success': (computed_statistics.locations_left_percentage>50)
                                        ,'progress-bar-yellow': (computed_statistics.locations_left_percentage<=50)
                                        ,'progress-bar-danger':(computed_statistics.locations_left_percentage<=25)
                                        }"

                                        ng-style="{'width': computed_statistics.locations_left_percentage+'%'}"


                                        ></div>
                                    </div>
                                </td>
                                <td ng-if="!(computed_statistics.is_warehouse)"style="width: 20%" >
                                    <b><translate>Locations Left:</translate></b> {{computed_statistics.locations_left }}
                                    <br>
                                    <span class="badge"
                                    ng-class="{ 'bg-green': (computed_statistics.locations_left_percentage>50)
                                    ,'bg-yellow': (computed_statistics.locations_left_percentage<=50 && computed_statistics.locations_left_percentage>25)
                                    ,'bg-red':(computed_statistics.locations_left_percentage<=25)

                                    }">
                                        {{computed_statistics.locations_left_percentage}} %
                                    </span>
                                </td>

                                <!-- is warehouse -->
                                <td ng-if="(computed_statistics.is_warehouse)" style="width: 60%" >
                                    {{ computed_statistics.items_count }}
                                </td>
                                <td ng-if="(computed_statistics.is_warehouse)" style="width: 20%">
                                    <translate>Unlimited</translate>
                                </td>
                            </tr>

                            <!-- Users -->
                            <tr>
                                <td style="width: 20%" class="table-header">
                                    <b><translate>Users</translate></b>
                                </td>

                                <!-- is not warehouse -->
                                <td style="width: 60%">
                                    {{ computed_statistics.users_count+' / ' +computed_statistics.max_users }}

                                    <div class="progress progress-xs account_type">

                                        <div class="progress-bar "
                                        ng-class="{ 'progress-bar-success': (computed_statistics.users_left_percentage>50)
                                        ,'progress-bar-yellow': (computed_statistics.users_left_percentage<=50)
                                        ,'progress-bar-danger':(computed_statistics.users_left_percentage<=25)
                                        }"

                                        ng-style="{'width': computed_statistics.users_left_percentage+'%'}"


                                        ></div>
                                    </div>
                                </td>
                                <td style="width: 20%" >
                                    <b><translate>Users Left:</translate></b> {{computed_statistics.users_count_left }}
                                    <br>
                                    <span class="badge"
                                    ng-class="{ 'bg-green': (computed_statistics.users_left_percentage>50)
                                    ,'bg-yellow': (computed_statistics.users_left_percentage<=50 && computed_statistics.users_left_percentage>25)
                                    ,'bg-red':(computed_statistics.users_left_percentage<=25)

                                    }">
                                        {{computed_statistics.users_left_percentage}} %
                                    </span>
                                </td>


                            </tr>
                        </tbody></table>
                </div>
            </div>
        </div>

    </div>

    <!-- pricing -->
    <div class="row" ng-if="AppSettings.ShowBarcoderyPricing">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="body" style="padding:10px">
                    <label><translate>Account type</translate></label>
                    <!-- {{account}} -->
                    <p>
                        <translate>If you need custom configuration please contact me at</translate> <a href="mailto:support@barcodery.com">support@barcodery.com</a>
                    </p>
                    <div class="row" style="width:80%; margin:auto;">

                        <!-- pricing 1 -->
                        <div class="col-lg-12">
                            <ul class="pricing-table" id="light">
                                <li class="col-lg-3">
                                    <h3>Personal</h3>
                                    <div class="price-body">
                                        <div class="price">
                                            FREE
                                            <span class="price-figure"><sup></sup></span>
                                            <span class="price-term">total</span>
                                        </div>
                                    </div>
                                    <div class="features">
                                        <ul>
                                            <li>20 Products</li>
                                            <li>20 In/Out Entries</li>
                                            <li>5 Audits</li>
                                            <li>5 Requests</li>
                                            <li>5 Locations</li>
                                            <li>1 User</li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <span ng-show="account.account_type == 0"> Activated </span>
                                        <span ng-show="account.account_type > 0"> &nbsp; </span>
                                    </div>
                                </li>

                                <!-- Active/Hover styles -->
                                <li class="col-lg-3" ng-class="{'active danger': account.account_type == 0}">
                                    <h3>Starter</h3>
                                    <div class="price-body">
                                        <div class="price">
                                            <span class="price-figure"><sup>$</sup>5<small>.00</small> </span>
                                            <span class="price-term">per month</span>
                                        </div>
                                    </div>
                                    <div class="features">
                                        <ul>
                                            <li>100 Products / month</li>
                                            <li>150 In/Out Entries / month</li>
                                            <li>10 Audits / month</li>
                                            <li>10 Requests / month</li>
                                            <li>10 Locations / month</li>
                                            <li>2 User</li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <div ng-show="account.account_type == 1" style="color:black; padding-bottom:5px;">
                                            <strong>Activated </strong>
                                            <br>
                                            <small> Expires: {{ account.expiration }}</small>
                                        </div>
                                        <a ng-hide="account.account_type == 1" href="server/index.php/order/starter" class="btn btn-info btn-flat btn-rect">Purchase</a>
                                    </div>
                                </li>

                                <li class="col-lg-3" ng-class="{'active danger': account.account_type == 1}">
                                    <h3>Small biz</h3>
                                    <div class="price-body">
                                        <div class="price">
                                            <span class="price-figure"><sup>$</sup>15<small>.00</small> </span>
                                            <span class="price-term">per month</span>
                                        </div>
                                    </div>
                                    <div class="features">
                                        <ul>
                                            <li>200 Products / month</li>
                                            <li>500 In/Out Entries / month</li>
                                            <li>30 Audits / month</li>
                                            <li>30 Requests / month</li>
                                            <li>30 Locations / month</li>
                                            <li>5 User</li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <div ng-show="account.account_type == 2" style="color:black; padding-bottom:5px;">
                                            <strong>Activated </strong>
                                            <br>
                                            <small> Expires: {{ account.expiration }}</small>
                                        </div>
                                        <a ng-hide="account.account_type == 2" href="server/index.php/order/smallbiz" class="btn btn-info btn-flat btn-rect">Purchase</a>
                                    </div>
                                </li>

                                <li class="col-lg-3" ng-class="{'active danger': account.account_type >= 2}">
                                    <h3>Warehouse</h3>
                                    <div class="price-body">
                                        <div class="price">
                                            <span class="price-figure"><sup>$</sup>35<small>.00</small> </span>
                                            <span class="price-term">per month</span>
                                        </div>
                                    </div>
                                    <div class="features">
                                        <ul>
                                            <li>Unlimited Products / month</li>
                                            <li>Unlimited In/Out Entries / month</li>
                                            <li>Unlimited Audits / month</li>
                                            <li>Unlimited Requests / month</li>
                                            <li>Unlimited Locations / month</li>
                                            <li>15 User</li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <div ng-show="account.account_type == 3" style="color:black; padding-bottom:5px;">
                                            <strong>Activated </strong>
                                            <br>
                                            <small> Expires: {{ account.expiration }}</small>
                                        </div>
                                        <a ng-hide="account.account_type == 3" href="server/index.php/order/warehouse"  class="btn btn-info btn-flat btn-rect">Purchase</a>
                                    </div>
                                </li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>

                        <!-- pricing 2 -->
                        <div class="col-lg-12"> <h3 class="text-center">Purchasing for a year gives you 1 month free </h3></div>

                        <!-- Year -->
                        <div class="col-lg-12">
                            <ul class="pricing-table dark">
                                <li class="col-lg-4">
                                    <h3 translate>Starter</h3>
                                    <div class="price-body">
                                        <div class="price">
                                            <span class="price-figure"><sup>$</sup>55<small>.00</small> </span>
                                            <span class="price-term">per year</span>
                                        </div>
                                    </div>
                                    <div class="features">
                                        <ul>
                                            <li>100 Products / month</li>
                                            <li>150 In/Out Entries / month</li>
                                            <li>10 Audits / month</li>
                                            <li>10 Requests / month</li>
                                            <li>10 Locations / month</li>
                                            <li>2 User</li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <div ng-show="account.account_type == 4" style="color:white; padding-bottom:5px;">
                                            <strong>Activated </strong>
                                            <br>
                                            <small> Expires: {{ account.expiration }}</small>
                                        </div>
                                        <a ng-hide="account.account_type == 4" href="server/index.php/order/starter_year" class="btn btn-info btn-flat btn-rect">Purchase</a>
                                    </div>
                                </li>

                                <!-- Active/Hover styles -->
                                <li class="active primary col-lg-4">
                                    <h3>Small biz</h3>
                                    <div class="price-body">
                                        <div class="price">
                                            <span class="price-figure"><sup>$</sup>165<small>.00</small> </span>
                                            <span class="price-term">per year</span>
                                        </div>
                                    </div>
                                    <div class="features">
                                        <ul>
                                            <li>200 Products / month</li>
                                            <li>500 In/Out Entries / month</li>
                                            <li>30 Audits / month</li>
                                            <li>30 Requests / month</li>
                                            <li>30 Locations / month</li>
                                            <li>5 User</li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <div ng-show="account.account_type == 5" style="color:white; padding-bottom:5px;">
                                            <strong>Activated </strong>
                                            <br>
                                            <small> Expires: {{ account.expiration }}</small>
                                        </div>
                                        <a ng-hide="account.account_type == 5" href="server/index.php/order/smallbiz_year" class="btn btn-info btn-flat btn-rect">Purchase</a>
                                    </div>
                                </li>
                                <li class="col-lg-4">
                                    <h3>Warehouse</h3>
                                    <div class="price-body">
                                        <div class="price">
                                            <span class="price-figure"><sup>$</sup>385<small>.00</small> </span>
                                            <span class="price-term">per year</span>
                                        </div>
                                    </div>
                                    <div class="features">
                                        <ul>
                                            <li>Unlimited Products / month</li>
                                            <li>Unlimited In/Out Entries / month</li>
                                            <li>Unlimited Audits / month</li>
                                            <li>Unlimited Requests / month</li>
                                            <li>Unlimited Locations / month</li>
                                            <li>15 User</li>
                                        </ul>
                                    </div>
                                    <div class="footer">
                                        <div ng-show="account.account_type == 6" style="color:white; padding-bottom:5px;">
                                            <strong>Activated </strong>
                                            <br>
                                            <small> Expires: {{ account.expiration }}</small>
                                        </div>
                                        <a ng-hide="account.account_type == 6" ng-href="server/index.php/order/warehouse_year" class="btn btn-info btn-flat btn-rect">Purchase</a>
                                    </div>
                                </li>

                                <div class="clearfix"></div>
                            </ul>
                        </div>

                        <div class="col-lg-12">
                            <!-- <span style="font-size:18px"> If you need custom plan, please contact me and I set up what you need.</span> -->
                            <h3 class="text-center" translate>If you need custom plan (different counts), please contact me and I set up what you need.</h3>
                            <h4 class="text-center" translate> Also there is possible custom solution running on your own server.</h4>
                        </div>

                        <!-- Custom Solution -->
                        <div class="col-lg-12">
                            <ul class="pricing-table dark">
                                <div class="col-lg-4">

                                </div>

                                <li class="active primary col-lg-4">
                                    <h3 translate>Custom Solution</h3>
                                    <div class="features">
                                        <ul>
                                            <li translate>Running on your server </li>
                                            <li translate>Features modification possible </li>
                                            <li translate>Image support possible</li>
                                            <li translate>Everything Unlimited </li>
                                        </ul>
                                    </div>

                                    <div class="footer">
                                        <div  style="color:white; padding-bottom:5px;">
                                            <strong><a href="mailto:support@barcodery.com" style="color:#FFF;" translate>Contact me </a></strong>
                                            <br>
                                        </div>
                                    </div>
                                </li>

                                <div class="col-lg-4">
                                </div>

                                <div class="clearfix"></div>
                            </ul>
                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
