<div fix-sidebar> </div>
<section class="content-header">
	<h1>
		<translate>Reports</translate>
		<small><translate>View your reports</translate></small>
	</h1>
</section>

<section class="content">

	<div ng-if="working" ng-include="'views/WorkingView.html'"></div>
	<div ng-if="working == false">

		<div class="row" >

			<!-- User Group -->

			<div class="col-lg-6" >

				<table style="width:100%;">
					<tr>
						<td style="width:100px;">
							<b><translate>Select report:</translate></b>
						</td>

						<td>
							<span style="width:50%;">
								<ui-select ng-model="$parent.$parent.selected_report"
								theme="bootstrap"
								ng-disabled="disabled"
								on-select="selection_changed($parent.$parent.selected_report)"
								reset-search-input="false"
								title="{{ 'Choose report'|translate}}">
									<ui-select-match placeholder="{{ 'Choose report'|translate}}">{{$select.selected.report_name}}</ui-select-match>
									<ui-select-choices repeat="item in reports_list  | propertiesFilter: {report_name: $select.search}">
										<div ng-bind-html="item.report_name |translate | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>
							</span>
						</td>
					</tr>
				</table>
			</div>

	<!-- 		<div class="col-lg-12" >
				 <hr />
			</div> -->
		</div>

		<!-- selected_user_group -->
		<!--
		<div class="row" style="padding-top:15px;">
			<div class="col-lg-12" >
				 <ng-include src="selected_report_url"></ng-include>
			</div>
		</div>
 -->
	 	<ng-include src="selected_report_url"></ng-include>

	</div>
</section>