<div fix-sidebar> </div>
<section class="content-header">
	<h1>
		<translate>Requests</translate>
		<small>Manage requests</small>
	</h1>
</section>



<section class="content">

    <div class="row" >

        <div class="col-lg-12">

            <tabset>
                <tab heading="{{ 'Requests' | translate }}"  select="requests_tab_clicked()" active="$parent.$parent.requests_tab_active" >
                    <div ng-include="'views/Manage/partials/Request/RequestsTabView.html'" ng-controller="RequestsTabCtrl" ng-init="set_type(type)"  style="padding-top:5px;"> </div>
                </tab>

                <tab heading="{{ 'Request detail' | translate }}" select="request_details_tab_clicked()" active="$parent.$parent.request_details_tab_active" >


                    <div ng-include="'views/Manage/partials/Request/RequestDetailTabView.html'" ng-controller="RequestDetailTabCtrl" ng-init=""  style="padding-top:5px;"> </div>
                </tab>

            </tabset>

        </div>

    </div>
</div>
</section>

