<div style="padding-top:10px"></div>
<div class="row" >

	<div ng-if="!working && isTabActive">
		<div class="col-lg-12 button-menu-bar">

			<!-- refresh -->
			<button class="btn btn-refresh btn-flat   "  ng-click="refreshClicked()"><i class="fa fa-refresh"></i></button>

			<!-- Add item to location -->
			<button ng-if="user && user.perm_inout_add_check_in==1"
					class="btn btn-success btn-flat"
					style="min-width:230px;"
					ng-click="addCheckInClicked()">
						<i class="fa fa-sign-out"></i>&nbsp;<translate>Add item to location</translate>
			</button>

			<!-- Remove item from location -->
			<button ng-if="user && user.perm_inout_add_check_out==1"
					class="btn btn-success btn-flat"
					style="min-width:230px;"
					ng-click="addCheckOutClicked()">
						<i class="fa fa-sign-out fa-rotate-180"></i>&nbsp;<translate>Remove item from location</translate>
			</button>

			<!-- Move between location -->
			<button ng-if="user && user.perm_inout_add_tranfer==1"
					class="btn btn-success btn-flat"
					style="min-width:230px;"
					ng-click="addTransferClicked()">
						<i class="fa fa-exchange"></i>&nbsp;<translate>Move between locations</translate>
			</button>

			<!-- Delete selected -->
			<button ng-if="user && user.perm_inout_delete==1"
					class="btn btn-danger  btn-flat   btn-min-width"
					ng-click="deleteButtonClicked()"
					ng-disabled="isDeleteButtonDisabled">
						<i class="fa fa-trash-o"></i>&nbsp;<translate>Delete selected</translate>
			</button>


			<!-- export -->
			<div class="btn-group">
				<button type="button" class="btn btn-info btn-flat btn-min-width dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<translate>Export to csv</translate>
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a ng-click="exportToCsv('all')" translate>All</a></li>
					<li><a ng-click="exportToCsv('visible')" translate>Visible</a></li>
					<li><a ng-click="exportToCsv('selected')" translate>Selected</a></li>
				</ul>
			</div>
		</div>

		<div class="col-lg-12">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
		</div>

		<div class="col-lg-12" style="height:100%">
			<div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns  style="margin-top:5px"></div>
		</div>
	</div>

	<div ng-if="working" ng-include="'views/WorkingView.html'"></div>
</div>

<!-- <div  class="row" ng-if="noItems" >
	<div class=" col-lg-12 text-center" style="height:100%;vertical-align:middle; display: inline-block; float: none;">
		<h4>There are no IN/OUT entries for this item Please add some.</h4>

		<a class="btn btn-app" ng-click="addCheckInClicked()" >
			<i class="fa fa-sign-out"></i> Add Check in
		</a>

		<a class="btn btn-app" ng-click="addTransferClicked()" >
			<i class="fa fa-exchange"></i> Add Transfer
		</a>

		<a class="btn btn-app" ng-click="addCheckOutClicked()" >
			<i class="fa fa-sign-out fa-rotate-180"></i> Add Check Out
		</a>
	</div>
</div>	 -->