
<div class="row" ng-hide="request" >
	<div class="col-lg-12 ">
		<h4 style="text-align:center;"> <translate>No request selected.</translate></h4>

	</div>
</div>


<div ng-show="request">


	<div class="row header-info" >
		<div class="col-lg-12">
			<table class="table table-bordered" style="word-wrap: break-word;" >
				<tr>
					<th  class="table-header" > <translate>Name</translate> </th>
					<th  class="table-header" > <translate>Description</translate> </th>
					<th  class="table-header" > <translate>Created</translate> </th>
					<th  class="table-header" > <translate>Created by</translate> </th>
					<th  class="table-header" > <translate>State</translate> </th>
				</tr>

				<tr>
					<td> {{ request.name }} </td>
					<td> {{ request.description }} </td>
					<td> {{ format_date_time(request.created_date_time) }} </td>
					<td> {{ request.created_user }} </td>
					<td> {{ request.state }} </td>
				</tr>
			</table>

		</div>
	</div>

	<div ng-if="working" ng-include="'views/WorkingView.html'"></div>
	<div ng-if="working == false">

		<div class="row" >
			<div class="col-lg-12 button-menu-bar">
				<button class="btn btn-refresh btn-flat   "  ng-click="refreshClicked()"><i class="fa fa-refresh"></i></button>

				<button ng-if="user && ( user.perm_all_requests_edit ==1 || user.perm_my_requests_edit ==1)" class="btn btn-primary btn-flat   btn-min-width"  ng-click="add_button_clicked()" ><i class="fa fa-pencil"></i>&nbsp;<translate>Add request item</translate></button>
				<button ng-if="user && ( user.perm_all_requests_edit ==1 || user.perm_my_requests_edit ==1)" class="btn btn-primary btn-flat   btn-min-width"  ng-click="delete_button_clicked()" ng-disabled="!isEditButtonEnabled"><i class="fa fa-pencil"></i>&nbsp;<translate>Delete</translate></button>
				<button ng-if="user && ( user.perm_all_requests_edit ==1 || user.perm_my_requests_edit ==1)" class="btn btn-primary btn-flat   btn-min-width"  ng-click="force_cover_state_button_clicked()" ng-disabled="!isEditButtonEnabled"><i class="fa fa-pencil"></i>&nbsp;<translate>Force covered state</translate></button>
				<button ng-if="user && ( user.perm_all_requests_edit ==1 || user.perm_my_requests_edit ==1)" class="btn btn-primary btn-flat   btn-min-width"  ng-click="uncover_button_clicked()" ng-disabled="!isEditButtonEnabled"><i class="fa fa-pencil"></i>&nbsp;<translate>Uncover</translate></button>

			</div>

			<div class="col-lg-12">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
			</div>
			<div class="col-lg-12">
				<!-- ui-grid-auto-resize -->
				<div id="grid2" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns  style="margin-top:5px"></div>
			</div>

		</div>

	</div>
</div>
