<div class="modal-header">
	<h4 class="modal-title" ng-hide="is_editing"><i class="fa fa-user-plus"></i> &nbsp;<translate>Create New User</translate></h4>

	<h4 class="modal-title" ng-show="is_editing"><i class="fa fa-pencil"></i> &nbsp;<translate>Edit User</translate></h4>
</div>
<div class="modal-body">
	<div class="row" style="margin:5px" ng-show="working == false">
		<div class="row" style="margin:5px">


			<!-- Username -->
			<div class="col-lg-12" style="padding-bottom:5px; padding-top:10px">
				<translate>Username</translate>
			</div>
			<div class="col-lg-12" >
				<input placeholder="johnsmiths" type="text" style="width:100%; padding:5px" ng-model="inputFields.Name" required autofocus></input>
			</div>

			<!-- Email -->
			<div class="col-lg-12" style="padding-bottom:5px; padding-top:10px">
				<translate>Email</translate>
			</div>
			<div class="col-lg-12" >
				<input placeholder="John@smith.com" type="text" style="width:100%; padding:5px" ng-model="inputFields.Email" required autofocus></input>
			</div>

			<!-- Password -->
			<div ng-hide="is_editing" class="col-lg-12"  style="padding-bottom:5px; padding-top:10px">
				<translate>Password</translate>
			</div>
			<div ng-hide="is_editing" class="col-lg-12" style="padding-bottom:5px; padding-top:5px"">
				<input placeholder="{{'Password'|translate}}" type="{{passwordInputType}}" style="width:100%; padding:5px" ng-model="inputFields.Password" required autofocus></input>
			</div>
			<div ng-hide="is_editing" class="col-lg-12" >
				<input type="checkbox" ng-model="showPasswordCheckBoxModel" ng-click="hideShowPassword()"><translate>Show password</translate></input>
			</div>

			<!-- User Group -->
			<div class="col-lg-12" style="padding-bottom:5px; padding-top:10px">
				<translate>User Group</translate>
			</div>
			<div class="col-lg-12" >
				<ui-select ng-model="$parent.selected_user_group"
					theme="bootstrap"
					ng-disabled="disabled"
					reset-search-input="false"
					title="{{'User Group'|translate}}">
						<ui-select-match placeholder="{{'User Group'|translate}}">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="item in user_groups  | propertiesFilter: {name: $select.search}">
							<div ng-bind-html="item.name | highlight: $select.search"></div>
						</ui-select-choices>
					</ui-select>
			</div>



		</div>
		<div class="row" style="margin:5px">
			<div class="col-lg-12">
				<section class="text-center errorMesssages" ng-hide="validationErrors==''" style="color:red">
					{{ validationErrors }}
				</section>
			</div>
		</div>
	</div>

	<div class="row" ng-show="working == true" style="padding:10px">
		<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
	</div>
</div>
<div class="modal-footer">
	<div class="row" style="margin:5px">
		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="cancelClicked()" ng-disabled="working"><translate>Cancel</translate></button>
		</div>
		<div class="col-lg-6" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="saveClicked()" class="md-primary" ng-disabled="working"> <translate>Save</translate> </button>
		</div>
	</div>
</div>
