<div class="modal-header">
	<h4 class="modal-title"><i class="fa fa-lock"></i> &nbsp;<translate>Change Password</translate></h4>
</div>
<div class="modal-body">
	<div class="row" style="margin:5px" ng-show="working == false">
		<div class="row" style="margin:5px">
			<div class="col-lg-12" >
				<input placeholder="{{'Password'|translate}}" type="{{passwordInputType}}" style="width:100%; padding:5px" ng-model="inputFields.Password" required autofocus></input>
			</div>
			<div ng-hide="is_editing" class="col-lg-12" style="padding-bottom:5px; padding-top:5px"">
				<input type="checkbox" ng-model="showPasswordCheckBoxModel" ng-click="hideShowPassword()"><translate>Show password</translate></input>
			</div>
		</div>
		<div class="row" style="margin:5px">
			<div class="col-lg-12">
				<section class="text-center errorMesssages" ng-hide="validationErrors==''" style="color:red">
					{{ validationErrors }}
				</section>
			</div>
		</div>
	</div>

	<div class="row" ng-show="working == true" style="padding:10px">
		<div class="spinner" style="margin:5px"><div class="bar bar1"></div><div class="bar bar2"></div></div>
	</div>
</div>
<div class="modal-footer">
	<div class="row" style="margin:5px">
		<div class="col-lg-6" >
			<button class="btn btn-default btn-flat width-full-percentage" ng-click="cancelClicked()" ng-disabled="working"><translate>Cancel</translate></button>
		</div>
		<div class="col-lg-6" >
			<button class="btn btn-primary btn-flat width-full-percentage" ng-click="saveClicked()" class="md-primary" ng-disabled="working"> <translate>Save</translate> </button>
		</div>
	</div>
</div>
