
<div class="row" ng-hide="audit" >
	<div class="col-lg-12 ">
		<h4 style="text-align:center;"> <translate>No Audit selected.</translate></h4>

	</div>
</div>


<div ng-show="audit">


	<div class="row header-info" >
		<div class="col-lg-12">
			<table class="table table-bordered" style="word-wrap: break-word;" >
				<tr>
					<th  class="table-header" > <translate>Audit Name</translate> </th>
					<th  class="table-header" > <translate>Description </translate> </th>
					<th  class="table-header" > <translate>Created </translate> </th>
					<th  class="table-header" > <translate>Closed </translate> </th>
					<th  class="table-header" > <translate>Location </translate> </th>
					<th  class="table-header" > <translate>Category </translate> </th>
				</tr>

				<tr>
					<td> {{ audit.name }} </td>
					<td> {{ audit.description }} </td>
					<td> {{ format_date_time(audit.created_date) }} </td>
					<td> {{ format_date_time(audit.closed_date) }} </td>
					<td> <a style="cursor:pointer" ng-click="location_link_clicked()"> {{ audit.location_name }} </a> </td>
					<td> <a style="cursor:pointer" ng-click="category_link_clicked()"> {{ audit.category_name }} </a> </td>
				</tr>
			</table>

		</div>
	</div>

	<div ng-if="working" ng-include="'views/WorkingView.html'"></div>
	<div ng-if="working == false">

		<div class="row" >
			<div class="col-lg-12 button-menu-bar">
				<button class="btn btn-refresh btn-flat   "  ng-click="refreshClicked()"><i class="fa fa-refresh"></i></button>

				<button ng-if="audit.closed_date == null && user && user.perm_audit_edit == 1" class="btn btn-primary btn-flat   btn-min-width"  ng-click="addExtraItemButtonClicked()" ><i class="fa fa-pencil"></i>&nbsp;<translate>Add extra items</translate></button>
				<button ng-if="audit.closed_date == null && user && user.perm_audit_edit == 1" class="btn btn-primary btn-flat   btn-min-width"  ng-click="editCountButtonClicked()" ng-disabled="!isEditButtonEnabled"><i class="fa fa-pencil"></i>&nbsp;<translate>Edit Count</translate></button>
				<button ng-if="audit.closed_date == null && user && user.perm_audit_edit == 1" class="btn btn-primary btn-flat   btn-min-width"  ng-click="incrementButtonClicked()" ng-disabled="!isEditButtonEnabled"><i class="fa fa-pencil"></i>&nbsp;<translate>Set Count + 1</translate></button>
				<button ng-if="audit.closed_date == null && user && user.perm_audit_edit == 1" class="btn btn-primary btn-flat   btn-min-width"  ng-click="decrementButtonClicked()" ng-disabled="!isEditButtonEnabled"><i class="fa fa-pencil"></i>&nbsp;<translate>Set Count - 1</translate></button>
				<button ng-if="audit.closed_date == null && user && user.perm_audit_edit == 1" class="btn btn-primary btn-flat   btn-min-width"  ng-click="closeButtonClicked()" ng-disabled="audit.closed_date != null"><i class="fa fa-pencil"></i>&nbsp;<translate>Close</translate></button>

				<button ng-if=" user && user.perm_audit_view == 1" class="btn btn-primary btn-flat btn-min-width"  ng-click="downloadReportButtonClicked()" ><i class="fa fa-file-pdf-o "></i>&nbsp;<translate>Download Report</translate></button>
			</div>

			<div class="col-lg-12">
				<alert ng-repeat="alert in alerts" type="{{alert.type}}"  ng-click="closeAlert($index)" >{{alert.msg}}</alert>
			</div>
			<div class="col-lg-12">
				<!-- ui-grid-auto-resize -->
				<div id="grid2" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-pinning ui-grid-resize-columns ui-grid-move-columns  style="margin-top:5px"></div>
			</div>

		</div>

	</div>
</div>
