html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.md-button:not(.md-fab) {
	min-width: 10em;
}

.auth-dialog .md-subheader
{
	background-color: #03a9f4;
	margin: 0px;
}

.auth-dialog md-input-group.md-default-theme input, md-input-group.md-default-theme textarea
{
	width:100%;
}

button
{
}



/* Help button */
.help-icon {
	list-style: none;
	float: right;
	background: transparent;
	margin-top: 0px;
	margin-bottom: 0;
	font-size: 12px;
	padding: 7px 5px;
	position: absolute;
	top: 15px;
	right: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.help-icon > li > a {
	color: #444;
	text-decoration: none;
}
.help-icon > li > a > .fa,
.help-icon > li > a > .glyphicon,
.help-icon > li > a > .ion {
	margin-right: 5px;
}
.help-icon > li + li:before {
	/* content: '>\00a0'; */
}
@media screen and (max-width: 767px) {
	.help-icon {
		position: relative;
		margin-top: 5px;
		top: 0;
		right: 0;
		float: none;
		background: #efefef;
	}
}

.pointer-cursor
{
	cursor:pointer;
}


.btn-min-width
{
	min-width:150px;
}

.skin-black .sidebar > .sidebar-menu  li.not-active > a
{
	color: #eee;
	background:#333333;
	/* color: red; */
	/* background: blue; */
}


.modal-header
{
	color:white;
	border:0px;
/*	background:#03a9f4;
	background:#1D749D;*/
	background:#0A6CBB;

}

.modal-content
{
	border:0px;
	border-radius: 0px;
}

.modal-sm
{
	width:350px;
}

.modal-lg
{
	width:500px;
}

.width-full-percentage
{
	width:100%;
}



/* Progress */

.spinner {
	position: relative;
	width: 100%;
	height: 7px;
	opacity: 1;
	background-color: #026FA2;
	overflow: hidden;
}
.spinner .bar {
	height: 7px;
	background-color: #03AAF2;
	position: absolute;
}
.spinner .bar1 {
	left: 50%;
	width: 10%;
	-webkit-animation: bar1 7s infinite linear;
	-moz-animation: bar1 7s infinite linear;
	-ms-animation: bar1 7s infinite linear;
	animation: bar1 7s infinite linear;
}
.spinner .bar2 {
	left: 0%;
	width: 0%;
	-webkit-animation: bar2 7s infinite;
	-moz-animation: bar2 7s infinite;
	-ms-animation: bar2 7s infinite;
	animation: bar2 7s infinite;
}

@-webkit-keyframes bar1 {
	0% {
		width: 0%;
		left: 0%;
	}
	10% {
		width: 30%;
		left: 100%;
	}
	19.99% {
		width: 30%;
		left: 100%;
	}
	20% {
		width: 0%;
		left: 0%;
	}
	30% {
		width: 80%;
		left: 100%;
	}
	30.01% {
		width: 0%;
		left: 0%;
	}
	40% {
		width: 5%;
		left: 30%;
	}
	50% {
		width: 50%;
		left: 100%;
	}
	50.01% {
		width: 0%;
		left: 0%;
	}
	60% {
		width: 60%;
		left: 20%;
	}
	70% {
		width: 5%;
		left: 100%;
	}
	70.01% {
		width: 0%;
		left: 0%;
	}
	80% {
		width: 50%;
		left: 30%;
	}
	90% {
		width: 10%;
		left: 80%;
	}
	100% {
		width: 20%;
		left: 100%;
	}
}
@-moz-keyframes bar1 {
	0% {
		width: 0%;
		left: 0%;
	}
	10% {
		width: 30%;
		left: 100%;
	}
	19.99% {
		width: 30%;
		left: 100%;
	}
	20% {
		width: 0%;
		left: 0%;
	}
	30% {
		width: 80%;
		left: 100%;
	}
	30.01% {
		width: 0%;
		left: 0%;
	}
	40% {
		width: 5%;
		left: 30%;
	}
	50% {
		width: 50%;
		left: 100%;
	}
	50.01% {
		width: 0%;
		left: 0%;
	}
	60% {
		width: 60%;
		left: 20%;
	}
	70% {
		width: 5%;
		left: 100%;
	}
	70.01% {
		width: 0%;
		left: 0%;
	}
	80% {
		width: 50%;
		left: 30%;
	}
	90% {
		width: 10%;
		left: 80%;
	}
	100% {
		width: 20%;
		left: 100%;
	}
}
@-ms-keyframes bar1 {
	0% {
		width: 0%;
		left: 0%;
	}
	10% {
		width: 30%;
		left: 100%;
	}
	19.99% {
		width: 30%;
		left: 100%;
	}
	20% {
		width: 0%;
		left: 0%;
	}
	30% {
		width: 80%;
		left: 100%;
	}
	30.01% {
		width: 0%;
		left: 0%;
	}
	40% {
		width: 5%;
		left: 30%;
	}
	50% {
		width: 50%;
		left: 100%;
	}
	50.01% {
		width: 0%;
		left: 0%;
	}
	60% {
		width: 60%;
		left: 20%;
	}
	70% {
		width: 5%;
		left: 100%;
	}
	70.01% {
		width: 0%;
		left: 0%;
	}
	80% {
		width: 50%;
		left: 30%;
	}
	90% {
		width: 10%;
		left: 80%;
	}
	100% {
		width: 20%;
		left: 100%;
	}
}
@keyframes bar1 {
	0% {
		width: 0%;
		left: 0%;
	}
	10% {
		width: 30%;
		left: 100%;
	}
	19.99% {
		width: 30%;
		left: 100%;
	}
	20% {
		width: 0%;
		left: 0%;
	}
	30% {
		width: 80%;
		left: 100%;
	}
	30.01% {
		width: 0%;
		left: 0%;
	}
	40% {
		width: 5%;
		left: 30%;
	}
	50% {
		width: 50%;
		left: 100%;
	}
	50.01% {
		width: 0%;
		left: 0%;
	}
	60% {
		width: 60%;
		left: 20%;
	}
	70% {
		width: 5%;
		left: 100%;
	}
	70.01% {
		width: 0%;
		left: 0%;
	}
	80% {
		width: 50%;
		left: 30%;
	}
	90% {
		width: 10%;
		left: 80%;
	}
	100% {
		width: 20%;
		left: 100%;
	}
}
@-webkit-keyframes bar2 {
	0% {
		width: 0%;
		left: 0%;
	}
	10% {
		width: 60%;
	}
	19.99% {
		width: 40%;
		left: 100%;
	}
	20% {
		width: 0%;
		left: 0%;
	}
	25% {
		width: 10%;
		left: 10%;
	}
	30% {
		width: 40%;
		left: 30%;
	}
	40% {
		width: 60%;
		left: 100%;
	}
	40.01% {
		width: 0%;
		left: 0%;
	}
	50% {
		width: 10%;
		left: 40%;
	}
	60% {
		width: 30%;
		left: 100%;
	}
	60.01% {
		width: 0%;
		left: 0%;
	}
	70% {
		width: 10%;
		left: 40%;
	}
	80% {
		width: 5%;
		left: 100%;
	}
	80.01% {
		width: 0%;
		left: 0%;
	}
	90% {
		width: 70%;
		left: 10%;
	}
	100% {
		width: 10%;
		left: 100%;
	}
}
@-moz-keyframes bar2 {
	0% {
		width: 0%;
		left: 0%;
	}
	10% {
		width: 60%;
	}
	19.99% {
		width: 40%;
		left: 100%;
	}
	20% {
		width: 0%;
		left: 0%;
	}
	25% {
		width: 10%;
		left: 10%;
	}
	30% {
		width: 40%;
		left: 30%;
	}
	40% {
		width: 60%;
		left: 100%;
	}
	40.01% {
		width: 0%;
		left: 0%;
	}
	50% {
		width: 10%;
		left: 40%;
	}
	60% {
		width: 30%;
		left: 100%;
	}
	60.01% {
		width: 0%;
		left: 0%;
	}
	70% {
		width: 10%;
		left: 40%;
	}
	80% {
		width: 5%;
		left: 100%;
	}
	80.01% {
		width: 0%;
		left: 0%;
	}
	90% {
		width: 70%;
		left: 10%;
	}
	100% {
		width: 10%;
		left: 100%;
	}
}
@-ms-keyframes bar2 {
	0% {
		width: 0%;
		left: 0%;
	}
	10% {
		width: 60%;
	}
	19.99% {
		width: 40%;
		left: 100%;
	}
	20% {
		width: 0%;
		left: 0%;
	}
	25% {
		width: 10%;
		left: 10%;
	}
	30% {
		width: 40%;
		left: 30%;
	}
	40% {
		width: 60%;
		left: 100%;
	}
	40.01% {
		width: 0%;
		left: 0%;
	}
	50% {
		width: 10%;
		left: 40%;
	}
	60% {
		width: 30%;
		left: 100%;
	}
	60.01% {
		width: 0%;
		left: 0%;
	}
	70% {
		width: 10%;
		left: 40%;
	}
	80% {
		width: 5%;
		left: 100%;
	}
	80.01% {
		width: 0%;
		left: 0%;
	}
	90% {
		width: 70%;
		left: 10%;
	}
	100% {
		width: 10%;
		left: 100%;
	}
}
@keyframes bar2 {
	0% {
		width: 0%;
		left: 0%;
	}
	10% {
		width: 60%;
	}
	19.99% {
		width: 40%;
		left: 100%;
	}
	20% {
		width: 0%;
		left: 0%;
	}
	25% {
		width: 10%;
		left: 10%;
	}
	30% {
		width: 40%;
		left: 30%;
	}
	40% {
		width: 60%;
		left: 100%;
	}
	40.01% {
		width: 0%;
		left: 0%;
	}
	50% {
		width: 10%;
		left: 40%;
	}
	60% {
		width: 30%;
		left: 100%;
	}
	60.01% {
		width: 0%;
		left: 0%;
	}
	70% {
		width: 10%;
		left: 40%;
	}
	80% {
		width: 5%;
		left: 100%;
	}
	80.01% {
		width: 0%;
		left: 0%;
	}
	90% {
		width: 70%;
		left: 10%;
	}
	100% {
		width: 10%;
		left: 100%;
	}
}


/* radio button */


.radio {
	display: inline-block;
	padding-right: 20px;
	font-size: 18px;
	line-height: 49px;
	cursor: pointer;
}

.radio:hover .inner {
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: .5;
}

.radio input {
	width: 1px;
	height: 1px;
	opacity: 0;
}

.radio input:checked + .outer .inner {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.radio input:checked + .outer { border: 3px solid #f08b3b; }

.radio input:focus + .outer .inner {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	background-color: #e67012;
}

.radio .outer {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	margin: 10px 9px 10px 10px;
	border: 3px solid #0c70b4;
	border-radius: 50%;
	background-color: #fff;
}

.radio .inner {
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	width: 16px;
	height: 16px;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	display: block;
	margin: 2px;
	border-radius: 50%;
	background-color: #f08b3b;
	opacity: 0;
}



/*
input[type="radio"] {
position:absolute;
opacity: 0;
-moz-opacity: 0;
-webkit-opacity: 0;
-o-opacity: 0;
}
input[type="radio"]  {
position:relative;
padding: 0 0 0 25px;
font-size: 16px;
line-height: 16px;
}
input[type="radio"] {
content:"";
display:block;
position:absolute;
top:2px;
height: 14px;
width: 14px;
background: white;
border: 1px solid gray;
box-shadow: inset 0px 0px 0px 2px white;
-webkit-box-shadow: inset 0px 0px 0px 2px white;
-moz-box-shadow: inset 0px 0px 0px 2px white;
-o-box-shadow: inset 0px 0px 0px 2px white;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
-o-border-radius: 8px;
}
input[type="radio"]:checked  {
background: #ef8700;
} */



.modal-header h4
{
	font-size:15px;
}

body
{
	/* sposobi to, ze sa grid bude roztahovat a zatahovat */
	overflow-x: visible!important;
	height:100%;
}

.alert
{
	padding: 10px;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	border-radius:0px;
	cursor:pointer;
}

.navbar-right {
	margin-right: 0px;
}

.nav-tabs>li>a
{
	border-radius:0px;
}

.multiSelect .button
{
	width:100%;
}


.item-detail .box
{
	height:100%;
	border-radius:0px;
}

.box
{
	height:100%;
	border-radius:0px;
}

.btn.btn-app
{
	min-width:100px;
}

.small-box h3
{
	font-weight:300;
}


.info-box-alert {
	display: block;
	min-height: 90px;
	background: #fff;
	width: 100%;
	box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.5);
	border-radius: 1px;
	margin-bottom: 15px;
	/*border:1px solid #eee;*/
}

.info-box-alert  .info-box-icon {
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
	display: block;
	float: left;
	height: 90px;
	width: 90px;
	text-align: center;
	font-size: 45px;
	line-height: 90px;
	background: rgba(0, 0, 0, 0.2);
}

.info-box {
	display: block;
	min-height: 120px;
	background: #fff;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	margin-bottom: 15px;
}
.info-box small {
	font-size: 14px;
}
.info-box .progress {
	background: rgba(0, 0, 0, 0.2);
	margin: 5px -10px 5px -10px;
	height: 2px;
}
.info-box .progress,
.info-box .progress .progress-bar {
	border-radius: 0;
}
.info-box .progress .progress-bar {
	background: #fff;
}
.info-box-icon {
	border-top-left-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
	display: block;
	float: left;
	height: 120px;
	width: 90px;
	text-align: center;
	font-size: 45px;
	line-height: 120px;
	background: rgba(0, 0, 0, 0.2);
}
.info-box-content {
	padding: 5px 10px;
	margin-left: 90px;
}
.info-box-number {
	display: block;
	font-weight: bold;
	font-size: 18px;
}
.progress-description,
.info-box-text {
	display: block;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.info-box-text {
	text-transform: uppercase;
}
.info-box-more {
	display: block;
}
.progress-description {
	margin: 0;
}

.info-box-icon-right
{
	right:45px;
	padding-right:10px;
	top:0px;
	position:absolute;
	font-size: 90px;
	font-weight: 600;
	background: rgba(0, 0, 0, 0);
	color: rgba(255, 255, 255, 0.32);
}
.bg-transparent
{
	background: rgba(0, 0, 0, 0);
	color: rgba(255, 255, 255, 0.32);

}

.info-box-title
{
	display: block;
	/* font-weight: bold; */
	font-weight:300;
	font-size: 35px;
}

.table-header
{
	/*background: #FAFAFA;*/
	background: #ecf0f5;

}

.sidebar-menu .treeview-menu>li>a
{
	padding-top:12px;
	padding-bottom:12px;
}

.navbar-btn
{
	margin: 0px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header
{
	height:100%;
}

.sidebar-mini.sidebar-collapse .main-header .logo
{
	width:auto;
}

.skin-blue .main-header .logo {
	background:transparent;
}

.skin-blue .main-header .logo:hover {
	background: transparent;
}

.main-header .logo {
	width:auto;
}

.content-wrapper
{
	background:#FFF;
}

td {
	/* border: 1px solid #D2D2D2 !important; */
}

.ui-grid-top-panel
{
	background: #f3f3f3;
	background: #ecf0f5;
}

.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell
{
	background: #f3f3f3;
	background: #ecf0f5;
}

.ui-grid-footer-panel
{
	background: #f3f3f3;
	background: #ecf0f5;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #f3f3f3;
    background: #ecf0f5;
}


.permission-header
{
	width:10%;
	font-weight:bold;
	padding:5px;
	font-size:15px;
}

.permission-data
{
	font-weight:normal;
	padding:5px;
	font-size:15px;
	width:50px;
}

.permission-data label
{
	font-weight:normal;
}






.modal-90-percent
{
	width: 90%;
}

.modal-80-percent
{
	width: 80%;
}

.modal-75-percent
{
	width: 75%;
}

.modal-70-percent
{
	width: 70%;
}

.alert-cell
{
	background-color: red !important;
	font-weight: bold;
}

.btn-group
{
	margin-left: 3px;
	margin-right: 3px;
}


.user-panel > .info > .info-role {

	color:#AAA;
	font-style: italic;
}


.skin-blue .main-header .navbar {
    background-color: #0A60A6;
}

.skin-blue .main-header li.user-header {
    background-color: #0A60A6;
}

.inline-edit-enabled-header-cell
{
	/*background-color: rgba(0, 224, 0, 0.1) !important;*/
}


.cell-class-red-alert, .cell-class-red-alert a
{
	/*background-color: #F8D9D9   !important;*/
	color:red !important;
	font-weight: 600;
}


.dashboard-alert-box .btn-box-tool:hover, .dashboard-alert-box .btn-box-tool {
    color: #FFFFFF;
}

.min-alert-active-text
{
	color:red;
	font-weight: bold;
}