
/* body {
	background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
} */

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
	Wrap Sections
========================================================================== */

#headerwrap {
	/* background-color: #34495e; */
	/* background-color: #0E9ECE; */
	/* background-color: #1BA3E1; */
	background:white;
	padding-top: 40px;
	padding-bottom: 40px;
}

#headerwrap h1 {
	margin-top: 30px;
	font-size: 70px;

}

#headerwrap h3 {
	font-size: 30px;
}

#headerwrap h5 {
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
}

/* intro Wrap */

#intro {
	padding-top: 50px;
}

#features {
	padding-top: 50px;
	padding-bottom: 50px;
}

#features .ac a{
	font-size: 20px;
}

/* Showcase Wrap */


/*#showcase {
	display: block;
	background-color: #34495e;
	padding-top: 50px;
	padding-bottom: 50px;
}
*/
#showcase h1 {
	color: white;
}

#footerwrap {
	background-color: #222d32;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

#footerwrap h3 {
	font-size: 28px;
	color: white;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white
}


.feature
{
	font-size:18px;
}


.feature p
{
}

.landing, .landing h1, .landing h2, .landing h3, .landing h4
{
	/*font-family: 'Open Sans';*/
	font-weight: 300;
}


#accordion
{
	text-align:justify;
	font-size:18px;
	font-weight:400;
}

#accordion h4
{
	font-size:25px;
	font-weight:300;
}

#accordion a
{
	color:black
}

.accordion-panel
{
	padding-top:15px;
}

.tweets
{
	max-width:950px;
	margin:0px auto;
}

.showcase, .tweets
{
    background-color:#FEFEFE;
}



/***********features intro**********/
.features-intro{
    padding-top: 80px;
    padding-bottom: 50px;
}
.features-intro-box{
    text-align: center;
}
.features-intro-box h3{
    margin: 15px 0;
    font-weight: 400;
    /*font-style: italic;*/
    font-size: 20px;
}
.features-intro-box p{
    margin-bottom: 0px;
    font-size:17px;
        text-align: center;

}
.features-intro-box i{
    width:120px;
    margin-bottom: 5px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    font-size: 60px;
    color:#fff;
    /*border-radius: 50%;*/
    /*-webkit-border-radius: 50%;*/
    display: inline-block;
    border: 1px solid transparent;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.features-intro-box i.red{
    background-color: #f54c54;
}
.features-intro-box i.green{
    background-color:#00aeff;
}
.features-intro-box i.blue{
    background-color: #0C78CF;
}
.features-intro-box i.black{
    background-color: #222;
}
.features-intro-box:hover i{
/*    background-color: transparent;
    border-color:#e9f0f2;
    color:#555;*/
}

.foreground-blue
{
    /*color: #0A6CBB;*/
}