
/******************************************************************
Buttons
******************************************************************/
/*.btn-flat,*/
.btn-raised {
-moz-user-select:none;
-ms-touch-action:manipulation;
-ms-user-select:none;
-o-transition:all .4s;
-webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.4);
-webkit-transition:all .4s;
-webkit-user-select:none;
background-image:none;
border:none;
border-radius:3px;
box-shadow:1px 1px 4px rgba(0,0,0,0.4);
cursor:pointer;
display:inline-block;
font-size:13px;
font-weight:400;
line-height:1.846;
margin-bottom:0;
padding:6px 16px;
text-align:center;
text-transform:uppercase;
touch-action:manipulation;
transition:all .4s;
user-select:none;
vertical-align:middle;
white-space:nowrap;
background: transparent;;
}

.btn .label,.btn .badge {
position:relative;
top:-1px;
}

.btn-block + .btn-block,.alert > p + p,.panel-group .panel + .panel {
margin-top:5px;
}

.btn-danger {
-webkit-background-size:200% 200%;
background-color:#e51c23;
background-position:50%;
background-size:200%;
border-color:transparent;
color:#fff;
}

.btn-danger .badge,.panel-danger > .panel-heading .badge {
background-color:#fff;
color:#e51c23;
}

.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled.focus,.btn-danger[disabled].focus,fieldset[disabled] .btn-danger.focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active {
background-color:#e51c23;
border-color:transparent;
}

.btn-danger:active {
-webkit-background-size:1000% 1000%;
-webkit-box-shadow:2px 2px 4px rgba(0,0,0,0.4);
background-color:#b0141a;
background-image:radial-gradient(circle,#b0141a10%,#e51c2311%);
background-repeat:no-repeat;
background-size:1000%;
box-shadow:2px 2px 4px rgba(0,0,0,0.4);
}

.btn-danger:active,.btn-danger.active,.open > .dropdown-toggle.btn-danger {
background-color:#b9151b;
background-image:none;
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-danger:active:hover,.btn-danger.active:hover,.open > .dropdown-toggle.btn-danger:hover,.btn-danger:active:focus,.btn-danger.active:focus,.open > .dropdown-toggle.btn-danger:focus,.btn-danger:active.focus,.btn-danger.active.focus,.open > .dropdown-toggle.btn-danger.focus {
background-color:#991216;
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-danger:focus,.btn-danger.focus,.btn-danger:hover {
background-color:#b9151b;
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-danger:hover,.btn-danger:active:hover {
background-color:#cb171e;
}

.btn-refresh,
.btn-no-background {
-webkit-background-size:200% 200%;
background-color:#fff;
background-position:50%;
background-size:200%;
border-color:transparent;
color:#444;
}

/*.btn-default {
-webkit-background-size:200% 200%;
background-color:#fff;
background-position:50%;
background-size:200%;
border-color:transparent;
color:#444;
}*/

.btn-default .badge {
background-color:#444;
color:#fff;
}

.btn-default.disabled {
background-color:rgba(0,0,0,0.1);
color:rgba(0,0,0,0.4);
opacity:1;
}

.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active,.navbar-default {
background-color:#fff;
border-color:transparent;
}

.btn-default:active,.btn-default.active,.open > .dropdown-toggle.btn-default {
background-color:#e6e6e6;
background-image:none;
border-color:rgba(0,0,0,0);
color:#444;
}

.btn-default:active,.btn-link:active {
-webkit-background-size:1000% 1000%;
-webkit-box-shadow:2px 2px 4px rgba(0,0,0,0.4);
background-color:#e0e0e0;
background-image:radial-gradient(circle,#e0e0e010%,#ffffff11%);
background-repeat:no-repeat;
background-size:1000%;
box-shadow:2px 2px 4px rgba(0,0,0,0.4);
}

.btn-default:active:hover,.btn-default.active:hover,.open > .dropdown-toggle.btn-default:hover,.btn-default:active:focus,.btn-default.active:focus,.open > .dropdown-toggle.btn-default:focus,.btn-default:active.focus,.btn-default.active.focus,.open > .dropdown-toggle.btn-default.focus {
background-color:#d4d4d4;
border-color:rgba(0,0,0,0);
color:#444;
}

.btn-default:focus,.btn-default.focus,.btn-default:hover {
background-color:#e6e6e6;
border-color:rgba(0,0,0,0);
color:#444;
}

.btn-default:hover,.btn-default:active:hover,.btn-link:hover,.btn-link:active:hover {
background-color:#f0f0f0;
}

.btn-group > .btn + .dropdown-toggle {
padding-left:8px;
padding-right:8px;
}

.btn-group > .btn,.btn-group-vertical > .btn {
float:left;
position:relative;
}

.btn-group > .btn-lg + .dropdown-toggle {
padding-left:12px;
padding-right:12px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle,.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child > .btn,.input-group-btn:first-child > .btn-group > .btn,.input-group-btn:first-child > .dropdown-toggle,.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
border-bottom-right-radius:0;
border-top-right-radius:0;
}

.btn-group > .btn:hover,.btn-group-vertical > .btn:hover,.btn-group > .btn:focus,.btn-group-vertical > .btn:focus,.btn-group > .btn:active,.btn-group-vertical > .btn:active,.btn-group > .btn.active,.btn-group-vertical > .btn.active,.input-group-btn > .btn:hover,.input-group-btn > .btn:focus,.input-group-btn > .btn:active {
z-index:2;
}

.btn-group > .btn:last-child:not(:first-child),.btn-group > .dropdown-toggle:not(:first-child),.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child,.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child > .btn,.input-group-btn:last-child > .btn-group > .btn,.input-group-btn:last-child > .dropdown-toggle,.input-group-btn:first-child > .btn:not(:first-child),.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
border-bottom-left-radius:0;
border-top-left-radius:0;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn,.btn-group-vertical > .btn:not(:first-child):not(:last-child),.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn,.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child) {
border-radius:0;
}

.btn-group,.btn-group-vertical {
display:inline-block;
position:relative;
vertical-align:middle;
}

.btn-group-justified {
border-collapse:separate;
display:table;
table-layout:fixed;
width:100%;
}

.btn-group-justified > .btn,.btn-group-justified > .btn-group {
display:table-cell;
float:none;
width:1%;
}

.btn-group-vertical > .btn + .btn,.btn-group-vertical > .btn + .btn-group,.btn-group-vertical > .btn-group + .btn,.btn-group-vertical > .btn-group + .btn-group {
margin-left:0;
margin-top:0;
}

.btn-group-vertical > .btn,.btn-group-vertical > .btn-group,.btn-group-vertical > .btn-group > .btn {
display:block;
float:none;
max-width:100%;
width:100%;
}

.btn-group-vertical > .btn-group > .btn,.nav-tabs.nav-justified > li,.nav-stacked > li,.nav-justified > li {
float:none;
}

.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
border-bottom-left-radius:0;
border-bottom-right-radius:0;
}

.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child,.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
border-top-left-radius:0;
border-top-right-radius:0;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
border-bottom-left-radius:0;
border-bottom-right-radius:0;
border-top-right-radius:3px;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
border-bottom-left-radius:3px;
border-top-left-radius:0;
border-top-right-radius:0;
}

.btn-group.open .dropdown-toggle {
-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
}

.btn-group.open .dropdown-toggle.btn-link {
-webkit-box-shadow:none;
box-shadow:none;
}

.btn-info {
-webkit-background-size:200% 200%;
/*background-color:#9c27b0;*/
background-position:50%;
background-size:200%;
border-color:transparent;
color:#fff;
}

.btn-info .badge,.panel-info > .panel-heading .badge {
/*background-color:#fff;*/
color:#9c27b0;
}

.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled.focus,.btn-info[disabled].focus,fieldset[disabled] .btn-info.focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active {
/*background-color:#9c27b0;*/
border-color:transparent;
}

.btn-info:active {
-webkit-background-size:1000% 1000%;
-webkit-box-shadow:2px 2px 4px rgba(0,0,0,0.4);
/*background-color:#701c7e;*/
/*background-image:radial-gradient(circle,#701c7e10%,#9c27b011%);*/
background-repeat:no-repeat;
background-size:1000%;
box-shadow:2px 2px 4px rgba(0,0,0,0.4);
}

.btn-info:active,.btn-info.active,.open > .dropdown-toggle.btn-info {
/*background-color:#771e86;*/
background-image:none;
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-info:active:hover,.btn-info.active:hover,.open > .dropdown-toggle.btn-info:hover,.btn-info:active:focus,.btn-info.active:focus,.open > .dropdown-toggle.btn-info:focus,.btn-info:active.focus,.btn-info.active.focus,.open > .dropdown-toggle.btn-info.focus {
/*background-color:#5d1769;*/
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-info:focus,.btn-info.focus,.btn-info:hover {
/*background-color:#771e86;*/
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-info:hover,.btn-info:active:hover {
/*background-color:#862197;*/
}

.btn-lg .caret {
border-width:5px 5px 0;
}

.btn-lg,.btn-group-lg > .btn {
border-radius:3px;
font-size:17px;
line-height:1.3333333;
padding:10px 16px;
}

.btn-link {
-webkit-background-size:200% 200%;
-webkit-box-shadow:none;
background-position:50%;
background-size:200%;
border-radius:3px;
box-shadow:none;
color:#444;
font-weight:400;
}

.btn-link,.btn-link:active,.btn-link.active,.btn-link[disabled],fieldset[disabled] .btn-link {
-webkit-box-shadow:none;
background-color:transparent;
box-shadow:none;
}

.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active,.navbar-default .navbar-toggle,.navbar-default .navbar-collapse,.navbar-default .navbar-form,.navbar-inverse .navbar-toggle {
border-color:transparent;
}

.btn-link:hover,.btn-link:focus {
-webkit-box-shadow:none;
background-color:transparent;
box-shadow:none;
color:#444;
text-decoration:none;
}

.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus {
color:#bbb;
text-decoration:none;
}

.btn-primary {
-webkit-background-size:200% 200%;
background-color:#2196f3;
background-position:50%;
background-size:200%;
border-color:transparent;
color:#fff;
}

.btn-primary .badge,.list-group-item.active > .badge,.nav-pills > .active > a > .badge,.panel-primary > .panel-heading .badge {
background-color:#fff;
color:#2196f3;
}

.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus,.btn-primary[disabled].focus,fieldset[disabled] .btn-primary.focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active,.navbar-inverse {
background-color:#2196f3;
border-color:transparent;
}

.btn-primary:active {
-webkit-background-size:1000% 1000%;
-webkit-box-shadow:2px 2px 4px rgba(0,0,0,0.4);
background-color:#0b76cc;
background-image:radial-gradient(circle,#0b76cc10%,#2196f311%);
background-repeat:no-repeat;
background-size:1000%;
box-shadow:2px 2px 4px rgba(0,0,0,0.4);
}

.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary {
background-color:#0c7cd5;
background-image:none;
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-primary:active:hover,.btn-primary.active:hover,.open > .dropdown-toggle.btn-primary:hover,.btn-primary:active:focus,.btn-primary.active:focus,.open > .dropdown-toggle.btn-primary:focus,.btn-primary:active.focus,.btn-primary.active.focus,.open > .dropdown-toggle.btn-primary.focus {
background-color:#0a68b4;
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-primary:focus,.btn-primary.focus,.btn-primary:hover {
background-color:#0c7cd5;
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-primary:hover,.btn-primary:active:hover {
background-color:#0d87e9;
}

.btn-sm,.btn-group-sm > .btn {
border-radius:3px;
font-size:12px;
line-height:1.5;
padding:5px 10px;
}

.btn-success {
-webkit-background-size:200% 200%;
background-color:#4caf50;
background-position:50%;
background-size:200%;
border-color:transparent;
color:#fff;
}

.btn-success .badge,.panel-success > .panel-heading .badge {
background-color:#fff;
color:#4caf50;
}

.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled.focus,.btn-success[disabled].focus,fieldset[disabled] .btn-success.focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active {
background-color:#4caf50;
border-color:transparent;
}

.btn-success:active {
-webkit-background-size:1000% 1000%;
-webkit-box-shadow:2px 2px 4px rgba(0,0,0,0.4);
background-color:#39843c;
background-image:radial-gradient(circle,#39843c10%,#4caf5011%);
background-repeat:no-repeat;
background-size:1000%;
box-shadow:2px 2px 4px rgba(0,0,0,0.4);
}

.btn-success:active,.btn-success.active,.open > .dropdown-toggle.btn-success {
background-color:#3d8b40;
background-image:none;
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-success:active:hover,.btn-success.active:hover,.open > .dropdown-toggle.btn-success:hover,.btn-success:active:focus,.btn-success.active:focus,.open > .dropdown-toggle.btn-success:focus,.btn-success:active.focus,.btn-success.active.focus,.open > .dropdown-toggle.btn-success.focus {
background-color:#327334;
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-success:focus,.btn-success.focus,.btn-success:hover {
background-color:#3d8b40;
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-success:hover,.btn-success:active:hover {
background-color:#439a46;
}

.btn-toolbar {
margin-left:-5px;
}

.btn-toolbar > .btn,.btn-toolbar > .btn-group,.btn-toolbar > .input-group {
margin-left:5px;
}

.btn-warning {
-webkit-background-size:200% 200%;
background-color:#ff9800;
background-position:50%;
background-size:200%;
border-color:transparent;
color:#fff;
}

.btn-warning .badge,.panel-warning > .panel-heading .badge {
background-color:#fff;
color:#ff9800;
}

.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled.focus,.btn-warning[disabled].focus,fieldset[disabled] .btn-warning.focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active {
background-color:#ff9800;
border-color:transparent;
}

.btn-warning:active {
-webkit-background-size:1000% 1000%;
-webkit-box-shadow:2px 2px 4px rgba(0,0,0,0.4);
background-color:#c27400;
background-image:radial-gradient(circle,#c2740010%,#ff980011%);
background-repeat:no-repeat;
background-size:1000%;
box-shadow:2px 2px 4px rgba(0,0,0,0.4);
}

.btn-warning:active,.btn-warning.active,.open > .dropdown-toggle.btn-warning {
background-color:#cc7a00;
background-image:none;
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-warning:active:hover,.btn-warning.active:hover,.open > .dropdown-toggle.btn-warning:hover,.btn-warning:active:focus,.btn-warning.active:focus,.open > .dropdown-toggle.btn-warning:focus,.btn-warning:active.focus,.btn-warning.active.focus,.open > .dropdown-toggle.btn-warning.focus {
background-color:#a86400;
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-warning:focus,.btn-warning.focus,.btn-warning:hover {
background-color:#cc7a00;
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-warning:hover,.btn-warning:active:hover {
background-color:#e08600;
}

.btn-xs .badge,.btn-group-xs > .btn .badge {
padding:1px 5px;
top:0;
}

.btn-xs,.btn-group-xs > .btn {
border-radius:3px;
font-size:12px;
line-height:1.5;
padding:1px 5px;
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
-webkit-box-shadow:none;
box-shadow:none;
cursor:not-allowed;
filter:alpha(opacity=65);
opacity:0.65;
}

.btn:active,.btn.active {
-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
background-image:none;
box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
outline:0;
}

/*.btn:hover,.btn:focus,.btn.focus {
color:#444;
text-decoration:none;
}
*/

a {
  color: #2196f3;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0a6ebd;
  /*text-decoration: underline;*/
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}










/****************************************************************
Check Box
****************************************************************/

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}



.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
  padding-left: 25px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="radio"],
.checkbox-inline input[type="radio"],
.radio input[type="checkbox"],
.radio-inline input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -25px;
}
input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 6px;
  margin-right: 4px;
  vertical-align: top;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
  outline: none;
}
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before,
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;
}
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: -3px;
  background-color: #2196f3;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  position: relative;
  top: -3px;
  border: 2px solid #666666;
}
input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
  background-color: #bbbbbb;
}
input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #2196f3;
}
input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:after,
input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:checked:after {
  border-color: #bbbbbb;
}
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}
input[type="checkbox"]:focus:after,
.checkbox input[type="checkbox"]:focus:after,
.checkbox-inline input[type="checkbox"]:focus:after {
  border-color: #2196f3;
}
input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -2px;
  margin-right: 5px;
  border: 2px solid #666666;
  border-radius: 2px;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;
}
input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #2196f3;
  border-color: #2196f3;
}
input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #bbbbbb;
}
input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #bbbbbb;
  border-color: transparent;
}
.has-warning input:not([type=checkbox]),
.has-warning .form-control,
.has-warning input.form-control[readonly],
.has-warning input[type=text][readonly],
.has-warning [type=text].form-control[readonly],
.has-warning input:not([type=checkbox]):focus,
.has-warning .form-control:focus {
  border-bottom: none;
  -webkit-box-shadow: inset 0 -2px 0 #ff9800;
  box-shadow: inset 0 -2px 0 #ff9800;
}
.has-error input:not([type=checkbox]),
.has-error .form-control,
.has-error input.form-control[readonly],
.has-error input[type=text][readonly],
.has-error [type=text].form-control[readonly],
.has-error input:not([type=checkbox]):focus,
.has-error .form-control:focus {
  border-bottom: none;
  -webkit-box-shadow: inset 0 -2px 0 #e51c23;
  box-shadow: inset 0 -2px 0 #e51c23;
}
.has-success input:not([type=checkbox]),
.has-success .form-control,
.has-success input.form-control[readonly],
.has-success input[type=text][readonly],
.has-success [type=text].form-control[readonly],
.has-success input:not([type=checkbox]):focus,
.has-success .form-control:focus {
  border-bottom: none;
  -webkit-box-shadow: inset 0 -2px 0 #4caf50;
  box-shadow: inset 0 -2px 0 #4caf50;
}


@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 30px;
}



.bg-material-blue
{
    background-color: #0C78CF !important;
    color:white;
}

.skin-qrko .bg-material-blue
{
    background-color: #05516A  !important;
    color:white;
}

.skin-qrko .dashboard-box-items
{
    background-color: #0A577B  !important;
}

.skin-qrko .dashboard-box-requests
{
    background-color: #3C8DBC  !important;
}

.skin-qrko .dashboard-box-audit
{
    background-color: #dd4b39  !important;
}

.skin-qrko .dashboard-box-location
{
    background-color: #00C0EF  !important;
}

.skin-qrko .dashboard-box-categories
{
    background-color: #f39c12  !important;
}

.skin-qrko .dashboard-box-tags
{
    background-color: #00a65a   !important;
}

.skin-qrko .dashboard-box-states
{
    background-color: #18B0A4     !important;
}





















.btn-black {
-webkit-background-size:200% 200%;
background-color:#222D32;
background-position:50%;
background-size:200%;
border-color:transparent;
color:#fff;
}

.btn-black .badge,.list-group-item.active > .badge,.nav-pills > .active > a > .badge,.panel-black > .panel-heading .badge {
background-color:#fff;
color:#2C3E50;
}

.btn-black.disabled,.btn-black[disabled],fieldset[disabled] .btn-black,.btn-black.disabled:hover,.btn-black[disabled]:hover,fieldset[disabled] .btn-black:hover,.btn-black.disabled:focus,.btn-black[disabled]:focus,fieldset[disabled] .btn-black:focus,.btn-black.disabled.focus,.btn-black[disabled].focus,fieldset[disabled] .btn-black.focus,.btn-black.disabled:active,.btn-black[disabled]:active,fieldset[disabled] .btn-black:active,.btn-black.disabled.active,.btn-black[disabled].active,fieldset[disabled] .btn-black.active,.navbar-inverse {
background-color:#2C3E50;
border-color:transparent;
}

.btn-black:active {
-webkit-background-size:1000% 1000%;
-webkit-box-shadow:2px 2px 4px rgba(0,0,0,0.4);
background-color:#0b76cc;
background-image:radial-gradient(circle,#0b76cc10%,#2196f311%);
background-repeat:no-repeat;
background-size:1000%;
box-shadow:2px 2px 4px rgba(0,0,0,0.4);
}

.btn-black:active,.btn-black.active,.open > .dropdown-toggle.btn-black {
background-color:#0c7cd5;
background-image:none;
border-color:rgba(0,0,0,0);
color:#fff;
}

.btn-black:hover,.btn-black.active:hover,.open > .dropdown-toggle.btn-black:hover,.btn-black:active:focus,.btn-black.active:focus,.open > .dropdown-toggle.btn-black:focus,.btn-black:active.focus,.btn-black.active.focus,.open > .dropdown-toggle.btn-black.focus {
background-color:#0d87e9;
background-color:#000;
border-color:rgba(0,0,0,0);
color:#fff;
}

