
.pricing-table {
    text-align: center;
    padding: 0;
    margin: 30px 0;
    line-height: 150%
}

.pricing-table li {
    list-style: none
}

.pricing-table>li {
    background-image: -webkit-linear-gradient(top, #ebeef5 0, #fff 100%);
    background-image: -o-linear-gradient(top, #ebeef5 0, #fff 100%);
    background-image: linear-gradient(to bottom, #ebeef5 0, #fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebeef5', endColorstr='#ffffffff', GradientType=0);
    color: #444;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

}

.pricing-table.dark>li {
    /* background-image: -webkit-linear-gradient(top, #666 0, #444 100%);
    background-image: -o-linear-gradient(top, #666 0, #444 100%);
    background-image: linear-gradient(to bottom, #666 0, #444 100%);
    background-repeat: repeat-x; */

	background:#444;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff444444', GradientType=0);
    color: #fff
}

.pricing-table.dark>li.active.default {
    color: #fff
}

.pricing-table>li.active {
    color: #fff;
    -webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.5);
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.5);
    z-index: 1
}

.pricing-table>li.active.default {
    color: #444
}

@media (min-width: 768px) {
    .pricing-table>li.active {
        -webkit-transform:scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
        transform: scale(1.03)
    }
}

.pricing-table>li.active.primary {
    /*background-image: -webkit-linear-gradient(top, #357ebd 0, #428bca 100%);
    background-image: -o-linear-gradient(top, #357ebd 0, #428bca 100%);
    background-image: linear-gradient(to bottom, #357ebd 0, #428bca 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff357ebd', endColorstr='#ff428bca', GradientType=0)*/

    background-color: #0A6CBB;
}

.pricing-table>li.active.success {
    background-image: -webkit-linear-gradient(top, #4cae4c 0, #5cb85c 100%);
    background-image: -o-linear-gradient(top, #4cae4c 0, #5cb85c 100%);
    background-image: linear-gradient(to bottom, #4cae4c 0, #5cb85c 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4cae4c', endColorstr='#ff5cb85c', GradientType=0)
}

.pricing-table>li.active.warning {
    background-image: -webkit-linear-gradient(top, #eea236 0, #f0ad4e 100%);
    background-image: -o-linear-gradient(top, #eea236 0, #f0ad4e 100%);
    background-image: linear-gradient(to bottom, #eea236 0, #f0ad4e 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeea236', endColorstr='#fff0ad4e', GradientType=0)
}

.pricing-table>li.active.danger {
    background-image: -webkit-linear-gradient(top, #d43f3a 0, #d9534f 100%);
    background-image: -o-linear-gradient(top, #d43f3a 0, #d9534f 100%);
    background-image: linear-gradient(to bottom, #d43f3a 0, #d9534f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd43f3a', endColorstr='#ffd9534f', GradientType=0)
}

.pricing-table>li.active.info {
    background-image: -webkit-linear-gradient(top, #46b8da 0, #5bc0de 100%);
    background-image: -o-linear-gradient(top, #46b8da 0, #5bc0de 100%);
    background-image: linear-gradient(to bottom, #46b8da 0, #5bc0de 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff46b8da', endColorstr='#ff5bc0de', GradientType=0)
}

.pricing-table .footer {
    padding: 15px;
    margin: 15px -15px 0;
    background: #eee;

	border:1px solid whitesmoke;
}

.pricing-table.dark .footer {
    background: #333;
	border:0px solid;
}

.pricing-table h3 {
    text-transform: uppercase;
    padding: 15px 0
}

.pricing-table .price-body {
    width: 125px;
    height: 125px;
    margin: 0 auto 15px auto;
    border: 2px solid #444;
    border-radius: 100%;
    display: table
}

.pricing-table.dark .price-body {
    border-color: #fff
}

.pricing-table>li.active.primary .price-body,.pricing-table>li.active.success .price-body,.pricing-table>li.active.warning .price-body,.pricing-table>li.active.danger .price-body,.pricing-table>li.active.info .price-body {
    border-color: #fff
}

.pricing-table .price {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    display: table-cell
}

.pricing-table .price .price-figure {
    display: block
}

.pricing-table .price .price-term {
    font-size: 11px;
    font-weight: normal
}

.pricing-table .features ul {
    margin: 0;
    padding: 0
}

.pricing-table .features ul li {
    padding: 5px 0
}
